<script>
    $(function() {
        /*$("input[type=radio][name=device]").change(function() {
            if (this.value == "desktop") {
                $("#page").css("width", "992px");
            }
            else if (this.value == "tablet") {
                $("#page").css("width", "768px");
            }
            else{
                $("#page").css("width", "320px");
            }          
        });*/
    });
</script>
<div id="wrapper">
    <!--HEADER-->
    <% include header %>
    <!--END HEADER-->

    <!--ASIDE-->
    <% include aside %>
    <!--END ASIDE-->

    <div id="page-wrapper">
        <header>
            <button type="button" class="btn btn-default"><input type="checkbox"></button>
            <div class="btn-group">
                <button type="button" class="btn btn-default">發佈</button>
                <button type="button" class="btn btn-default">還原為草稿</button>
                <button type="button" class="btn btn-default"><i class="fa fa-trash-o fa-fw"></i></button>
            </div>
        </header>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>
                        <div class="title">
                            【台北基隆-熊米屋手工餅乾】
                        </div>
                        <div class="title">
                            <a href="#">編輯</a> | <a href="#">預覽</a> | <a href="#">刪除</a>
                        </div>    
                    </td>
                    <td>已排程</td>
                    <td><a href="#">小人物 故事 情</a></td>
                    <td>2013/11/21</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>
                        <div class="title">
                            【大誌雜誌-The Big Issue Taiwan】
                        </div>
                        <div class="title">
                            <a href="#">編輯</a> | <a href="#">預覽</a> | <a href="#">刪除</a>
                        </div>   
                    </td>
                    <td>草稿</td>
                    <td><a href="#">Ryan Chiu</a></td>
                    <td>2013/11/15</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>
                        <div class="title">
                            【台北街頭-盲人歌手徐承邦】
                        </div>
                        <div class="title">
                            <a href="#">編輯</a> | <a href="#">檢視</a> | <a href="#">刪除</a>
                        </div>   
                    </td>
                    <td>草稿</td>
                    <td><a href="#">Ryan Chiu</a></td>
                    <td>2013/11/15</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>