<header>
<!-- 導覽列 -->
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">資訊種子招生網站 後台管理系統 v1.0</a>
            <ul class="main-nav nav navbar-nav">
                <li>
                    <a href="#">文章管理</a>
                </li>
                <li>
                    <a href="#">報名系統</a>
                </li>
            </ul>
            <ul class="login-area nav navbar-nav navbar-right">
                <li><a class="profile-pic" href="#">
                    <img class="img-responsive" src="images/layout/head.jpg" alt="">
                </a></li>
                <li><a href="#">登出</a></li>
            </ul>
        </div>
    </nav>
</header>
