<footer>
	<div class="contact-itseed" >
		<a href="https://www.facebook.com/iloveitseed/?fref=ts" class="fb">
			<img src="/images/layout/footer-fb.png" alt="">
		</a>
		<a href="mailto:itseed16th@gmail.com" class="email">
			<img src="/images/layout/footer-email.png" alt="">
		</a>
	</div>
	<div class="contact-ntca">
		<a href="http://www.ntca.org.tw" class="ntca">
			主辦單位：新北市電腦商業同業公會
			<img src="/images/layout/footer-ntca.png" alt="ntca">
		</a>
	</div>
	<div>
		<span class="copyright">Copyright &copy; 2019 - 資訊種子培訓計畫</span>
	</div>
</footer>
