<footer>
	<div class="container">
		<div class="row">
				<a href="https://www.facebook.com/iloveitseed/?fref=ts" target="_blank" class="fb">
					關注我們：
					<img src="/images/layout/fb.png" alt="" >
					資訊種子培訓計畫
				</a>
			<a href="http://www.ntca.org.tw" class="ntca-part">
				主辦單位：新北市電腦商業同業公會
				<img src="/images/layout/footer-ntca.png" alt="ntca" class="ntca">
			</a>
			<a href="mailto:itseed15th@gmail.com" class="in-contact">
				聯絡我們：itseed15th@gmail.com
			</a>
			</div>
		<div class="row">
  			<div class="col-md-12">
				<span class="copyright">Copyright &copy; 2017 - 資訊種子培訓計畫</span>
			</div>
		</div>
	</div>
</footer>
