<footer>
	<div class="container-fluid">
		<!-- <div class="row">
			
		</div> -->
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h6 class="text-left">FACEBOOK</h6>
				<div class="fb-page" data-href="https://www.facebook.com/iloveitseed?fref=ts" data-width="500" data-hide-cover="true" data-show-facepile="false" data-show-posts="false" data-hide-cta="true">
		          	<div class="fb-xfbml-parse-ignore">
		            	<blockquote cite="https://www.facebook.com/iloveitseed?fref=ts">
		              		<a href="https://www.facebook.com/iloveitseed?fref=ts">資訊種子</a>
		            	</blockquote>
	          		</div>
	        	</div>
			</div>
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4 text-left">
				<h6>聯絡我們</h6>
				<h4>信箱：itseed14th@gmail.com</h4>
				<br>
				<h6>主辦單位</h6>
				<h4>新北市電腦商業同業公會</h4>
				<a href="http://www.ntca.org.tw"><img src="/images/layout/ntca.jpg" alt="ntca" class="ntca"></a>
			</div>
		</div>
		<div class="row">
			<!-- <h3>粉絲專頁</h3>
        	<div class="fb-page"
        		data-href="https://www.facebook.com/iloveitseed/?fref=ts" 
  				data-width="500"
  				data-hide-cover="false"
  				data-show-facepile="true">
  			</div> -->
  			<div class="col-md-12">
				<span class="copyright">Copyright &copy; 2016 - 資訊種子培訓計畫</span>
				<div>
					<a href="/login" class="backend-login">後台登入</a>
				</div>
			</div>
		</div>
	</div>
</footer>