<script>
  function signOut() {    
    swal({
      title: '確定要登出嗎?',
      confirmButtonText: '確定',
      cancelButtonText: '取消',
      showCancelButton: true
    })
    .then(function(result) {
      if (result.value) {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          document.location.href = "/logout";
        });
        document.location.href = "/logout";   
      }
    })
  }
</script>
<header>
<!-- 導覽列 -->
 <div class="navbar navbar-default navbar-fixed-top">
    <div class="nav-bar-container">
      <div class="navbar-header">
        <img class="navbar-brand" src="/images/layout/logo1.png" alt="" onclick="document.location='/'" >
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse navbar-right ">
        <ul class="bar">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">資種起源<!-- <b class="caret"></b> --></a>
            <ul class="dropdown-menu drop-part-bg">
              <li><a href="/aboutITSeed">計畫簡介</a></li>
              <!-- <li><a href="/aboutNTCA">公會簡介</a></li> -->
              <li><a href="/memberList">歷屆名單</a></li>
              <li><a href="/studentIntro">組織架構</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">培訓計畫<!-- <b class="caret"></b> --></a>
            <ul class="dropdown-menu drop-part-bg">
              <li><a href="/courseInfo">講座課程</a></li>
              <li><a href="/businessVisit">企業參訪</a></li>
              <li><a href="/tuv">六大專案</a></li>
            </ul>
          </li>
          <li><a href="/sharing">經驗分享</a></li>
          <li><a href="/careerList">實習心得</a></li>
          <li><a href="/regInfo">招生訊息</a></li>
          <!-- <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">招生訊息</a>
            <ul class="dropdown-menu drop-part-bg">
              <li><a href="/regInfo">招生資訊</a></li>
              <li><a href="/seminar">說明會</a></li>
              <li><a href="/workshop">工作坊</a></li>
            </ul>
          </li>
 -->          <li><a href="/faq">常見問題</a></li>
          <% if (session.userid == undefined ) { %>
            <li id="signin"><button onclick="document.location='/login'" >馬上報名</button></li>
          <% } else { %>
            <li id="account-profile"><a href="/disc" >報名頁面</a></li>
            <li id="signout" onclick="signOut();" ><a href="#">登出</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>

  <button type="button" id="BackTop" class="toTop-arrow"></button>

  <% if (session.userid == undefined && req.path.indexOf('/login') == -1) { %>
      <a id="fixed_signin" href="/login">馬上報名</a>
  <%}%>
<script>
  $(document).ready(function () {
    var lastScrollY = 0;
    var footer_display_pos = $('footer').offset().top - $(window).height();
    $(window).scroll(function () {
      let st = $(window).scrollTop();
      if (st < lastScrollY) {
        $('.navbar').removeClass('hideUp');
      } else if (st > 67) {
        $('.navbar').addClass('hideUp');
      }

      lastScrollY = st;
      if (st > footer_display_pos) {
        $('#fixed_signin').css("bottom", ( 16 + st - footer_display_pos) + 'px');
      } else {
        $('#fixed_signin').css("bottom", "16px");
      }
    });
  });
</script>
<script>
$(function(){
  $('#BackTop').click(function(){ 
    $('html,body').animate({scrollTop:0}, 333);
  });
  $(window).scroll(function() {
    if ( $(this).scrollTop() > 300 ){
      $('#BackTop').fadeIn(222);
    } else {
      $('#BackTop').stop().fadeOut(222);
    }
  }).scroll();
});
</script>
<style>
.toTop-arrow {
    display: block;
    position: fixed;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    border: 0;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: #666666;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.toTop-arrow::before, .toTop-arrow::after {
  width: 26px;
  height: 3px;
  border-radius: 3px;
  background: white;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.4rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.4rem;
}
</style>
</header>

