<script>
	(function(){
		$(window).scroll(function(){
			if($(this).scrollTop() > 300) {
				$("nav").addClass("navbar-shrink");
			}
			else{
				$("nav").removeClass("navbar-shrink");
			}
		});
	})()
</script>

<header>
<!-- 導覽列 -->
	<div class="navbar navbar-default navbar-fixed-top">
    	<div class="container" style="padding-bottom: 10px;">
      		<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          			<span class="icon-bar"></span>
          			<span class="icon-bar"></span>
         			<span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="/">
					<img src="/images/layout/logo1.png" width="200px" alt="">
				</a>
     		 </div>

        	<div class="collapse navbar-collapse navbar-right">
          		<ul class="newMenu nav navbar-nav">
            		<li><a href="/news">最新消息</a></li>
            		<li class="dropdown">
             			<a data-toggle="dropdown" class="dropdown-toggle" href="#">關於資種<b class="caret"></b></a>
              			<ul class="dropdown-menu">
                			<li><a href="/aboutNTCA">公會簡介</a></li>
							<li><a href="/aboutITSeed">計畫簡介</a></li>
							<li><a href="/memberList">歷屆名單</a></li>
							<li><a href="/courseList">歷屆課程</a></li>
                		</ul>
            		</li>
            		<li class="dropdown">
              			<a data-toggle="dropdown" class="dropdown-toggle" href="#">培訓內容<b class="caret"></b></a>
              			<ul class="dropdown-menu">
             		    	<li><a href="/courseInfo">講座課程</a></li>
							<li><a href="/businessVisit">企業參訪</a></li>
							<li><a href="/career">職涯體驗</a></li>
							<li><a href="/project">專案實作</a></li>
							<li><a href="/overseaVisit">海外參訪</a></li>
              			</ul>
            		</li>
            		<li><a href="/sharing">經驗分享</a></li>
            		<li><a href="/regInfo">報名資訊</a></li>
            		<li><a href="/faq">常見問題</a></li>
            
          		</ul>
          
          		<ul class="nav navbar-right navbar-nav" style="padding:auto; background-color: #2D6F67" >
            		<li><a href="https://himelight.com/org/itseed/campaigns" style="color: white; font-size: 16px;" >馬上報名<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></li>
            
          		</ul>
       		</div><!-- /.nav-collapse -->
        </div>
    </div>
</div>

<hr>



	
</header>

