<script>
  (function(){
    $(window).scroll(function(){
      if($(this).scrollTop() > 300) {
        $("nav").addClass("navbar-shrink");
      }
      else{
        $("nav").removeClass("navbar-shrink");
      }
    });
  })()
</script>

<header>
<!-- <div>
  <div class="logo"><img src="/images/layout/logo2.png" width="200px" alt=""></div>
  <div class="bar">
    <ul>
      <li><a href="">關於資種</a>
          <ul>
            <li>計畫簡介</li>
            <li>公會簡介</li>
            <li>歷屆名單</li>
          </ul>
      </li>
      <li><a href="">培訓計畫</a>
          <ul>
          <li><a href="/courseInfo">講座課程</a></li>
              <li><a href="/businessVisit">企業參訪</a></li>
              <li><a href="/xx">六大專案</a>
                  <ul>
                      <li><a href="">TUV專案</a></li>
                      <li><a href="">春酒專案</a></li>
                      <li><a href="">職涯體驗</a></li>
                      <li><a href="">招生專案</a></li>
                      <li><a href="">海外參訪</a></li>
                      <li><a href="">結業專案</a></li>
                  </ul>
              </li>
            </ul>
      </li>
      <li><a href="">經驗分享</a>
        <ul>
          <li>各校系怎麼看</li>
          <li>領導者怎麼看</li>
          <li>迷惘者怎麼看</li>
          <li>畢業人怎麼看</li>
        </ul>
      </li>
      <li><a href="">招生訊息</a>
      </li>
      <li>
        <a href="">常見問題</a>
      </li>
      <li><a href="">登入</a></li>
      <li><a href="">馬上報名</a></li>
    </ul>

  </div>
</div> -->



<!-- 導覽列 -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container nav-bar-fix">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/images/layout/logo1.png" style="height: 100%; margin-top:9px;" alt="">
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-right nav-word">
        <!-- newMenu nav navbar-nav -->
        <ul class="bar">
          <!-- <li><a href="/news">最新消息</a></li> -->
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">關於資種<!-- <b class="caret"></b> --></a>
            <ul class="dropdown-menu drop-bg">
              <li><a href="/aboutITSeed">計畫簡介</a></li>
              <li><a href="/aboutNTCA">公會簡介</a></li>
              <li><a href="/memberList">歷屆名單</a></li>
              <!-- <li><a href="/courseList">歷屆課程</a></li> -->
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">培訓計畫<!-- <b class="caret"></b> --></a>
            <ul class="dropdown-menu drop-part-bg">
              <li><a href="/courseInfo">講座課程</a></li>
              <li><a href="/businessVisit">企業參訪</a></li>
              <li><a href="/tuv">六大專案</a>
<!--                   <ul>
                      <li><a href="">TUV專案</a></li>
                      <li><a href="">春酒專案</a></li>
                      <li><a href="">職涯體驗</a></li>
                      <li><a href="">招生專案</a></li>
                      <li><a href="">海外參訪</a></li>
                      <li><a href="">結業專案</a></li>
                  </ul> -->
              </li>
              <!-- <li><a href="/career">職涯體驗</a></li> -->
              <!-- <li><a href="/project">專案實作</a></li> -->
              <!-- <li><a href="/overseaVisit">海外參訪</a></li> -->
            </ul>
          </li>
          <!-- <li><a href="/sharing">經驗分享</a></li> -->
          <li><a href="/regInfo">招生訊息</a></li>
          <li><a href="/faq">常見問題</a></li>
          <li id="signin"><a href="/login" >馬上報名<span>→</span></a></li>
        </ul>

<!--    <ul class="nav navbar-right navbar-nav" id="signin" >
          <li><a href="http://bit.ly/254x1is" target="_blank"><b>馬上報名</b><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></li>
        </ul> -->
      </div> <!-- /.nav-collapse -->
    </div>
  </div>
<hr>
</header>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99408962-1', 'auto');
  ga('send', 'pageview');

</script>
