<script>
	(function(){
		$(window).scroll(function(){
			if($(this).scrollTop() > 300) {
				$("nav").addClass("navbar-shrink");
			}
			else{
				$("nav").removeClass("navbar-shrink");
			}
		});
	})()
</script>

<header>
<!-- 導覽列 -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img src="/images/layout/logo1.png" alt="">
				</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">展開導覽列</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="login-area nav navbar-nav navbar-right">
				<% if(!req.session.userid){ %>
					<li><a href="/login">開發者登入</a></li>
				<% } else { %>
					<% if(req.session.type == "A"){ %>
						<li><a href="/backend">後台系統</a></li>
					<% } %>
					<li><a href="/profile">我的帳戶</a></li>
					<li><a href="/logout">登出</a></li>
				<% } %>
					<li class="divider"></li>
				</ul>
				<ul class="main-nav nav navbar-nav">
					<li>
						<a href="/news">最新消息</a>
					</li>
					<li>
						<a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="0" role="button" aria-expanded="false">關於資種<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/aboutNTCA">公會簡介</a></li>
							<li><a href="/aboutITSeed">計畫簡介</a></li>
							<li><a href="/memberList">歷屆名單</a></li>
							<li><a href="/courseList">歷屆課程</a></li>
						</ul>
					</li>
					<li>
						<a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="0" role="button" aria-expanded="false">培訓內容<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/courseInfo">講座課程</a></li>
							<li><a href="/businessVisit">企業參訪</a></li>
							<li><a href="/project">專案實作</a></li>
							<li><a href="/overseaVisit">海外參訪</a></li>
						</ul>
					</li>
					<li>
						<a href="/instructor">講師介紹</a>
					</li>
					<li>
						<a href="/sharing">經驗分享</a>
					</li>
					<li>
						<a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-delay="0" role="button" aria-expanded="false">招生訊息<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<!-- <li><a href="/regInfo">報名資訊</a></li>
							<li><a href="/regFile">書審資料</a></li>
							<li><a href="/timeline">重要時程</a></li> -->
							<li class="disabled"><a href="javascript: void(0)">報名資訊</a></li>
							<li class="disabled"><a href="javascript: void(0)">書審資料</a></li>
							<li class="disabled"><a href="javascript: void(0)">重要時程</a></li>
							<li><a href="/faq">常見問題</a></li>
						</ul>
					</li>
					<li>
						<a href="/video">影音專區</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
