<header>  
  <div class="container-fluid" style="height:120px; background: url(image/layout/header.png); background-size:100% 100%;">
    <!--logo-->
    <a href="javascript:changeTemplate('home');">
      <img src="image/layout/logo.png" alt="" style="position:absolute; left: 10px; top:10px; z-index:2; width:180px;">
    </a>
    <img src="image/layout/corner.png" alt="" style="position:absolute; z-index:1; height:300px; width:270px;">
    <!--登入功能-->
    <div class="row" style="height: 50%;">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="navbar-form navbar-right">
          <div id="profile">

          </div>
        </div>
      </div>
    </div>
    <!--導覽列-->
    <div class="row" style="height: 50%;">
      <div class="col-xs-8 col-xs-offset-2" style="height: 100%;">
        <ul style="height: 100%; margin-left: 0.5%;">

          <li class="dropdown nav2">
            <a href="javascript:changeTemplate('news');" class="dropdown-toggle">最新消息</a>
            </li
            ><li class="dropdown nav1">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">關於資種</a>
            <ul class="dropdown-menu">
              <li><a href="javascript:changeTemplate('ntcaIntro');">公會簡介</a></li>
              <li><a href="javascript:changeTemplate('planIntro');">計畫簡介</a></li>
              <li><a href="javascript:changeTemplate('pastList11');">歷屆名單</a></li>
              <li><a href="javascript:changeTemplate('pastLecture11');">歷屆課程</a></li>
            </ul>
            </li

            ><li class="dropdown nav2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">培訓內容</a>
            <ul class="dropdown-menu">
              <li><a href="javascript:changeTemplate('lecture1');">講座課程</a></li>
              <li><a href="javascript:changeTemplate('institutionVist');">企業參訪</a></li>
              <li><a href="javascript:changeTemplate('project1');">專案實作</a></li>
              <li><a href="javascript:changeTemplate('overseaVisit');">海外參訪</a></li>
            </ul>
            </li

            ><li class="dropdown nav1">                     
            <a href="javascript:changeTemplate('speaker1');" class="dropdown-toggle">講師介紹</a>
            </li

            ><li class="dropdown nav2">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">經驗分享</a>
            <ul class="dropdown-menu">
              <li><a href="javascript:changeTemplate('mentorSharing')">課務分享</a></li>
              <li><a href="javascript:changeTemplate('leaderSharing')">幹部分享</a></li>  
              <li><a href="javascript:changeTemplate('studentSharing')">學員分享</a></li>
            </ul>
            </li

            ><li class="dropdown nav1">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">招生訊息</a>
            <ul class="dropdown-menu">
              <li><a href="javascript:changeTemplate('regInfo');">報名資訊</a></li>
              <li><a href="javascript:changeTemplate('regFile');">書審資料</a></li>
              <li><a href="javascript:changeTemplate('regTimeline');">重要時程</a></li>
              <li><a href="javascript:changeTemplate('faq');">常見問題</a></li>
            </ul>
            </li
            ><li class="dropdown nav2">
            <a href="javascript:changeTemplate('videocast');" class="dropdown-toggle">影音專區</a>
            </li
          ><!-- <li class="dropdown nav1">
            <a href="javascript:changeTemplate(16);" class="dropdown-toggle">&nbsp留言板&nbsp&nbsp</a>
          </li
          
          > --><li style="display: inline-block; width: 12%; vertical-align:top;">
            <a href="javascript: window.open('https://www.facebook.com/iloveitseed?fref=ts')">
              &nbsp;
              <img src="image/layout/fb.png" alt="" style="height: 49px;">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>        
</header>