你已經成功完成資訊種子的官網註冊囉～  <br>

在此恭喜你成功踏出了改變的第一步！ <br>

資訊種子是由新北市電腦商業同業公會所發起，為期一年的免費培訓計畫。 <br><br>

我們提供<br>
📌二十堂跨領域講座課程<br>
📌六大專案實作機會<br>
📌四次企業參訪<br>
📌500+校友人脈資源<br><br>

渴望跨領域學習、累積實作經驗和職場人脈的你絕不能錯過！<br><br>

✅想要更近一步了解資訊種子培訓計畫嗎？<br>
✅想要聽聽學員們和校友如何在資種完成他們的改變嗎？<br>
✅想要立即成為我們的一份子嗎？<br>

趕快上資訊種子官網進行報名，啟動改變並成為更好的自己！<br>

更多精彩內容盡在 資訊種子官方網站＆粉絲專頁！歡迎按讚追蹤！<br><br>

-----<br>
資訊種子培訓計畫第十七屆招生團隊<br>
E-mail：<a href="">itseed17th＠gmail.com</a> <br>
<a href="https://www.itseed.tw/">資訊種子官方網站</a> / <a href="https://www.facebook.com/iloveitseed/">粉絲專頁</a> 