
<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
  <ul>
    <li><a href="/aboutITSeed">計畫簡介</a></li> |
    <li><a href="/aboutNTCA">公會簡介</a></li> |
    <li><a class="active" href="/memberList">歷屆名單</a></li>
  </ul>
</div>
<div class="container">
  <div class="title-title">
    <span class="memberList-br">- 歷屆名單 -</span>
  </div>
</div>
<div class="collapse navbar-collapse navbar-left">
        <ul class="newMenu nav navbar-nav">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">12th<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/13th-member">13th</a></li>
              <li><a href="/12th-member">12th</a></li>
              <li><a href="/11th-member">11th</a></li>
              <li><a href="/10th-member">10th</a></li>
              <li><a href="/9th-member">9th</a></li>
              <li><a href="/8th-member">8th</a></li>
              <li><a href="/7th-member">7th</a></li>
              <li><a href="/6th-member">6th</a></li>
              <li><a href="/5th-member">5th</a></li>
              <li><a href="/4th-member">4th</a></li>
              <li><a href="/3th-member">3th</a></li>
              <li><a href="/2th-member">2th</a></li>
              <li><a href="/1th-member">1th</a></li>
            </ul>
          </li>
    </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
        <div class='mem-container'>
          <div class='mem-content'>
            <div class="mem-title">
              <span>姓名</span>
              <span>學校</span> 
              <span>學系</span>
            </div>
            <table class='mem-table' >
<!--          <thead>
                <th class='text'>公司職稱</th>
                <th class='text'>公司名稱</th>
                <th class='text'>姓名</th>
                <th class='text'>職稱</th>
              </thead> -->
              <tbody>
<!--                 
                <tr class=''>
                  <td class='text' data-title='公司職稱'></td>
                  <td class='text' data-title='公司名稱'></td>
                  <td class='text' data-title='姓名'></td>
                  <td class='text' data-title='職稱'></td>
                </tr> -->
              

                <td class='text' data-title='姓名'> 簡子翔 </td> <td class='text' data-title='姓名'> 中央大學  </td> <td class='text' data-title='姓名'> 資訊管理系 </td> </tr>
<td class='text' data-title='姓名'> 蔡奕敏 </td> <td class='text' data-title='姓名'> 臺北教育大學  </td> <td class='text' data-title='姓名'> 資訊科學系 </td> </tr>
<td class='text' data-title='姓名'> 胡柏榕 </td> <td class='text' data-title='姓名'> 交通大學  </td> <td class='text' data-title='姓名'> 機械工程所 </td> </tr>
<td class='text' data-title='姓名'> 游明臻 </td> <td class='text' data-title='姓名'> 臺北大學  </td> <td class='text' data-title='姓名'> 公共行政系 </td> </tr>
<td class='text' data-title='姓名'> 陳右臻 </td> <td class='text' data-title='姓名'> 中央大學  </td> <td class='text' data-title='姓名'> 資訊管理系 </td> </tr>
<td class='text' data-title='姓名'> 黃詩晴 </td> <td class='text' data-title='姓名'> 淡江大學  </td> <td class='text' data-title='姓名'> 國際企業學系  </td> </tr>
<td class='text' data-title='姓名'> 黃雅琪 </td> <td class='text' data-title='姓名'> 淡江大學  </td> <td class='text' data-title='姓名'> 公共行政系 </td> </tr>
<td class='text' data-title='姓名'> 卓宛瑩 </td> <td class='text' data-title='姓名'> 清華大學  </td> <td class='text' data-title='姓名'> 工科系 </td> </tr>
<td class='text' data-title='姓名'> 張元真 </td> <td class='text' data-title='姓名'> 政治大學  </td> <td class='text' data-title='姓名'> 資訊管理系 </td> </tr>
<td class='text' data-title='姓名'> 陳宥辰 </td> <td class='text' data-title='姓名'> 台灣大學  </td> <td class='text' data-title='姓名'> 電子工程所 </td> </tr>
<td class='text' data-title='姓名'> 徐宇凡 </td> <td class='text' data-title='姓名'> 致理技術學院  </td> <td class='text' data-title='姓名'> 商務科技管理所 </td> </tr>
<td class='text' data-title='姓名'> 曾宇晨 </td> <td class='text' data-title='姓名'> 台灣大學  </td> <td class='text' data-title='姓名'> 資訊管理系 </td> </tr>
<td class='text' data-title='姓名'> 吳蜜雪 </td> <td class='text' data-title='姓名'> 臺北商業大學  </td> <td class='text' data-title='姓名'> 會計資訊系 </td> </tr>
<td class='text' data-title='姓名'> 賈慧中 </td> <td class='text' data-title='姓名'> 台灣大學  </td> <td class='text' data-title='姓名'> 農經系 </td> </tr>
<td class='text' data-title='姓名'> 陳楷鵬 </td> <td class='text' data-title='姓名'> 台灣大學  </td> <td class='text' data-title='姓名'> 資訊管理所 </td> </tr>
<td class='text' data-title='姓名'> 林靜怡 </td> <td class='text' data-title='姓名'> 政治大學  </td> <td class='text' data-title='姓名'> 社會所 </td> </tr>
<td class='text' data-title='姓名'> 陳炯翰 </td> <td class='text' data-title='姓名'> 台灣科技大學  </td> <td class='text' data-title='姓名'> 資訊管理系 </td> </tr>
<td class='text' data-title='姓名'> 張玲涓 </td> <td class='text' data-title='姓名'> 臺北教育大學  </td> <td class='text' data-title='姓名'> 文創系 </td> </tr>
<td class='text' data-title='姓名'> 鄭湘蓉 </td> <td class='text' data-title='姓名'> 淡江大學  </td> <td class='text' data-title='姓名'> 資訊工程系 </td> </tr>
<td class='text' data-title='姓名'> 陳羿廷 </td> <td class='text' data-title='姓名'> 台灣科技大學  </td> <td class='text' data-title='姓名'> 電機系 </td> </tr>
<td class='text' data-title='姓名'> 周楷鐘 </td> <td class='text' data-title='姓名'> 長庚大學  </td> <td class='text' data-title='姓名'> 資訊管理系 </td> </tr>
<td class='text' data-title='姓名'> 陳冠穎 </td> <td class='text' data-title='姓名'> 台灣大學  </td> <td class='text' data-title='姓名'> 資訊管理所 </td> </tr>
<td class='text' data-title='姓名'> 林俞珊 </td> <td class='text' data-title='姓名'> 中央大學  </td> <td class='text' data-title='姓名'> 資訊管理系 </td> </tr>
<td class='text' data-title='姓名'> 鄭聖諺 </td> <td class='text' data-title='姓名'> 台灣科技大學  </td> <td class='text' data-title='姓名'> 工商業設計系  </td> </tr>
<td class='text' data-title='姓名'> 陳隆翔 </td> <td class='text' data-title='姓名'> 台灣大學  </td> <td class='text' data-title='姓名'> 資訊管理系 </td> </tr>
<td class='text' data-title='姓名'> 陳怡臻 </td> <td class='text' data-title='姓名'> 東華大學  </td> <td class='text' data-title='姓名'> 國際企業學系  </td> </tr>
<td class='text' data-title='姓名'> 楊博凱 </td> <td class='text' data-title='姓名'> 銘傳大學  </td> <td class='text' data-title='姓名'> 餐旅管理學系  </td> </tr>
<td class='text' data-title='姓名'> 郭展境 </td> <td class='text' data-title='姓名'> 臺北大學  </td> <td class='text' data-title='姓名'> 企研所 </td> </tr>
<td class='text' data-title='姓名'> 陳怡卉 </td> <td class='text' data-title='姓名'> 長庚大學  </td> <td class='text' data-title='姓名'> 資訊管理學系  </td> </tr>
<td class='text' data-title='姓名'> 石庭維 </td> <td class='text' data-title='姓名'> 淡江大學  </td> <td class='text' data-title='姓名'> 資訊管理系 </td> </tr>
<td class='text' data-title='姓名'> 陳彥淇 </td> <td class='text' data-title='姓名'> 淡江大學  </td> <td class='text' data-title='姓名'> 管理科學系 </td> </tr>
<td class='text' data-title='姓名'> 余曉雯 </td> <td class='text' data-title='姓名'> 政治大學  </td> <td class='text' data-title='姓名'> 資訊管理所 </td> </tr>
<td class='text' data-title='姓名'> 張怡琛 </td> <td class='text' data-title='姓名'> 元智大學  </td> <td class='text' data-title='姓名'>  資傳系設計組 </td> </tr>


              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->