
<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
  <ul>
    <li><a href="/aboutITSeed">計畫簡介</a></li> |
    <li><a href="/aboutNTCA">公會簡介</a></li> |
    <li><a class="active" href="/memberList">歷屆名單</a></li>
  </ul>
</div>
<div class="container">
  <div class="title-title">
    <span class="memberList-br">- 歷屆名單 -</span>
  </div>
</div>
<div class="collapse navbar-collapse navbar-left">
        <ul class="newMenu nav navbar-nav">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">13th<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/13th-member">13th</a></li>
              <li><a href="/12th-member">12th</a></li>
              <li><a href="/11th-member">11th</a></li>
              <li><a href="/10th-member">10th</a></li>
              <li><a href="/9th-member">9th</a></li>
              <li><a href="/8th-member">8th</a></li>
              <li><a href="/7th-member">7th</a></li>
              <li><a href="/6th-member">6th</a></li>
              <li><a href="/5th-member">5th</a></li>
              <li><a href="/4th-member">4th</a></li>
              <li><a href="/3th-member">3th</a></li>
              <li><a href="/2th-member">2th</a></li>
              <li><a href="/1th-member">1th</a></li>
            </ul>
          </li>
    </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
        <div class='mem-container'>
          <div class='mem-content'>
            <div class="mem-title">
              <span>姓名</span>
              <span>學校</span> 
              <span>學系</span>
            </div>
            <table class='mem-table' >
<!--          <thead>
                <th class='text'>公司職稱</th>
                <th class='text'>公司名稱</th>
                <th class='text'>姓名</th>
                <th class='text'>職稱</th>
              </thead> -->
              <tbody>
<!--                 
                <tr class=''>
                  <td class='text' data-title='公司職稱'></td>
                  <td class='text' data-title='公司名稱'></td>
                  <td class='text' data-title='姓名'></td>
                  <td class='text' data-title='職稱'></td>
                </tr> -->
              

                <tr class=''> <td class='text' data-title='姓名'> 唐 薇   </td> <td class='text' data-title='姓名'> 清華大學      </td> <td class='text' data-title='姓名'> 經濟系 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 蒲冠吉 </td> <td class='text' data-title='姓名'> 台灣大學      </td> <td class='text' data-title='姓名'> 心理系 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 曾子芸 </td> <td class='text' data-title='姓名'> 長庚大學      </td> <td class='text' data-title='姓名'> 資訊管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 張慧慈 </td> <td class='text' data-title='姓名'> 臺北大學      </td> <td class='text' data-title='姓名'> 公共行政暨政策學系 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 周卓徵 </td> <td class='text' data-title='姓名'> 清華大學      </td> <td class='text' data-title='姓名'> 工程與系統科學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 薛翔文 </td> <td class='text' data-title='姓名'>  長庚大學       </td> <td class='text' data-title='姓名'> 醫務管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 林宜穎 </td> <td class='text' data-title='姓名'>  淡江大學       </td> <td class='text' data-title='姓名'> 管理科學學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 鄭濡萱 </td> <td class='text' data-title='姓名'>  輔仁大學       </td> <td class='text' data-title='姓名'> 生命科學系 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 莊佳宜 </td> <td class='text' data-title='姓名'>  政治大學       </td> <td class='text' data-title='姓名'> 科技管理與智慧財產研究所  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 廖芷寧 </td> <td class='text' data-title='姓名'>  臺北大學       </td> <td class='text' data-title='姓名'> 公共行政暨政策學系 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 翁珮玲 </td> <td class='text' data-title='姓名'>  台灣大學       </td> <td class='text' data-title='姓名'> 資訊管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 張懷彬 </td> <td class='text' data-title='姓名'>  台灣大學       </td> <td class='text' data-title='姓名'> 財務金融學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 彭証鴻 </td> <td class='text' data-title='姓名'>  中央大學       </td> <td class='text' data-title='姓名'> 資訊管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 葉柏良 </td> <td class='text' data-title='姓名'>  臺北教育大學   </td> <td class='text' data-title='姓名'> 教育經營與管理學系 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 麥蕙蓮 </td> <td class='text' data-title='姓名'>  臺北大學       </td> <td class='text' data-title='姓名'> 經濟學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 林均洋 </td> <td class='text' data-title='姓名'>  台灣大學       </td> <td class='text' data-title='姓名'> 機械工程學系研究所 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 楊雁婷 </td> <td class='text' data-title='姓名'>  政治大學       </td> <td class='text' data-title='姓名'> 會計學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 王靖婷 </td> <td class='text' data-title='姓名'>  臺北商業大學   </td> <td class='text' data-title='姓名'> 企業管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 吳鴻毅 </td> <td class='text' data-title='姓名'>  清華大學       </td> <td class='text' data-title='姓名'> 工程與系統科學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 黃浩銘 </td> <td class='text' data-title='姓名'>  實踐大學       </td> <td class='text' data-title='姓名'> 資訊管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 簡立昕 </td> <td class='text' data-title='姓名'>  東華大學       </td> <td class='text' data-title='姓名'> 資訊管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 張博堯 </td> <td class='text' data-title='姓名'>  台灣科技大學   </td> <td class='text' data-title='姓名'> 資訊管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 林裕翔 </td> <td class='text' data-title='姓名'>  政治大學       </td> <td class='text' data-title='姓名'> 國家發展所 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 陳珮穎 </td> <td class='text' data-title='姓名'>  淡江大學       </td> <td class='text' data-title='姓名'> 資訊與圖書館學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 廖芳盈 </td> <td class='text' data-title='姓名'>  台灣藝術大學   </td> <td class='text' data-title='姓名'> 雕塑學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 張盈禎 </td> <td class='text' data-title='姓名'>  台灣科技大學   </td> <td class='text' data-title='姓名'> 資訊管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 黃禹棻 </td> <td class='text' data-title='姓名'>  臺北大學       </td> <td class='text' data-title='姓名'> 企業管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 許庭瑜 </td> <td class='text' data-title='姓名'>  政治大學       </td> <td class='text' data-title='姓名'> 經濟學系研究所 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 吳沛璇 </td> <td class='text' data-title='姓名'>  臺北大學       </td> <td class='text' data-title='姓名'> 資訊管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 宋進益 </td> <td class='text' data-title='姓名'>  政治大學       </td> <td class='text' data-title='姓名'> 國際經營與貿易學系 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 徐薇茹 </td> <td class='text' data-title='姓名'>  臺北大學       </td> <td class='text' data-title='姓名'> 經濟系 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 賴冠廷 </td> <td class='text' data-title='姓名'>  臺北大學       </td> <td class='text' data-title='姓名'> 資訊管理學系  </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 邱芮毅 </td> <td class='text' data-title='姓名'>  台灣師範大學   </td> <td class='text' data-title='姓名'> 科技應用與人力資源發展學系 </td> </tr>
<tr class=''> <td class='text' data-title='姓名'> 林瑜禎 </td> <td class='text' data-title='姓名'>   淡江大學      </td> <td class='text' data-title='姓名'> 管理科學學系  </td> </tr>

              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->