<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div class="page-title"><h2><b>公會簡介</b></h2></div>
      <div class="title-underline"><h4><b>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</b></h4></div>
    </div>
  </div>
</div>

<section class="bg-light-gray">
  <div class="container text-content">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3><%= datas[0].title %></h3>
        <div><%- datas[0].content %></div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.1468326890795!2d121.5194383143956!3d25.0630119839588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a94475e6994b%3A0x248e8157b1372f67!2z5paw5YyX5biC6Zu76IWm5ZWG5qWt5ZCM5qWt5YWs5pyD!5e0!3m2!1szh-TW!2stw!4v1464594006480" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
