<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2 style="color: #4cb5aa"><b>公會簡介</b></h2></div>
      <div><h4 style="color: #4cb5aa"><b>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</b></h4></div>
      <!-- <div><h4 style="color: #96b6a3"><b><i style="color: #7ae8a4"class="fa fa-quote-left" aria-hidden="true"></i>  增進職場軟硬實力 <i style="color: #7ae8a4"class="fa fa-quote-right" aria-hidden="true"></i></b></h4></div> -->
    </div>
  </div>
</div>
<!-- <img src="/images/layout/2-1NTCA.png" alt="banner" id="img-responsive" width="100%"> -->
<section class="bg-light-gray">
	<div class="container text-content">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3><%= datas[0].title %></h3>
				<div><%- datas[0].content %></div>
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
