<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<br>
<br>
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="program-intro-title">
          <h2><b>計畫簡介</b></h2>
        </div>
        <hr>

        <div>
          <video src="" style="background:rgb(252,228,228); width:100%"></video>
          <div>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;新北市電腦商業同業公會於2003年有鑒於IT產業人才缺口尚未補足，決心創立一有效整合性學習平台，提供有志投身IT產業的莘莘學子們寶貴的專業實務與產業實戰經驗，第一屆資訊種子培訓計畫應運而生。
            </p>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;資訊種子計畫整合社會資源進行完整、宏觀的課程薰陶及實務訓練，期許結業學員獲得跨領域產業知識、培養正確職場態度、提高思考深度與廣度、並累積產業人脈存摺，培育全方位人才。
            </p>
            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;參與學員在經過書審與面試後，即可加入為期一年的免費培訓計畫。目前培訓計畫已邁入第十五屆，廣納各大專院校系背景學科之學員，累積培養400多位校友投身各產業服務及創業，在各行各業逐漸發酵，同時回歸資訊種子進行傳承，締造善意的累積與循環。
            </p>
          </div>
          <!--<h3><#% datas[0].title %></h3>-->
          <!--<div><#% datas[0].content %></div>-->
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
  <div class="mid-banner">
    <div class="container">
      <div class="row">
      <div class="col-sm-3 banner-content">1年課程</div>
      <div class="col-sm-3 banner-content">4次企業專訪</div>
      <div class="col-sm-3 banner-content">6大專案</div>
      <div class="col-sm-3 banner-content">20堂課程</div>
      </div>
    </div>
  </div>

  <div class="container four-big">
    <h4>- 脫離迷惘. 四大絕-</h4>
    <div class="row">
      
      <div class="col-sm-3">
        <div>
          <div><span>01 </span>人我關係</div>
          <hr>
          <div>了解自己、認識他人、建立價值、創造連結</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <div><span>02 </span>產業動態</div>
          <hr>
          <div>群眾募資、智財專利、網路軟體、文化創意</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <div><span>03 </span>就業即戰力</div>
          <hr>
          <div>專案力、資訊力、創新力、行銷力</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div>
          <div><span>04 </span>職涯發展</div>
          <hr>
          <div>適性測驗、職涯規劃、職務體驗</div>
        </div>
      </div>
    </div>
  </div>

<section class="bg-light-gray">
  <div class="container text-content">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3><%= datas[0].title %></h3>
        <div><%- datas[0].content %></div>
      </div>
    </div>
  </div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

