<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div class="page-title"><h2><b>計畫簡介</b></h2></div>
      <div class="title-underline"><h4><b>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</b></h4></div>
    </div>
  </div>
</div>

<section class="bg-light-gray">
  <div class="container text-content">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3><%= datas[0].title %></h3>
        <div><%- datas[0].content %></div>
      </div>
    </div>
  </div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
