<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-apply bg-light-gray article ">
	<div class="sub-nav">
		<ul>
			<li></li>
		</ul>
	</div>
	<div class="main-title-div">
		<div class="line-and-circle">
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<h1>工作坊資訊</h1>
	</div>
	
	<div class="container">
		<div class="row sharing-content-pp">
			<div class="col-md-10 col-md-offset-1">
                <h3 class="share-in-title">活動報名表單</h3>
                <div class="apply-iframe">
               <iframe width="400" height="600" src="https://www.surveycake.com/s/YODYb" style="overflow:hidden;border:#ddd 1px solid;" allowTransparency="true" frameborder="0"></iframe>

                </div>
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
