<% include ../header %>
<!--END HEADER-->

<section class="section-businessVisitList">
  <% include ./sub-nav %>
  <!-- <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>企業參訪</h1>
  </div> -->
  <div class="main-titles clearfix">
      <div></div>
      <div></div>
      <div></div>
      <div>企業參訪</div>
    </div>
  <div class="business-container">
    <div class="why-bsv main1-color-br">
      <h2 class="main1-color">參訪宗旨</h2>
      <p>透過不同產業的企業參訪，了解各產業的趨勢，並藉此深入接觸企業文化、職場環境、公司發展與未來規劃。讓學員能更貼近職場，也更能增進對未來職涯探索的規劃。</p>
    </div>
  
    <div class="bsv bsv1">
        <div class=" main1-color">
            <h3><span class="block-left"></span>Google台灣</h3>
        </div>
        <div>
            <h4 class="main1-color">參訪簡介</h4>
              <p>　　Google 在今年 3 月發布「Google 台灣智慧計劃」，並同時釋出300餘個職缺，將Google 台灣打造成亞洲最大的研發基地。
              <br>    
              &nbsp;　　這次企參前往位於台北101的Google台灣總部，除了一探Google 舒適宜人的工作環境，更把握與內部職員互動的機會，更加了解Google 的企業文化及項目發展</p>
        </div>
        <div class="row visit-share">
          <div class="col-md-6">
            <img class="padding-right" src="/images/layout/bv1.png" alt="">
          </div>
          <div class="col-md-6">
            <h4 class="main1-color">學員心得</h4>
            <p>　　有一位在Google在任職的學姊說，雖然他大學念的是法律相關的科系，和她在工作時接觸到的領域差異非常不同，但保持著好奇心與不斷學習的態度，足以讓他勇敢的面對眼前所帶來的差異和挑戰，而且他到現在還是不斷在自我精進、學習。另外，看到Eric熱情的分享，讓我骨子裡的熱血又燃燒了起來，未來我也會更加努力，期許自己成為心目中的斜槓青年。加油吧！</p>
          </div>
        </div>
    </div>
    
    <div class="bsv bsV2">
        <div class=" main1-color">
            <h3>雷亞遊戲概念店<span class="block-right"></span></h3>
        </div>
        <div class="introduction">
            <h4 class="main1-color">參訪簡介</h4>
              <p>　　店長 Cathy 細心地介紹每款遊戲的內容與製作背後的發想來源，
                  遊戲軟體測試（QA）。Frieda 則講述每款遊戲背後，都是由人工
                  至少測試幾百次，找出紕漏，改善至良好的使用者體驗與互動，
                  這也印證了雷亞遊戲追求卓越的理念：「從心出發的設計與永不
                  妥協的堅持，以創造藝術的信念打造旗下每一支產品。」</p>
        </div>
        <div class="bsV2-img">
            <img src="/images/layout/bv2.png" alt="">
        </div>
        <h4 class="main1-color">學員心得</h4>
        <p>　　經過店長 Cathy 讓我更加了解到雷亞遊戲裡面的內容與劇情呈現。
            而軟體測試 Frieda 讓我覺得 QA 是非常酷的工作，雖然工作內容
            是一直不斷地玩遊戲，但卻不是大家所想像的很有趣的那種方式
            ，而是要一直反覆的玩同一個關卡，每一個環節、畫面，都要深
            深印在腦海裡，才能清楚明瞭的回答玩家問題。<br>
          　　大部分人在玩遊戲的時候都是追求新鮮感，絕對不會想重複玩同
          一個關卡，但是這個工作最酷的地方就是要像偵探一樣，注意每
          一個細節，把每個程序反覆熟練，除了敏銳的觀察還需要無限的
          耐心，外表看似光鮮亮麗，卻需要付出無數努力，值得佩服。
        </p>
    </div>
    
    
    <div class="bsv bsv3">
        <div class=" main1-color">
            <h3><span class="block-left"></span>台灣微軟股份有限公司</h3>
        </div>
        <div class="introduction">
            <h4 class="main1-color">參訪簡介</h4>
            <p>　　「Fit in your life」是台灣微軟在設計產品時的中心理念，期望產品
                皆能緊密貼合客戶的需求，並準確改善消費者體驗。總經理Eddie
                的詳細講解，讓學員得以了解微軟的願景目標與產品背後深厚的
                意義；Mike主管也大方向我們分享時間管理的智慧，給予學員們
                由衷的建議。
            </p>
        </div>
        <div class="row visit-share">
          <div class="col-md-6">
            <img class="padding-right" src="/images/layout/bv3.png" alt="">
          </div>
          <div class="col-md-6">
              <h4 class="main1-color">學員心得</h4>
              <p>　　此次企參收穫最大的是Mike主管向我們分享他的一天。「找出自
                  己的生活pattern，才能妥善利用時間。」令我驚豔的是儘管主管
                  平時工作忙碌，卻還是能利用零碎時間到微軟提供報章雜誌的區
                  域，翻閱知識型雜誌，並利用手機拍照紀錄。我認為，人所學的
                  知識不能只侷限在與自己科系相關的書籍或雜誌，全面地去汲取
                  與吸收，也許未來說不定會有用到的一天。這也提醒我善用自己
                  的時間，開拓自己的視野去學習新知識。</p>  
          </div>
        </div>
      
    </div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER
