HEADER-->
<% include ../header %>
<!--END HEADER-->
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2 style="color: #4cb5aa"><b>企業參訪</b></h2></div>
      <div><h4 style="color: #4cb5aa"><b>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</b></h4></div>
      <div><h4 style="color: #96b6a3"><b><i style="color: #7ae8a4"class="fa fa-quote-left" aria-hidden="true"></i>  增進職場軟硬實力 <i style="color: #7ae8a4"class="fa fa-quote-right" aria-hidden="true"></i></b></h4></div>
    </div>
  </div>
</div>
<br>
<section class="bg-light-gray" id="businessVisitList">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="companyIBMdiv container">
					<h3 class="companyNameIBM">IBM</h3>
					<p class="companyContentIBM">擁有百年歷史的IBM在硬體開發的領域有輝煌的歷史，如何在變動快速的科技業中如此屹立不搖，追求創新、用人原則、勞資關係和轉型突破，都是使IBM鶴立雞群的重要標誌！</p>
				</div>
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<div class="companyImgdiv">
					<img src="http://i.imgur.com/1psvO6c.png" class="companyImgIBM" id="img-responsive">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 hidden-sm hidden-xs">
				<div class="companyMSImgdiv">
					<img src="http://i.imgur.com/GYyQw6y.png" class="companyImgIBM" id="img-responsive">
				</div>
			</div>
			<div class="col-md-6">
				<div class="companyMSdiv container">
					<h3 class="companyNameMS">MicroSoft</h3>
					<p class="companyContentMS">微軟公司近幾年來除了作業系統和辦公軟體之外，也致力於雲端開發等等，臺灣微軟更是坐落於臺北市最金華信義區，並且與IBN為鄰，整個大廈可以說是科技之樓！</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="companyANKOdiv container">
					<h3 class="companyNameANKO">安口食品</h3>
					<p class="companyContentIBM">安口擁有超過30年的冷凍食品與麵包烘焙機械製造經驗，隨著台灣國際地位以及進出口關稅等各種不利因素下，靠著優質的服務及網路行銷，成功將產品擴展到108個國家。</p>
				</div>
			</div>
			<div class="col-md-6 hidden-sm hidden-xs">
				<div class="companyANKOImgdiv">
					<img src="http://i.imgur.com/pWjyDhP.png" class="companyImgIBM" id="img-responsive">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 hidden-sm hidden-xs">
				<div class="companyAuroimgdiv">
					<img src="http://i.imgur.com/64b01nK.png" class="companyImgIBM" id="img-responsive">
				</div>
			</div>
			<div class="col-md-6">
				<div class="companyAurodiv container">
					<h3 class="companyNameAuro">和椿科技</h3>
					<p class="companyContentAuro">Aurotek公司在自行生產自動化機械設備的同時也與國外許多大廠合作，作為其在台的代理及維護。<br>
       近幾年更有許多原本工作母機的生產廠商，為擴大經營面而加入電子設備的生產。</p>
				</div>
			</div>
		</div>
		<!-- <% for(var i = 0; i < datas.length; i++){ %>

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="course-card">
					<div class="photo text-center">
						<img src="<%= datas[i].photo %>"></img>
					</div>
					<div class="image-overlay"></div>
					<div class="view-details">
						<a href="<%= url + datas[i].id %>">參訪介紹</a>
					</div>
					<div class="intro">
						<div class="title">
							<%= datas[i].title %>
						</div>
					</div>
				</div>
			</div>
		<% } %> -->
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER
