<% include ../header %>
<!--END HEADER-->

<section class="section-businessVisitList">
  <% include ./sub-nav %>
  <!-- <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>企業參訪</h1>
  </div> -->
  <div class="main-titles clearfix">
      <div></div>
      <div></div>
      <div></div>
      <div>企業參訪</div>
    </div>
  <div class="business-container">
    <div class="why-bsv main1-color-br">
      <h2 class="main1-color">參訪宗旨</h2>
      <p>透過不同產業的企業參訪，了解各產業的趨勢，並藉此深入接觸企業文化、職場環境、公司發展與未來規劃。讓學員能更貼近職場，也更能增進對未來職涯探索的規劃。</p>
    </div>
  
    <div class="bsv bsv1" style="margin-bottom: 0;">
        <div class="main1-color" id="shopee">
            <h3><span class="block-left"></span>蝦皮購物 Shopee</h3>
        </div>
        <div>
            <h4 class="main1-color">參訪簡介</h4>
              <p>　　「順勢應變」是蝦皮十分重視的核心價值，這次企業參訪不僅參觀了蝦皮的辦公環境及高級的零食飲料櫃，也很榮幸能聽到數據分析部門及行銷部門的員工為我們介紹他們工作的一天、職務內容以及所需具備的相關能力，讓學員們對於蝦皮的企業文化以及特質需求更加了解。</p>
        </div>
        <div class="row visit-share">
          <div class="col-md-12">
            <h4 class="main1-color">參訪筆記</h4>
            <ul style="margin-bottom: 30px;">
              <li>核心價值：順勢應變（最重要）、用戶至上、全心投入、分秒必爭、保持謙遜</li>
              <li>數據分析部應徵所需：Python、邏輯力、學習力、喜歡分享</li>
              <li>社群行銷部應徵所需：有想法、有熱忱、有幹勁、有自我觀點、習慣洞察消費者及分析案例</li>
            </ul>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <img width="100%"  class="padding-right" src="/images/layout/businessvisit_shopee.jpg" alt="">
          </div>
        </div>
    </div>
    
    <div class="bsv bsV2 visit-share">
        <div class=" main1-color" id="getac">
            <h3>神基科技 Getac<span class="block-right"></span></h3>
        </div>
        <div class="introduction">
            <h4 class="main1-color">參訪簡介</h4>
              <p>　　神基科技是以B2B的銷售模式，主打專業生產強固型電腦及其周邊服務。特別的是，神基科技強調對於客戶的服務，
                認為最好的產品是要能「解決客戶所面臨的所有問題」，因此在設計製造時，他們提前會站在顧客角度去提升使用者體驗，
                不僅大幅降低售後退貨、維修的成本，也成功讓自身品牌和其他高科技硬體產業區別開來，取得屬於自己的市場。
                </p>
        </div>
        <div class="bsV2-img">
            <img width="100%"  src="/images/layout/businessvisit_getac.jpg" alt="">
        </div>
        <h4 class="main1-color">參訪筆記</h4>
        <ul>
          <li>自動化、不停創新、藍海策略，為品牌成功的關鍵</li>
          <li>我們要做的不是Service，而是Solution（以顧客角度）</li>
          <li>品牌就是一個commitment（承諾），包含品質、售後服務、銷售流程等</li>
          <li>神基的客製化是靠高彈性、高服務品質、專業化、站在使用者立場取勝</li>
        </ul>
    </div>
    
    
    <div class="bsv bsv3">
        <div class=" main1-color" id="microsoft">
            <h3><span class="block-left"></span>台灣微軟 Microsoft</h3>
        </div>
        <div class="introduction">
            <h4 class="main1-color">參訪簡介</h4>
            <p>　　「Fit in your life」是台灣微軟在設計產品時的中心理念，期望產品皆能緊密貼合客戶的需求，並準確改善消費者體驗。總經理Eddie 的詳細講解，讓學員得以了解微軟的願景目標與產品背後意義；Mike主管也大方向我們分享時間管理的智慧，給予學員們由衷的建議：「找出自己的生活pattern，才能妥善利用時間。」
              </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <img width="100%"  class="padding-right" src="/images/layout/businessVisit_microsoft.png" alt="">
          </div>
          <div class="col-md-12">
              <h4 class="main1-color">參訪筆記</h4>
              <ul>                
                <li>微軟重視員工的自我學習能力、分析能力、觀察能力</li>
                <li>微軟願意給努力的員工升遷，福利優渥</li>
                <li>明亮寬敞的環境，對於員工的工作環境很講究</li>
                <li>點心飲料吧，提供給員工工作之餘的休憩</li>
              </ul> 
          </div>
        </div>

        <div class="bsv bsV2">
            <div class=" main1-color" id="google">
                <h3>Google台灣<span class="block-right"></span></h3>
            </div>
            <div class="introduction">
                <h4 class="main1-color">參訪簡介</h4>
                  <p>　　Google 在公布今年 3 月的「Google 台灣智慧計劃」，持續朝人才、
                    經濟、生態系三大面向邁進，並同時釋出大量職缺，預計將Google 台灣打造成亞洲最大的研發基地。 
                      這次企參前往位於台北101的Google台灣總部，除了一探Google 舒適宜人的工作環境，更把握與
                      內部職員互動的機會，更加了解Google 的企業文化及項目發展。
                      </p>
            </div>
            <div class="bsV2-img">
                <img width="100%" src="/images/layout/businessVisit_google.jpg" alt="">
            </div>
            <h4 class="main1-color">參訪筆記</h4>
            <ul>
              <li>可以當成目標，但不是完全夢幻</li>
              <li>沒有約束性的上班打卡機制，考驗員工的自律能力</li>
              <li>現在世界各地的資訊產業都很缺資管人才，資管人才一方面要理解技術層面的程式運作，一方面要懂得跟企業及客戶溝通</li>
            </ul>
        </div>


    </div>
</section>
<script>

</script>
<style>
.bsv ul li {
  /* color: red; */
  list-style: none;
  font-size: 18px;
}
.bsv ul li::before{
  content: '';
  display: inline-block;
  margin-right: 36px;
  height: 9px;
  width: 9px;
  border: 1px solid #00a0e8;
  transform: rotate(45deg);
  margin-left: 20px;
}
.bsv ul li:nth-child(odd):before{
  background-color: #00a0e8;

}
</style>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER
