<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<section class="bg-light-gray article careerSharing-section">
	<div class="sub-nav">
		<ul>
			<li></li>
		</ul>
	</div>
	<div class="six-hg-title">
		<div class="six-hg-tit leader-color">
			<span>實習心得</span>
		</div>
	</div>
	<div class="container">
		<div class="white">
			<div class="inside">
					<div class="col-4">
							<img src="http://loremflickr.com/222/86" alt="slider">
					</div>
					<div class="col-8">
						<a href="#" class="title">潘冠樺｜MIXXIN 募資行銷專員</a>
						<div class="line"></div>
						<p>
							這次所做的集資專案，是將香港團隊的 F1F2 好眠枕帶到 Kickstarter 上進行集資，專案執行的內容，在實習期間內包含：競品分析、市場定調、前測問卷製作、文案發想...				
						</p>
					</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="white">
				<div class="inside">
						<div class="col-4">
								<img src="http://loremflickr.com/222/86" alt="slider">
						</div>
						<div class="col-8">
							<a href="#" class="title">楊舒媛｜Symbio Taiwan QA Automation Engineer</a>
							<div class="line"></div>
							<p>
								我的 Menoter，Skys 為了此次我們的職涯體驗中規劃了一套 Learning Path，因為我與我的另一位體驗夥伴並沒有 Java 基礎，因此我們先利用一週的時間透過 Udemy 線上課程快速自學 Java 語言。接著...							</p>
						</div>
				</div>
		</div>
		<div class="clearfix"></div>
		<div class="white">
				<div class="inside">
						<div class="col-4">
								<img src="http://loremflickr.com/222/86" alt="slider">
						</div>
						<div class="col-8">
							<a href="#" class="title">陳建宇｜PicSee皮克看見 自動化測試工程師</a>
							<div class="line"></div>
							<p>
								藉由實習是進入 PicSee 公司從 0 到 1 建立自動化測試服務，包含測試計畫、測試項目釐清、測試框架找尋、模組化測試案例、最後到實際租用一台裝 Jenkins 的伺服器將整個測試項目上線...							</p>
						</div>
				</div>
		</div>
		<div class="clearfix"></div>
		<div class="white">
				<div class="inside">
						<div class="col-4">
								<img src="http://loremflickr.com/222/86" alt="slider">
						</div>
						<div class="col-8">
							<a href="#" class="title">陳奕儒｜盤古銀髮顧問公司 數據蒐集與分析實習生</a>
							<div class="line"></div>
							<p>
								我的工作內容主要是負責運用Python爬蟲技術，協助搜集分析建立老年日照中心選址系統所需參數，在實習的過程中，學姐跟我分享很多長照產業的know how跟跟做事情的態度，讓我更能提前在職場...							</p>
						</div>
				</div>
		</div>
		<div class="clearfix"></div>
		<div class="white">
				<div class="inside">
						<div class="col-4">
								<img src="http://loremflickr.com/222/86" alt="slider">
						</div>
						<div class="col-8">
							<a href="#" class="title">王昇｜MIXXIN 募資行銷專員</a>
							<div class="line"></div>
							<p>
								我的工作內容主要是負責運用Python爬蟲技術，協助搜集分析建立老年日照中心選址系統所需參數，在實習的過程中，學姐跟我分享很多長照產業的know how跟跟做事情的態度，讓我更能提前在職場...							</p>
						</div>
				</div>
		</div>
		<div class="clearfix"></div>
	</div>









	<!-- <div class="text-xs-center back-to-share">
		<a href="/sharing">Back</a>
	</div> -->
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->