<!--HEADER-->
	<% include ../header %>
<!--END HEADER-->

<section class="section-careerSharingContent">
	<div class="main-titles clearfix">
		<div></div>
		<div></div>
		<div></div>
		<div>實習心得</div>
	</div>
	<div class="careerSharingContent-container">
		<%- content %>
	</div>
	<div class="text-xs-center" style="margin-bottom: 3vh;">
		<button class="btn-lg btn-default" onclick="window.location.href = '/careerList'">Back</button>
	</div>
</section>


<!--FOOTER-->
	<% include ../footer %>
<!--END FOOTER-->