<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
	<ul>
	  <li></li>
	</ul>
  </div>
  <div class="six-hg-title">
	<div class="six-hg-tit leader-color">
		<span>職涯分享</span>
	</div>
	</div>

<div class="csc">
		<section class="bg-light-gray article">
			<div class="container">
				<div class="row sharing-content-pp">
					<div class="col-md-10 col-md-offset-1">
						<h3 class="share-in-title">王昇｜Mixxin 募資行銷專員</h3>
				
							<div class="sh-word">
								<h2>導師：王皓學長 創辦人</h2>
				
								<div class="foreword">
										<p>
												“ 嘗試是人生最有趣的一件事，因為試了所以知道、所以獲得。沒有嘗試的人生是無趣的，所以大膽去試試吧！”
										</p>	
								</div>
								<h2>｜體驗內容：從零開始建社群｜</h2>
								<div class="image">
										<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
								</div>									
									<p>
											本次實習為學長個人指導，這是不同以往的實習模式。不進公司，而是由學長指派每週任務，並於每週會議時間報告成果與進度。本次的社群建立基礎是 Vulcan 溫控智慧插座，以舒肥作為本次社群的核心包裝，期望建立最大的舒肥社群。
									</p>
									<h2>｜社群力：走得進來，留得下去｜</h2>
									<p>
											臉書社群是我做一開始建立的方向，我期待的是讓大眾在這了解舒肥，進而導購。但學長告訴了我一句話：「社群該走得進，留得住。」不該只是讓大家看到後就導購買產品，有沒有可能他現在不買，之後會買不停的方式。學長從不說該怎麼做，而是用引導性的方式來指導，也正因為如此我才能學到更多。									
									</p>
									<h2>｜團體 Meeting：你說，我們給你回饋｜</h2>
									<p>
											雖然沒有進公司，但是固定會有一個團體 Meeting。三、四間公司的實習生和主管們，犧牲假日的早上來聽你說。藉由一次次的報告，給予回饋，讓我了解自己在看事情的盲點。不同公司有不同的風格，在回饋時也會依照不同角度給予你建議，成長速度自然也會加快。									
									</p>
									<div class="image">
											<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
									</div>	
								
								
							</div>
						</div>
					</div>
				</section>
</div>




<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
