<!--HEADER-->
	<% include ../header %>
<!--END HEADER-->

<section class="section-careerSharingContent">
	<div class="main-title-div">
		<div class="line-and-circle">
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<h1>實習心得</h1>
	</div>
	<div class="careerSharingContent-container">
		<%- content %>
	</div>
</section>


<!--FOOTER-->
	<% include ../footer %>
<!--END FOOTER-->