<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-careerSharing">
	<% include ./sub-nav %>
	<div class="main-title-div">
		<div class="line-and-circle">
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<h1>實習心得</h1>
	</div>
	<div class="container">
		<% for(var i = 0; i < datas.length; i++){ %>
			<div class="shring-row row" onclick="window.location.pathname = '/careerSharing/<%= datas[i].id %>'">
				<div class="image col-md-4 col-sm-4 col-xm-12">
						<img src="<%= datas[i].photo %>" alt="slider">
				</div>
				<div class="content col-md-8 col-sm-8 col-xm-12">
					<h2 class="title"><%= datas[i].title %></h2>
					<hr>
					<p><%= datas[i].description %></p>
				</div>
			</div>
		<% } %>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->