<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
	<ul>
	  <li></li>
	</ul>
  </div>
  <div class="six-hg-title">
	<div class="six-hg-tit leader-color">
		<span>職涯分享</span>
	</div>
  </div>
<section class="bg-light-gray article careerSharing-section">
	<div class="container">
			


	<div class="text-xs-center back-to-share">
		<a href="/sharing">Back</a>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
