<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
	<ul>
	  <li></li>
	</ul>
  </div>
  <div class="six-hg-title">
	<div class="six-hg-tit leader-color">
		<span>職涯分享</span>
	</div>
	</div>

<div class="csc">
		<section class="bg-light-gray article">
			<div class="container">
				<div class="row sharing-content-pp">
					<div class="col-md-10 col-md-offset-1">
						<h3 class="share-in-title">楊舒媛｜Symbio Taiwan QA Automation Engineer</h3>
				
							<div class="sh-word">
								<h2>導師：安天 技術長</h2>
				
								<div class="foreword">
										<p>
												“ 在機會來臨之前，我們只能不斷準備與充實自我。不用害怕找不到舞台展現自己，只求在不斷的嘗試之中找尋自己願意投身一輩子的志業。”
										</p>	
								</div>
								<h2>｜體驗內容：外商工程師的體驗與交流｜</h2>
									<div class="image">
										<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
									</div>
									
									<p>
											藉由資訊種子的職涯體驗，我在今年冬天進入 Symbio Taiwan 體驗自動化測試工程師的工作內容，目前也有幸受到公司的推薦進入美商 D2 Nova 擔任實習生。在此次的職涯體驗中，我不僅獲得許多程式開發的經驗、更在與 Mentor 相處的時光獲得許多硬實力之外的收穫。									</p>
									<h2>｜公司制度：導師的近身指導｜</h2>


									<p>
										我的 Menoter，Skys 為了此次我們的職涯體驗中規劃了一套 Learning Path，因為我與我的另一位體驗夥伴並沒有 Java 基礎，因此我們先利用一週的時間透過 Udemy 線上課程快速自學 Java 語言。接著，Skys 給予我們 Symbio 團隊現有的程式碼使我們可以在 local 端跑 testcase ，並讓我們加入專案團隊、一同進行測試。									
									</p>
									<div class="image">
									<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
									</div>	
									<h2>｜成長與收穫｜</h2>								
									<p>
											在職涯體驗期間，不僅讓我得以了解一間有規模的外商是如何跨國合作一項龐大的專案以及關於 coding 的硬實力，Mentor 更以親身經歷叮嚀我們要多多關注程式之外的軟實力。以與同事間的關係經營為例， 由於我們平常在上班期間幾乎都專注於自己的任務，沒有機會跟別的同事接觸，所以我們都會把握午餐時間，在大家一起吃午餐的時候聊天、關心對方；更特別的是，我的同事中有一位加拿大籍、一位法國籍的外國同事，我們會利用午餐時間聊文化差異與私生活，真的是意想不到的收穫！									
									<div class="image">
									<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
									</div>
							</div>
						</div>
					</div>
				</section>
</div>




<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
