<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="bg-light-gray article careerSharing-section">
	<div class="sub-nav">
		<ul>
			<li></li>
		</ul>
	</div>
	<div class="six-hg-title">
		<div class="six-hg-tit leader-color">
			<span>職涯分享</span>
		</div>
	</div>
	<div class="container">
			<div class="col-4">
					<img src="http://loremflickr.com/400/400" alt="slider">
					<span class="title">單位名稱</span>
			</div>
			<div class="col-4">
					<img src="http://loremflickr.com/400/400" alt="slider">
					<span class="title">單位名稱</span>
			</div>
			<div class="col-4">
					<img src="http://loremflickr.com/400/400" alt="slider">
					<span class="title">單位名稱</span>
			</div>
			<div class="col-4">
					<img src="http://loremflickr.com/400/400" alt="slider">
					<span class="title">單位名稱</span>
			</div>
			<div class="col-4">
					<img src="http://loremflickr.com/400/400" alt="slider">
					<span class="title">單位名稱</span>
			</div>
			<div class="col-4">
					<img src="http://loremflickr.com/400/400" alt="slider">
					<span class="title">單位名稱</span>
			</div>
			<div class="col-4">
					<img src="http://loremflickr.com/400/400" alt="slider">
					<span class="title">單位名稱</span>
			</div>
			<div class="col-4">
					<img src="http://loremflickr.com/400/400" alt="slider">
					<span class="title">單位名稱</span>
			</div>
			<div class="col-4">
					<img src="http://loremflickr.com/400/400" alt="slider">
					<span class="title">單位名稱</span>
			</div>


	<div class="text-xs-center back-to-share">
		<a href="/sharing">Back</a>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
