<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
	<ul>
	  <li></li>
	</ul>
  </div>
  <div class="six-hg-title">
	<div class="six-hg-tit leader-color">
		<span>職涯分享</span>
	</div>
	</div>

<div class="csc">
		<section class="bg-light-gray article">
			<div class="container">
				<div class="row sharing-content-pp">
					<div class="col-md-10 col-md-offset-1">
						<h3 class="share-in-title">陳建宇｜PicSee皮克看見 自動化測試工程師</h3>
				
							<div class="sh-word">
								<h2>導師：方選學長 共同創辦人</h2>
				
								<div class="foreword">
										<p>
												“ 一個線上產品開發維護勝過自己 side project 摸索一年。”
										</p>	
								</div>
								<h2>｜體驗內容：網路服務背後的技術團隊｜</h2>
									<div class="image">
										<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
									</div>
									
									<p>
											藉由實習進入 PicSee 公司從 0 到 1 建立自動化測試服務，包含測試計畫、測試項目釐清、測試框架找尋、模組化測試案例、最後到實際租用一台裝 Jenkins 的伺服器將整個測試項目上線，對於非資訊本系但極度嚮往這行業的我，有著極大的意義，也讓我更加確認跨領域這條路是走的下去的。
									</p>
									<h2>｜公司制度：沒有制度也是一種制度｜</h2>
									<p>
											一間小小的辦公室，不到十人的公司，我每天第一件事是思考今天要做哪，最常挑著窗邊的 bar 台有時站著、偶時坐著高腳椅，每當辦公室音響響起，接下去的是同事們猜歌大賽，我與 Mentor 們的互動依照結果回推起來應該是一天會討論兩次，一次說今天要幹嘛想怎麼做，一次是說今天發生了什麼，當中有任何問題都可以找任何人詢問，我想大概在公司 80% 的時間都是自己一個人在研究做事吧，我想做什麼、想用哪種程式語言都不會受限制，只要你可以提出你的想法。									
									</p>
									<h2>｜新知分享：開發的背後不為人知的一面｜</h2>	
	
									<h2>｜現在的你可以準備的事｜</h2>								
									<p>
											如果你也是喜歡寫程式但非資訊本科系，極度建議你整理好自己的現有的作品集投間實習吧，相信我你會發現自己是對於人非常有價值的。
									</p>									
								
							</div>
						</div>
					</div>
				</section>
</div>




<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
