<% include ../header %>
<section class="section-careers">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>職涯專案</h1>
    <h2 class="sub-title">「用能力、經驗與人脈打造專屬於你的履歷」</h2>
  </div>

  <div class="six-project-container">
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        幫助學員了解未來職涯方向，<br>
        提升在職場中的軟硬實力，並互相分享、交流、回饋，<br>
        讓尚未進入職場的學員們，有機會針對想了解的職位做面試以及實習體驗
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content line-connect">
      <h3 class="no-border no-color">
         第一階段─職前準備
      </h3>
      <p>
        履歷互評、過來人分享工作坊：前者協助夥伴間互相回饋「你眼中的我」，了解自己在他人心目中的樣子，讓學員在修改履歷時更有方向。後者透過邀請學長姊分享工作經歷，幫助還沒有職場經驗的學員對於實習有更完整的想像，以及工作時應當具備的態度。
      </p>
    </div>
    <div class="content line-connect">
      <h3 class="no-border no-color">
        第二階段─職涯體驗
      </h3>
      <p>
        透過歷屆學長姊的協助，學員們有三個月的時間能夠實地到企業實習，產業從資訊、科技、電商、教育到人壽公司，職務從工程師、設計師、活動行銷、營運企劃到產品助理，各式領域的實習機會幫助每位學員進一步了解自己感興趣的產業與職務。此外亦有「履歷面試」、「程式設計」與「平面設計」等工作坊，使學員具備銜接職場的能力。
      </p>
    </div>
    <div class="content line-connect no-line">
      <h3 class="no-border no-color">
         第三階段─成長論壇
      </h3>
      <p>
        第十五屆不只邀請學員互相分享彼此實習的心得，也邀請公會長輩、校友會學長姊一同共襄盛舉，分享彼此從對方身上學習到的收穫。除了分享會外，交流時間也讓學員透過與學長姐進行深度諮詢，進而思考自己的未來職涯方向。
      </p>
    </div>
    <img class="padding-48" src="/images/projects/sixproject-career1.jpeg"></img>
    <h3>學員心得</h3>
    
    <div class="content">
      <h3 class="no-border">總召｜政治大學 國際經營與貿易學系 三年級 郭容榕</h3>
      <p>
          　　即使在接總召之前，已經有了些領導經驗、辦過許多活動，但這一路上太多我從未料見的風景，讓我好好收藏在心裡。<br><br>
      　　記得一開始對於專案抱有許多理想，到中間漸漸開始出現許多不同的衝擊，也發現自己並非以往所想的這麼樂觀，會非常在意夥伴們的看法，一直對自己不太滿意，無法找到適當的出口，但隨著時間推進，以及其他活動的成功，這份感覺慢慢沈澱，也讓我更了解自己。<br><br>
      　　也記得我們辦了一場史無前例的 SEO 工作坊，這是我加入資種以來，第一次從 Taker 變成 Giver 的活動，在設計課程、編列講義時，我更熟悉了實習所學的專業知識，表達能力也進步許多，最感動的是看到大家的回饋，能夠啟發一些人、引領他們探索 SEO 的世界，是我在職涯專案中完全沒有想像過的。<br><br>
      　　最後，很謝謝夥伴們一直以來的努力，希望你們都有個愉快的合作經驗，這是我非常珍貴的回憶。
      </p>
    </div>
  </div>
</section>
<% include ../footer %>