<% include ../header %>
<section class="section-careers">
<div class="sub-nav">
  <ul>
    <li><a href="/courseInfo">講座課程</a></li> |
    <li><a href="/businessVisit">企業參訪</a></li> |
    <li><a class="active" href="/tuv">六大專案</a></li>
  </ul>
</div>
<div class="six-project">
  <a href="/tuv">
      <div class="m">
          <p data-key="1" class="none-op six-b-color">TUV</p>
          <p class="op six-a-color">TUV</p>
          <div class="circles">
            <svg class="circle-no">
              <circle fill="lightgrey" cx="15" cy="25" r="5"/>
            </svg>
            <svg class="circle2">
              <path d="M15 0 V13" stroke="#F7D975"/>
              <circle fill="white" stroke="#F7D975" stroke-width="1" cx="15" cy="25" r="12"/>
              <circle fill="#F7D975" cx="15" cy="25" r="5"/>
            </svg>
          </div>
      </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/spring">
      <div class="m">
        <p data-key="2" class="none-op six-b-color">春酒</p>
        <p class="op six-a-color">春酒</p>
        <div class="circles">
          <svg class="circle-no">
              <circle fill="lightgrey" cx="15" cy="25" r="5"/>
            </svg>
          <svg class="circle2">
            <path d="M15 0 V13" stroke="#ED8F8F"/>
            <circle fill="white" stroke="#ED8F8F" stroke-width="1" cx="15" cy="25" r="12"/>
            <circle fill="#ED8F8F" cx="15" cy="25" r="5"/>
          </svg>
        </div>
      </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/careers">
    <div class="m">
      <p data-key="3" class="none-op">職涯</p>
      <p class="op">職涯</p> 
      <div class="circles">
        <svg class="circle-no">
          <path d="M15 0 V13" stroke="#8FBEED"/>
          <circle fill="white" stroke="#8FBEED" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#8FBEED" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#8FBEED"/>
          <circle fill="white" stroke="#8FBEED" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#8FBEED" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/new">
    <div class="m">
      <p data-key="4" class="none-op six-b-color">招生</p>
      <p class="op six-a-color">招生</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#9EE5CF"/>
          <circle fill="white" stroke="#9EE5CF" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#9EE5CF" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/overseaVisit">
    <div class="m">
      <p data-key="5" class="none-op six-b-color">海參</p>
      <p class="op six-a-color">海參</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#A3E3F2"/>
          <circle fill="white" stroke="#A3E3F2" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#A3E3F2" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/end">
    <div class="m">
      <p data-key="6" class="none-op six-b-color">結業</p>
      <p class="op six-a-color">結業</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#FFAF8B"/>
          <circle fill="white" stroke="#FFAF8B" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#FFAF8B" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
  </div>
<script src="/js/specifies/frontend/sixproject.js"></script>

<div class="six-hg-title">
  <div class="six-hg-tit career">
      <span>03.職涯專案</span>
  </div>
  <div class="six-hg-le career">
      <span>「用能力、經驗與人脈打造專屬於你的履歷」</span>
  </div>
</div>
<div>
  <div class="program-4-title">
      <div>
        <span class="career-border">-專案宗旨-</span>
      </div>
  </div>
  <div class="text-xs-center project-content-style">
  <p>讓學員探索自身職涯興趣，</p>
  <p>實地了解職場生態與現今產業概況，</p>
  <p>並增進學員與歷屆學長姊間的交流。</p>
  </div>
<!--   <div class="program-4-title">
    <div>
      <span class="career-border">-我們要做的是-</span>
    </div>
  </div>
  <div class="career-bg" style="height: 200px; margin-top:50px;">

  </div>  --> 
  <div class="program-4-title">
    <div>
      <span class="career-border">-專案內容-</span>
    </div>
  </div>
<!--   <div class="six-pro-circle">
    <div class="career-bg">冷光</div>
    <div class="career-bg">成語劇</div>  
    <div class="career-bg">樂團</div>
    <div class="career-bg">舞蹈</div>
    <div class="career-bg">戲劇</div>
  </div> -->
  <div class="text-xs-center project-content-style career-content">
    <p>共分三個階段，包括職前準備、職涯體驗與分享交流。</p>
    <p class="career-weight">第一階段─職前準備。</p>
    <p style="text-align: left;">&emsp;&emsp;「聊聊吾己」問題集，協助學員進行自我反思；夥伴間互相回饋「你眼中的我」，了解自己在他人心目中的樣子；以及「履歷面試工作坊」讓學員在撰寫履歷時更有方向。最後透過「職務分享會」邀請曾實習過的學員與學長姊分享實習經歷，幫助還沒有職場經驗的學員對於實習有更完整的想像，以及工作時應當具備的態度。</p>
    <p class="career-weight">第二階段─職涯體驗。</p>
    <p style="text-align: left;">&emsp;&emsp;透過歷屆學長姊的協助，學員們有兩個月以上的時間能夠實地到企業實習，產業從資訊、科技、電商、教育到人壽公司，職務從工程師、設計師、活動行銷、營運企劃到產品經理，各式領域的實習機會幫助每位學員進一步了解自己感興趣的產業與職務。此外亦有「即席表達」、「前端程式」與「平面設計」工作坊，使學員具備銜接職場的能力。</p>
    <p class="career-weight">第三階段─分享交流。</p>
    <p style="text-align: left;">&emsp;&emsp;第十四屆於三創11F貝殼好室舉辦「職涯體驗分享會─金種獎」，不只邀請學員互相分享彼此實習的心得，也邀請公會長輩、校友會學長姊一同共襄盛舉。除了分享會外，Networking時間也讓學員透過與學長姐進行深度交流，進而思考自己的未來職涯方向。</p>
    <p style="text-align: left;">&emsp;&emsp;在以上三階段循循善誘之下，學員可以更了解職場環境、產業概況，並學習所需具備的專業能力，還能在實習期間從中觀察並學習Mentor學長姐的想法，建立職場人脈。</p>
  </div>
  <img src="/images/projects/project3.png" class="project-last-pic" alt="">
</div>
<div class="top" style="margin: 0; padding-top: 5px; background-color:#6e6e6e;">
  <div><img src="/images/index/top.png"></div>
  Top
</div>
</section>
<script src="/js/specifies/frontend/aboutNTCA.js"></script>

<% include ../footer %>