<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
	<ul>
	  <li></li>
	</ul>
  </div>
  <div class="six-hg-title">
	<div class="six-hg-tit leader-color">
		<span>職涯分享</span>
	</div>
	</div>

<div class="csc">
		<section class="bg-light-gray article">
			<div class="container">
				<div class="row sharing-content-pp">
					<div class="col-md-10 col-md-offset-1">
						<h3 class="share-in-title">潘冠樺｜貝殼放大 募資行銷專員</h3>
				
							<div class="sh-word">
								<h2>導師：王皓學長 共同創辦人</h2>
				
								<div class="foreword">
											<p>
													“ 在機會來臨之前，我們只能不斷準備與充實自我。不用害怕找不到舞台展現自己，只求在不斷的嘗試之中找尋自己願意投身一輩子的志業。”
											</p>	
								</div>
									<div class="image">
										<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
									</div>
									<h2>｜體驗內容：集資前測的扎實訓練｜</h2>
									<p>
											這次實習內容是群眾集資的「個人指導」，也就是不會進公司。透過學長給我們小教學與一次次的任務，以每週開一次會的方式，累積實戰經驗。並且每兩週一次大型聚會，與其他公司的實習生一起分享該期間所做的事，不僅可以吸收到其它領域的實習硬實力，更可以聽到更多導師們與實習生們的回饋與建議，是非常喜歡的經驗。
									</p>
									<div class="image">
											<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
										</div>
									<p>
											這次所做的集資專案，是將香港團隊的 F1F2 好眠枕帶到 Kickstarter 上進行集資，專案執行的內容，在實習期間內包含：競品分析、市場定調、前測問卷製作、文案發想以及廣告投放，將集資案上線前的流程與 know-how，扎扎實實的傳授給我們。
									</p>
									<h2>｜公司制度：導師的近身指導｜</h2>
									<p>
											因為沒有進公司，實習期間都是與學長以及其他兩位實習生互動。與其說是「上司」，學長更像是位「導師」。學長非常注重思考邏輯與脈絡，雖然不會真正的「執行」，但每次的驗收學長都會給予許多回饋與修正。行銷這件事沒有絕對的對與錯，再給予回饋的過程中，學長不會跟你說「哪裡不對」，而是「怎麼樣可以更好」。同時也可以透過學習其他兩位實習生的執行，去思考更多文案的可能性。					</p>
									<div class="image">
										<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
									</div>
									<h2>｜新知分享：只有實習才能學到的硬實力｜</h2>
									<p>
											文案撰寫：從黃金圈理論開始思考，產品能為顧客提供的核心價值在哪？競品的定義，是自己訂出來的：月亮燈比較的不是燈，而是月亮。透過距畫面感的文案，塑造使用者情境，去打動受眾。
										<br>
										<br>
											前測問卷：前測問卷，是去驗證商品市場的可行性的一種假門測試，而目的其實是行銷性質>問卷目的。透過問題將受中導入情境，適時的給予產品資訊，確認價格的接受度後，最最重要的是留下 email，作為後續再行銷用。而問卷邏輯更是一門學問，怎麼樣才能吸引受眾留下 email？Call to Action 非常重要。					
										</p>
				
				
									
											<h2>｜成長與收穫：認真做好每一件事｜</h2>
									<p>
											許多的 know how，真的不實習不會有這麼深刻的體悟。在完全不熟悉的領域，去了解操作的模式以及邏輯，做中學的過程真的非常具挑戰性。
											其實這經驗比一般進公司實習，還要來得更難能可貴呢！能獲得學長的近身指導，有問題隨時問，犯錯也沒關係，找到錯的地方再改進就好，還會有人不斷地給予你回饋與改進方向，常常想來，導師真的是沒有義務要教你這麼多！所以更是要認真做好每一項任務，認真做，才會有更多收穫。
									</p>
									<h2>｜想對你說的一句話｜</h2>
									<p>
											如果還對未來想做的是沒有想象，那就跨出去嘗試吧。可能這次的實習不適合你，你刪去了一個選項，但下次，說不定你就找到你的熱情所在  					</p>
								</div>
							</div>
						</div>
					</div>
				</section>
</div>




<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
