<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
	<ul>
	  <li></li>
	</ul>
  </div>
  <div class="six-hg-title">
	<div class="six-hg-tit leader-color">
		<span>職涯分享</span>
	</div>
	</div>

<div class="csc">
		<section class="bg-light-gray article">
			<div class="container">
				<div class="row sharing-content-pp">
					<div class="col-md-10 col-md-offset-1">
						<h3 class="share-in-title">陳奕儒｜盤古銀髮顧問公司 數據蒐集與分析實習生</h3>
				
							<div class="sh-word">
								<h2>陳奕儒｜盤古銀髮顧問公司 數據蒐集與分析實習生</h2>
				
								<div class="foreword">
											<p>
													“ 即使迷惘，也要當個積極的迷惘人，朝未知的方向努力邁進，總有一天屬於你的那道光會出現！”
											</p>	
								</div>

									<h2>｜體驗內容：運用數據分析了解長照產業｜</h2>
									<div class="image">
											<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
									</div>
									<p>
											這次的職涯專案實習我選擇的是個人指導，簡單來說就是每個禮拜跟學姐開會，回報進度，討論下一步的規劃並分配任務，從開會討論的過程中漸漸了解到長照產業的know how並學習數據蒐集的工具Python 爬蟲。並而每兩週一次團體meeting中，可以在短時間內聽不同公司的夥伴分享不同職務的工作內容，學長姐會針對每個人給回饋，點出每個人的優缺點，也可以從中了解那邊還能再更好，可以聽到不同產業的實戰經驗，非常有收穫。
									</p>
									<h2>｜公司制度：新創公司的隨機應變 & 重新檢視學習工具的意義｜</h2>
									<p>
											因為不需要每天進公司，所以每個禮拜的工作內容變動都會很大，會根據學姐公司的狀況來分配我的工作，學姐都會很細心的分享講解現在公司為什麼要這麼做，這中間有什麼邏輯脈絡，從每次的討論中都可以發現自己的不足和思考的盲點，並學習邏輯思考的脈絡，也看到新創公司邊執行邊修正所需的隨機應變能力。在這次的體驗中，學姐教會我一件非常重要的事，不僅要了解工具的重要性，更要有洞察力及邏輯力，才能合理的運用工具找出並解決問題。而不僅僅是單純的學會工具，在你擁有適當的武器前，你必須找到適合你的戰場，否則，你將無用武之地。
									</p>
									<h2>｜新知分享：只有實習才能學到的硬實力｜</h2>
									<p>
											Python爬蟲技術：一個禮拜自學Python爬蟲技術，並有程式背景相關學長幫忙解惑，一起討論更好更快的資料搜集方法。					
									</p>
									<div class="image">
										<img class="seminar-imgae" src="http://loremflickr.com/1094/556"></img>
									</div>
									<h2>｜成長與收穫：了解到時間和資源的重要性｜</h2>
									<p>
											雖然職涯體驗只有短短的兩三個月，但在這段與學姐相處的時光中，我也更深刻的了解到時間和資源的重要性，只有大學可以擁有自己完整的時間，更應該合理安排，做能讓自己成長的事，這些努力將來都會呈現在未來的發展當中。期許自己不斷的朝目標邁進，也感謝資種給我這次職涯體驗的機會！
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
</div>




<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
