<section class="section-checkFile">
	<div class="container check-file-container" style="margin: 0; padding: 0; width: 100%;">
	<h4>資料繳交狀況</h4>
	<div class="row check-file-row">
		<% if (disc !=undefined && disc.finished == 1){ %>
			<div class="col-md-4 first-file">
				<p><span>1</span>完成DISC測驗</p>
			</div>
		<% } else { %>
			<div class="col-md-4" >
				<p><span>1</span>尚未完成DISC測驗</p>
			</div>
		<% } %>
		<% if (user.finished == 1){ %>
			<div class="col-md-4 second-file">
				<p><span>2</span>完成個人資料</p>
			</div>
		<% } else { %>
			<div class="col-md-4" >
				<p><span>2</span>尚未完成個人資料</p>
			</div>
		<% } %>
		<% if ( files.confirm == 1){ %>
			<div class="col-md-4 third-file">
				<p><span>3</span>完成書面資料</p>
			</div>
		<% } else { %>
			<div class="col-md-4" >
				<p><span>3</span>尚未完成書面資料</p>
			</div>
		<% } %>
	</div>
</section>