<div class="container">
        <div class="wizard" style="text-align: center; ">
            <h1>報名專區</h1>
            <div class="wizard-inner">
                <ul class="nav nav-tabs" role="tablist">
                    <li id="disc_progress" role="presentation" class="">

                    	<div class="progress_title">DISC</div>
                        <a href="#">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                        </a>

                    </li>

                    <li id="profile_progress" role="presentation" class="">
                    	<div class="progress_title">個人資料</div>
                        <a href="#">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        </a>
                    </li>
                    <li id="form_progress" role="presentation" class="">
                            <div class="progress_title">書審問題</div>
                            <a href="#">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                            </a>
                        </li>
                    <li id="file_progress" role="presentation" class="">

                    	<div class="progress_title">檔案上傳</div>
                        <a href="#">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-paperclip"></i>
                            </span>
                        </a>

                    </li>



                    <li id="finish_progress" role="presentation" class="">
                    	<div class="progress_title">確認報名</div>
                        <a href="#">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</div>
<style type="text/css">
.wizard {
    margin: 10px auto;
   
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 5;
    border-bottom: 0px;
}

.wizard > div.wizard-inner {
    position: relative;
}


.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
}

span.round-tab {
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #b8bac1;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
  content:"";
  position:absolute;
  width: 100%;
  height:2px;
  background-color: #b8bac1;
  top: 60%;
  left: -50%;
  z-index:1;
}

.wizard li.active + li.active:after{
	background-color: #5bc0de;
}

.wizard li:first-child:after {
  content:none;
}
.wizard .nav-tabs > li a {
    width: 80px;
    height: 80px;
    margin: 1.2vh auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard .progress_title {
    font-size: 20px;
    font-weight: 1;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: "";
        position: absolute;
        left: -50%;
    }
	.wizard li.active + li.active:after{
		background-color: #5bc0de;
	}
	.wizard li:first-child:after {
	  content:none;
	}
	.wizard .progress_title {
	    font-size: 12px;
	    font-weight: 1;
	}
}
</style>
