<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- <img src="/images/courseInfo/coursebanner.png" id="img-responsive" width="100%"> -->

<section class="section-courseInfo bg-light-gray">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1><%= datas[0].title %></h1>
  </div>

  <div class="container">
    <div class="row course-detail">
      <div class="image">
        <img src="<%= datas[0].photo %>"></img>
      </div>
      
      <div class="project-content-style">
        
        <h4 class="text-xs-center">
          
          <!-- <% if (datas[0].speakerTitle != ".") {%>
            <%= datas[0].speakerTitle %>
          <% } %> -->
          
        </h4>

        <div class="content-y-m">
          <%- datas[0].content %>
        </div>
        <div class="text-xs-center back-to-course">
          <a href="/courseInfo">Back</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

