<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="container-fluid">
	<img src="/images/courseInfo/coursebanner.png" id="img-responsive" width="100%">
	<section class="bg-light-gray article">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<h3><%= datas[0].title %></h3>
					<div><%- datas[0].content %></div>	
				</div>
			</div>
		</div>
	</section>
</div>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->