<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="course-top section-courseInfoList">
  <% include ./sub-nav %>
  <div class="">
    <h1>講座課程</g1>
  </div>
  <div class="row">
    <% for(var i = 0; i <datas.length; i++){ %>
      <div class="col-sm-6 eachcourse">
        <a href="<%= url + datas[i].id %>">
          
          <div>
            <p class= "course-number"  >Class <%= i+1 %></p>
            <p class="course-title">「<%= datas[i].title %>」</p>
            <p class="teacher">講師：<br><%= datas[i].speaker %></p>
            <div class="keepRead">了解更多</div>
          </div>
        </a>
      </div>
    <% } %>
    <!-- <div class="col-xs-12 text-xs-center top"><span class="top-box">回到最上</span></div> -->
  </div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
