<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- <img src="/images/courseInfo/coursebanner.png" id="img-responsive" width="100%"> -->

<section class="section-courseInfo bg-light-gray">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>資種人的過去、現在與未來</h1>
  </div>
  <div class="course-container">
    <h2>“ 時間花在哪裡，成就就在哪裡”</h2>
    <h3>課程介紹</h3>
    <p>
    資訊種子培訓計畫始業式，藉由陳芬玉總幹事，與學長姊們的分享，令我們更了解資訊種子，並鼓勵我們在這一年的培訓計畫中，能夠有所準備，且盡可能地學習，課堂最後以分享活動「世界咖啡館」與感性反思「願望銀行」讓我們展開新的旅程。
    </p>
    <div class="course-img-div">
      <img src="/images/courseInfo/5a95285b-cb12-4000-82a6-af576431f8df.jpg"></img>
    </div>
    <h3>課程重點</h3>
    <ul>
      <li>「時間花在哪裡，成就就在哪裡」</li>
      <li>在資種可學到的事情：脈絡、人脈、自我學習，讓自己成為一個節點</li>
      <li>能夠成為他人的燈塔，照亮他人，是件很光榮的事。</li>
      <li>哈佛大學五個「人生思考題」</li>
    </ul>
    <h3>學員心得</h3>
    <p>
      來到資種的第一堂課，許多學長姊都回來分享自己在資訊種子培訓計畫期間找尋自我價值，以及在團隊中找尋自己的定位與潛力的過程。我在當下就能強烈的感受到資種人彼此之間願意分享、並且回饋這裡的精神。我相信，能夠在未來的一年中與夥伴們，共同完成所有專案、課程是一件很難得也是一件很有價值的事情。
如同王皓學長所說:「時間花在哪裡，成就就在哪裡。」很希望在經歷一年挑戰之後，我能夠和身旁的所有人一起打開「願望銀行」，看見原來那個懵懵懂懂的自己能夠成功蛻變，並且找尋到明確的方向和目標。更希望自己能夠和學長姐一樣繼續維持資種人分享、傳承、回饋的精神，把我在這裡的所學帶給更多和我一樣正在找尋自我價值的人。
    </p>
    <div class="text-xs-center back-to-course">
      <a href="/courseInfo">Back</a>
    </div>
  </div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

