<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<img src="/images/layout/2-4pastcourse.png" alt="banner" id="img-responsive" width="100%">
<section class="bg-white">
	<div class="container">
		<div class="row">
		<% for(var i = 0; i < datas.length; i++){ %>
			<div class="col-md-10 col-md-offset-1" id="<%= datas[i].id %>">
				<h3 class="text-center"><%= datas[i].title %></h3>
				<div><%- datas[i].content %></div>	
			</div>
		<% } %>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->