<!-- <section class="section-discResult">
   <div class="business-container">
     
    <div class="bsv bsv6">
        <div class=" main1-color">
            <h3><span class="block-left"></span>老虎Dominance</h3>
        </div>
        <div>
            <h4 class="main1-color">特質</h4>
              <p>　　「具備高支配型特質，競爭力強、好勝心盛，積極自信，是個有決斷力的組織者」。老虎型的人，胸懷大志、勇於冒險、分析敏銳，主動積極且具極為強烈的企圖心，只要認定目標就勇往直前，不畏反抗與攻訐，誓要取得標的物。
                
             </p>
        </div>
        <div class="row visit-share">
         
         
            <h4 class="main1-color">資種十五屆代表人物：招生專案召部</h4>
            <p>　　
                    常常會帶領大家向前衝，會仔細觀察生活周遭事物，及探索市場可能性與開發機會，
                在團隊溝通時也會積極的說出自己心中的意見，幫助專案順利地執行，且帶有強烈的
                責任感，領導大家一起達到理想的目標，通常會團隊中的提振默契的核心人物。
            </p>
          </div>

                <div class="business-container">
          <div class="why-bsv main1-color-br">
            <h2 class="main1-color"></h2>
            <p>「這個結果會隨著時間以及每個人的成長而改變，歡迎你加入資種使自己學習成為善於在不同角色間轉換的『變色龍』。」
          </p>
          </div>
        
    </div>
    
    <div class="bsv bsV5">
        <div class=" main1-color">
            <h3><span class="block-left"></span>孔雀Influence</h3>
        </div>
        <div class="introduction">
            <h4 class="main1-color">特質：</h4>
              <p>　　「具備樂觀與和善的性格，有真誠的同理心（Empathy）和感染他人的能力」
                都是具有高度表達能力的人。他們的社交能力極強，有流暢無礙的口才和熱情幽默的風度，在團體或社群中容易廣結善緣。
              </p>
        </div>
              <div class="row visit-share">
         
        
              <h4 class="main1-color">資種十五屆代表人物：幹部團隊	
                </h4>
              <p>　常常會關心學員的狀況，喜歡與他人互動與學長姊交流，願意分享自己的內心話，在
                   團隊合作當中通常為協調者，仔細觀察組員彼此近況並給予鼓勵，此外在簡報與主持
                   活動上都能維持自己的風格，不易怯場，對自己對專案內容都非常有想法。

                </p>  
          
               </div>
                  <div class="business-container">
                 <div class="why-bsv main1-color-br">
                      <h2 class="main1-color"></h2>
                      <p>「這個結果會隨著時間以及每個人的成長而改變，歡迎你加入資種使自己學習成為善於在不同角色間轉換的『變色龍』。」
                    </p>
                </div>
    </div>
    
    
    <div class="bsv bsv3">
        <div class=" main1-color">
            <h3><span class="block-left"></span>無尾熊Steadiness</h3>
        </div>
        <div class="introduction">
            <h4 class="main1-color">特質：</h4>
            <p>　　「具備高度耐心、敦厚隨和，行事冷靜自持，處變不驚的能力」，適宜當安定內
                    部的工作，在需要專業精密技巧的領域，或在氣氛和諧且不具趕迫時間表等的職
                    場環境中，他們最能發揮所長。

            </p>
        </div>
        <div class="row visit-share">
         
        
              <h4 class="main1-color">資種十五屆代表人物：職涯專案召部</h4>
              <p>　一步一腳印完成手邊所接到的任務，能冷靜地處理專案的內容、並且在團隊當中，能
                夠「長期」支援夥伴間的的合作，幫助團隊更快度過磨合期，仔細傾聽中每位夥伴的
                心聲、令專案能進行得更順利。
                </p>  
          
        </div>
            <div class="business-container">
            <div class="why-bsv main1-color-br">
                      <h2 class="main1-color"></h2>
                      <p>「這個結果會隨著時間以及每個人的成長而改變，歡迎你加入資種使自己學習成為善於在不同角色間轉換的『變色龍』。」
                    </p>
                </div>
      
    </div>

    <div class="bsv bsv4">
        <div class=" main1-color">
            <h3><span class="block-left"></span>貓頭鷹Compliance</h3>
        </div>
        <div class="introduction">
            <h4 class="main1-color">特質：</h4>
            <p>　　「具備性格內歛特質、善於和數字溝通，行事講究條理分明、守紀律重承諾」
                    他們重視架構、事事求據，會將細節條例化，事事檢查以求正確無誤，追求一切
                    照章辦事的態度和求取完美的精神」

            </p>
        </div>
        <div class="row visit-share">
         
        
              <h4 class="main1-color">資種十五屆代表人物：結業專案召部</h4>
              <p>　對於事物的看法非常理性，有時會幫助夥伴解決疑難雜症，此外，也能夠巧妙掌握專
                    案的時程與執行，並且能設想許多方案處理專案執行上的例外狀況，並會主動督促其
                    他夥伴的工作進度是否有達預期目標，能按夠部就班的完成工作，是一個非常注意細
                    節、有研究精神的角色。	
                </p>  
          
        </div>
        <div class="business-container">
        <div class="why-bsv main1-color-br">
            <h2 class="main1-color"></h2>
            <p>「這個結果會隨著時間以及每個人的成長而改變，歡迎你加入資種使自己學習成為善於在不同角色間轉換的『變色龍』。」
          </p>
          </div>
    </div>

</section>
 -->