<% include ../header %>

<div class="sub-nav">
  <ul>
    <li><a href="/courseInfo">講座課程</a></li> |
    <li><a href="/businessVisit">企業參訪</a></li> |
    <li><a class="active" href="/tuv">六大專案</a></li>
  </ul>
</div>
<div class="six-project">
	<a href="/tuv">
	    <div class="m">
		      <p data-key="1" class="none-op">1</p>
		      <p class="op">TUV</p>
		      <div class="circles">
		        <svg class="circle-no">
		          <circle fill="grey" cx="15" cy="25" r="5"/>
		        </svg>
		        <svg class="circle2">
		          <path d="M15 0 V13" stroke="#F7D975"/>
		          <circle fill="white" stroke="#F7D975" stroke-width="1" cx="15" cy="25" r="12"/>
		          <circle fill="#F7D975" cx="15" cy="25" r="5"/>
		        </svg>
		      </div>
	    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/spring">
	    <div class="m">
	      <p data-key="2" class="none-op">2</p>
	      <p class="op">春酒</p>
	      <div class="circles">
	        <svg class="circle-no">
		          <circle fill="grey" cx="15" cy="25" r="5"/>
		    </svg>
	        <svg class="circle2">
	          <path d="M15 0 V13" stroke="#ED8F8F"/>
	          <circle fill="white" stroke="#ED8F8F" stroke-width="1" cx="15" cy="25" r="12"/>
	          <circle fill="#ED8F8F" cx="15" cy="25" r="5"/>
	        </svg>
	      </div>
	    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/careers">
    <div class="m">
      <p data-key="3" class="none-op">3</p>
      <p class="op">職涯</p> 
      <div class="circles">
        <svg class="circle-no">
          <circle fill="grey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#8FBEED"/>
          <circle fill="white" stroke="#8FBEED" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#8FBEED" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/new">
    <div class="m">
      <p data-key="4" class="none-op">4</p>
      <p class="op">招生</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="grey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#9EE5CF"/>
          <circle fill="white" stroke="#9EE5CF" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#9EE5CF" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/overseaVisit">
    <div class="m">
      <p data-key="5" class="none-op">5</p>
      <p class="op">海參</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="grey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#A3E3F2"/>
          <circle fill="white" stroke="#A3E3F2" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#A3E3F2" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/end">
    <div class="m">
      <p data-key="6" class="none-op">結業</p>
      <p class="op">結業</p>
      <div class="circles">
        <svg class="circle-no">
          <path d="M15 0 V13" stroke="#FFAF8B"/>
          <circle fill="white" stroke="#FFAF8B" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#FFAF8B" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#FFAF8B"/>
          <circle fill="white" stroke="#FFAF8B" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#FFAF8B" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
  </div>
<script src="/js/specifies/frontend/sixproject.js"></script>

<div class="six-hg-title">
  <div class="six-hg-tit end">
      <span>06.結業專案</span>
  </div>
  <div class="six-hg-le end">
      <span>xxx</span>
  </div>
</div>
<div>
  <div class="program-4-title">
      <div>
        <span class="end-border">-專案宗旨-</span>
      </div>
  </div>
  <div class="text-xs-center">
  xxxx
  </div>
  <div class="program-4-title">
    <div>
      <span class="end-border">-我們要做的是-</span>
    </div>
  </div>
  <div class="end-bg" style="height: 200px; margin-top:50px;">

  </div>  
  <div class="program-4-title">
    <div>
      <span class="end-border">-專案內容-</span>
    </div>
  </div>
  <div class="six-pro-circle">
    <div class="end-bg">冷光</div>
    <div class="end-bg">成語劇</div>  
    <div class="end-bg">樂團</div>
    <div class="end-bg">舞蹈</div>
    <div class="end-bg">戲劇</div>
  </div>
  <div class="text-xs-center">
  xxxxx
  </div>
  <img src="/images/projects/project6.png" class="project-last-pic" alt="">
</div>

<% include ../footer %>