<% include ../header %>

<section class="section-end">
  <% include ./sub-nav %>
<div class="main-title-div">
  <div class="line-and-circle">
    <div class="line"></div>
    <div class="circle"></div>
  </div>
  <h1>結業專案</h1>
</div>
<div class="six-hg-title">
  <div class="six-hg-le end">
      <span>「對每一屆的種子來說，結業代表的是一個逗號，不是句號。」</span>
  </div>
</div>
<div>
  <div class="program-4-title">
      <div>
        <span class="end-border">-專案宗旨-</span>
      </div>
  </div>
  <div class="text-xs-center project-content-style">
    <p>回顧與第十四屆夥伴們的相處，</p>
    <p>這一年的成長、收穫與感動，</p>
    <p>並感謝在背後給予我們支持與資源的長輩、學長姊們。</p>
  </div>
<!--   <div class="program-4-title">
    <div>
      <span class="end-border">-我們要做的是-</span>
    </div>
  </div>
  <div class="end-bg" style="height: 200px; margin-top:50px;">

  </div>   -->
  <div class="program-4-title">
    <div>
      <span class="end-border">-專案內容-</span>
    </div>
  </div>
<!--   <div class="six-pro-circle">
    <div class="end-bg">冷光</div>
    <div class="end-bg">成語劇</div>  
    <div class="end-bg">樂團</div>
    <div class="end-bg">舞蹈</div>
    <div class="end-bg">戲劇</div>
  </div> -->
  <div class="text-xs-center project-content-style">
    <p>為期一年的培訓計畫，通過結業標準的種子們將告別學員身份。</p>
    <p>在此之際，藉由結業式的舉辦，讓學員回顧一年來的成長與收穫，</p>
    <p>從20堂專業課程、四次企業參訪、6個專案執行，</p>
    <p>到與夥伴們的相處、鼓勵，及長輩、校友會的提攜。</p>
    <p>將這些收穫具體呈現，</p>
    <p>讓自己及重要的人看見一年來的學習成果，</p>
    <p>並象徵著嶄新生活的開始。</p>
  </div>
  <img src="/images/projects/project6.png" class="project-last-pic" alt="">
</div>
<div class="top" style="margin: 0; padding-top: 5px; background-color:#6e6e6e;">
  <div><img src="/images/index/top.png"></div>
  Top
</div>
</section>
<script src="/js/specifies/frontend/aboutNTCA.js"></script>

<% include ../footer %>