<% include ../header %>

<section class="section-end">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>結業專案</h1>
    <h2 class="sub-title">「對每一屆種子來說，結業是逗號，不是句號。」</h2>
  </div>
  
  <div class="six-project-container">
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        回顧與第十五屆夥伴們的相處，<br>
        這一年的成長、收穫與感動，<br>
        並感謝在背後給予我們支持與資源的長輩、學長姊們。
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content">
      <p>
        結業專案是一年培訓中最後一個專案，
        學員們將會舉辦一場難忘且不限形式的結業活動，也收斂夥伴在這一年培訓中所學，
        一起創造出屬於十五屆的獨特故事，於結業活動中展現給重要他人。

        去年十四屆的結業專案則以典禮形式舉行，
        夥伴們彼此分享這一年中的種種收穫，
        讓許多重要他人，不管是公會長輩們、校友會學長姊及學員們的家長，
        更加了解資訊種子培訓計畫的價值，
        學員們在結業活動中，將一年的培訓計畫中畫下句點，展開新的旅程。
      </p>
    </div>
    <img src="/images/projects/sixproject-end1.jpeg"></img>
    <div class="img-description">第十四屆結業畫面</div>
  </div>
</section>
<% include ../footer %>