<!--HEADER-->
<% include ../header %>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<!--END HEADER-->
<div class="loading-div">
  <div class="text">
    <div id="fountainTextG_1" class="fountainTextG">L</div>
    <div id="fountainTextG_2" class="fountainTextG">o</div>
    <div id="fountainTextG_3" class="fountainTextG">a</div>
    <div id="fountainTextG_4" class="fountainTextG">d</div>
    <div id="fountainTextG_5" class="fountainTextG">i</div>
    <div id="fountainTextG_6" class="fountainTextG">n</div>
    <div id="fountainTextG_7" class="fountainTextG">g</div>
  </div>
</div>

<section class="section-index">
  
  <div id="myCarousel"  class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->

    <div class="carousel-inner">
      <div class="item landing-img active">
        <a onclick="window.location.href='/regInfo'" target="_blank" style="cursor: pointer;">
          <img src="https://i.imgur.com/2Tp8dvr.jpg" title="source: imgur.com" />
        </a>
      </div>
      <div class="item landing-img">
        <a  onclick="window.location.href='/seminar'" target="_blank" style="cursor: pointer;">
          <img src="https://i.imgur.com/RtwZgzF.jpg" title="source: imgur.com" />
        </a>
      </div>
      <div class="item landing-img">
        <a onclick="window.location.href='/workshop'" target="_blank" style="cursor: pointer;">
          <img src="https://i.imgur.com/7gzG2yH.jpg" title="source: imgur.com" />
        </a>
      </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <!-- <div class="main">
    
    <img class="bg" src="images/index/section16-3.jpg" alt="section15-2.jpg">
    <div class="circle"></div>
    <div class="filter"></div>
    <div class="content">
      <h1> - 資訊種子．破除你對未來的迷茫 - </h1>
      <div>
        <p>
          成功的案例、勵志的演講，聽了再多，依然沒有方向<br>
          迷惘躑躅也沒有關係，面對未知誰不會呢？<br>
          怕的只是你停滯不前。<br>
          一年的計畫，六大專案，帶你探索更多領域。<br>
          35 位學員，一生的夥伴，攜手一起挑戰自我。<br>
          百位生涯導師，豐富的經驗指導，在這裡想法無設限。<br>
          如果看見可以學習成長的舞台，就站上去吧。<br>
          在資種，我們一起努力，成為心中更好的自己。
        </p>
      </div>
    </div>
  </div> -->
  
    <!-- <section id="Mark_gotoNext" class="gotonext">
       <a href="#part_fourFuture"><span></span></a>
    </section> -->
    
<!-- <button type="button" id="BackTop" class="toTop-arrow"></button> -->

<div class="part-fourFuture" id="part_fourFuture" style="background-image: url('https://i.imgur.com/pfAnZLO.jpg'); background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;">
  
  <div class="fourtitle eight_gift" style="font-size: 5vh;">資訊種子能帶給你</div>
  
  <div class="row fourDiv">
    <div  data-aos="zoom-in-up" class="col-md-3 col-sm-6 col-xs-6 num">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><div id="target1a" class="whatyouget">1</div></div>
        </div>
        <p class="eight_gift">年學習</p>
      </div>
    </div>
    <div data-aos="zoom-in-up" class="col-md-3 col-sm-6 col-xs-6 num">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><div id="target1b" class="whatyouget">6</div></div>
        </div>
        <p class="eight_gift">大專案</p>
      </div>
    </div>
    <div data-aos="zoom-in-up" class="col-md-3 col-sm-6 col-xs-6 num">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><div id="target1c" class="whatyouget">4</div></div>
        </div>
        <p class="eight_gift">次企業參訪</p>
      </div>
    </div>
    <div data-aos="zoom-in-up" class="col-md-3 col-sm-6 col-xs-6 num">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><div id="target1d" class="whatyouget">20</div></div>
        </div>
        <p class="eight_gift">堂專業課程</p>
      </div>
    </div>
    <div data-aos="zoom-in-up" class="col-md-3 col-sm-6 col-xs-6 num">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><div id="target1" class="counter">16</div></div>
        </div>
        <p class="eight_gift">屆學長姐</p>
      </div>
    </div>
    <div data-aos="zoom-in-up" class="col-md-3 col-sm-6 col-xs-6 num">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><div id="target4" class="counter">35</div></div>
        </div>
        <p class="eight_gift">計畫夥伴</p>
      </div>
    </div>
    <div data-aos="zoom-in-up" class="col-md-3 col-sm-6 col-xs-6 num">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><div id="target3" class="counter">100+</div></div>
        </div>
        <p class="eight_gift">生涯導師</p>
      </div>
    </div>
    <div data-aos="zoom-in-up" class="col-md-3 col-sm-6 col-xs-6 num">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><div id="target2" class="counter">500+</div></div>
        </div>
        <p class="eight_gift">校友人脈</p>
      </div>
    </div>
  </div>
</div>

<div class="part-fourFuture">
  <div class="fourtitle three_core " style="font-size: 5vh;">資訊種子三大核心理念</div>
  <div class="row fourDiv" style="margin-top: 4vh;">
    <div data-aos="zoom-in-up" class="col-md-4 col-sm-12 col-xs-12">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><img src="https://i.imgur.com/vDujqIc.jpg"></div>
        </div>
        <p>分享</p>
      </div>
      <h4>35位積極進取的夥伴陪伴你：</h4>
      <p>- 跨領域思想激盪 -</p>
      <p>- 專業技能工作坊分享 -</p>
      <p>- 共同規劃與執行專案 -</p>
    </div>
    <div data-aos="zoom-in-up" class="col-md-4 col-sm-12 col-xs-12">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><img src="https://i.imgur.com/qK9zG7A.jpg"></div>
        </div>
        <p>回饋</p>
      </div>
      <h4>16屆學長姐Mentor協助你：</h4>
      <p>- 專案執行方向 -</p>
      <p>- 職涯方向找尋 -</p>
      <p>- 履歷回饋點評 -</p>
    </div>
    <div data-aos="zoom-in-up" class="col-md-4 col-sm-12 col-xs-12">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;">
          <div class="circleintext"><img src="https://i.imgur.com/diupBEJ.jpg"></div>
        </div>
        <p>傳承</p>
      </div>
      <h4>500+校友資源庫帶給你：</h4>
      <p>- Mentor制實習指導 -</p>
      <p>- 職場前輩經驗分享 -</p>
      <p>- 迅速累積人脈存摺 -</p>
      


    </div>
  </div>
</div>
<div class=" part-fourFuture" style="background-image: url('https://i.imgur.com/f1sc77g.jpg');">
  <div class="row fourDiv">
    <div  data-aos="zoom-in-up" class="col-md-6 col-sm-12 col-xs-12">
      <div class="tilteDiv">
        <div class="imgDiv" style="width: 100%;height:360px;">
          <!-- <video width="100%" height="100%" controls>
            <source src="http://yt1.piee.pw/HQSMC" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video> -->
          <iframe src="https://www.youtube.com/embed/TN0zK8qsMng?list=PLFOrttgLE4zjnOSdnMt5UFxXzwKPmtwzH&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p></p>
      </div>
    </div>
    <div data-aos="zoom-in-up" class="col-md-6 col-sm-12 col-xs-12">
      <div class="tilteDiv">
        <h4 class="fourtitle" style="width: 100%;color: black;"> Seed for Change, Change for the Better </h4><br>
          <p style="font-size: 15px;color: black;line-height: 30px;">我們都像一顆顆在大海沉浮的迷惘種子，</p>
          <p style="font-size: 15px;color: black;line-height: 30px;">渴望改變現狀、找到方向、成長茁壯，</p>
          <p style="font-size: 15px;color: black;line-height: 30px;">卻又充滿著恐懼與徬徨。</p>
          <p style="font-size: 15px;color: black;line-height: 30px;">愈是迷惘，愈是要積極行動。</p><br>
          <p style="font-size: 15px;color: black;line-height: 30px;">這裡，能讓你盡情嘗試、揮灑，</p>
          <p style="font-size: 15px;color: black;line-height: 30px;">多元領域的生涯導師、強大溫暖的夥伴靠山，</p>
          <p style="font-size: 15px;color: black;line-height: 30px;">陪你一起在大風大浪中逆勢成長，</p>
          <p style="font-size: 15px;color: black;line-height: 30px;">讓我們一起在資種，成為心中更好的自己。</p>
      </div>
    </div>
  </div>
</div>

<div class="attend  project-content-style">
  <p>「 不一定要很厲害才能開始，但要開始才可能變得厲害 」</p>
  <p>一起成為資種的一員，為自己的蛻變而努力，遇見更好的自己</p>
  <button><a href="/login">馬上報名</a></button>
</div>

<script>
$(function(){
  $('#BackTop').click(function(){ 
    $('html,body').animate({scrollTop:0}, 333);
  });
  $(window).scroll(function() {
    if ( $(this).scrollTop() > 300 ){
      $('#BackTop').fadeIn(222);
    } else {
      $('#BackTop').stop().fadeOut(222);
    }
  }).scroll();
});
</script>

<script type="text/javascript">
  $.fn.isOnScreen = function () {
    var win = $(window);
    var viewport = {
      top: win.scrollTop(),
      left: win.scrollLeft()
    };
    viewport.right = viewport.left + win.width();
    viewport.bottom = viewport.top + win.height();
    var bounds = this.offset();
    bounds.right = bounds.left + this.outerWidth();
    bounds.bottom = bounds.top + this.outerHeight();
    return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
  };
  var isDataScroll1 = false;
  var isDataScroll2 = false;
  var t1 = true;
  var t2 = true;
  var t3 = true;
  var t4 = true;
  var t1a = true;
  var t1b = true;
  var t1c = true;
  var t1d = true;
  $(document).ready(function () {
    AOS.init({
      disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
      startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        easing: 'ease-out-back',
        duration: 800
    });
    var whatyouget_display_pos = $('.whatyouget').offset().top - $(window).height();
    var counter_display_pos = $('.counter').offset().top - $(window).height();
    $(window).scroll(function () {
      let st = $(window).scrollTop();
      if (st > whatyouget_display_pos && !isDataScroll1) {
        $('.whatyouget').addClass('scroll');
        isDataScroll1 = true;
      }
      if (st > counter_display_pos && !isDataScroll2) {
        $('.counter').addClass('scroll');
        isDataScroll2 = true;
      }
      if ($('#target1a').isOnScreen() && t1a) {
        $('#target1a').animateNumber({
          number: 1
        }, 500,
          function () {
            $('#target1a').text('1')
          });
        t1a = false
      }
      if ($('#target1b').isOnScreen() && t1b) {
        $('#target1b').animateNumber({
          number: 6
        }, 800,
          function () {
            $('#target1b').text('6')
          });
        t1b = false
      }
      if ($('#target1c').isOnScreen() && t1c) {
        $('#target1c').animateNumber({
          number: 4
        }, 500,
          function () {
            $('#target1c').text('4')
          });
        t1c = false
      }
      if ($('#target1d').isOnScreen() && t1d) {
        $('#target1d').animateNumber({
          number: 20
        }, 2000,
          function () {
            $('#target1d').text('20')
          });
        t1d = false
      }
      if ($('#target1').isOnScreen() && t1) {
        $('#target1').animateNumber({
          number: 16
        }, 2500,
          function () {
            $('#target1').text('16')
          });
        t1 = false
      }
      if ($('#target2').isOnScreen() && t2) {
        $('#target2').animateNumber({
          number: 500
        }, 3000,
          function () {
            $('#target2').text('500+')
          });
        t2 = false
      }
      if ($('#target3').isOnScreen() && t3) {
        $('#target3').animateNumber({
          number: 100
        }, 3500,
          function () {
            $('#target3').text('100+')
          });
        t3 = false
      }
      if ($('#target4').isOnScreen() && t4) {
        $('#target4').animateNumber({
          number: 35
        }, 4000,
          function () {
            $('#target4').text('35')
          });
        t4 = false
      }
    });
  });
  $(window).load(function() { setTimeout(function() { AOS.refresh(); }, 500); });
</script>

</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

<!-- Loading Code  -->
<script>
  $(window).load(function () {
    $('.loading-div').fadeOut(50, function () {
      $('body > section').fadeIn(50);
    });
  });
</script>
<script src="/js/specifies/jquery.animateNumber.min.js"></script>
<script src="/js/specifies/frontend/index.js"></script>
<script type="text/javascript">
  $('.gototpo').on("click",function(){
      $(window).scrollTop(0);
});
</script>
<style type="text/css">
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}
.gotonext a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.gotonext a:hover {
  opacity: .5;
}
#Mark_gotoNext a {
  padding-top: 70px;
}
#Mark_gotoNext a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
      @media (min-width: 350px) {
      .circleintext{ 
        background-color: rgba(0, 0, 0, 0); 
        width: 150px; /*128px*/
        height: 150px;
        border-radius: 999em; 
        /*border: 1px solid black;*/ 
      }
      .circleintext>img{
        width: 150px; /*128px*/
        height: 150px;
        border-radius: 999em; 
      }
      .circleintext div { 
        position:relative;
        left: 25%; 
        top: 20%; 
        width: 90px; 
        height: 90px; 
        color: white; 
        text-align:center;
        font-size: 48px;
      }
    }
    @media (min-width: 351px) and (max-width: 550px) {
      .num{
        height: 80px;
      }
      #Mark_gotoNext a span {
        top: 100%;
       }
        .circleintext{ 
        background-color: rgba(0, 0, 0, 0); 
        width: 130px; /*90px*/
        height: 130px;
        border-radius: 999em; 
      }
      .circleintext>img{
        width: 130px; /*128px*/
        height: 130px;
        border-radius: 999em; 
      }
      .circleintext div { 
        position:relative;
        left: 30%; 
        top: 20%; 
        width: 45px; 
        height: 45px; 
        color: white; 
        text-align:center;
        font-size: 45px; 
      }
    }
    @media (max-width: 551px) {
      .num{
        height: 80px;
      }
      #Mark_gotoNext a span {
        top: 100%;
       }
      .circleintext{ 
        background-color: rgba(0, 0, 0, 0); 
        width: 110px;
        height: 110px;
        border-radius: 999em; 
      }
      .circleintext>img{
        width: 110px; /*128px*/
        height: 110px;
        border-radius: 999em; 
      }
      .circleintext div { 
        left: 34%; 
        top: 30%; 
        width: 45px; 
        height: 45px; 
        font-size: 25px;
        color: white;
      }
    }
/* 56px */
.toTop-arrow {
    display: block;
    position: fixed;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    border: 0;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: #666666;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.toTop-arrow::before, .toTop-arrow::after {
  width: 26px;
  height: 3px;
  border-radius: 3px;
  background: white;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.4rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.4rem;
}

</style>
