<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<!-- poyao輪播-->
<div id="indexCarousel" class="carousel slide index-pic" data-ride="carousel">
  <div class="row">
    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide indexdiv" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/index/index2.jpg" alt="..." class="indeximg" id="img-responsive" >
          </div>
          <div class="item">
            <!-- <img src="/images/layout/carousel2.png" alt="..." class="indeximg" id="img-responsive"> -->
            <img src="/images/index/re2.jpg" alt="..." class="indeximg" id="img-responsive" >
          </div>
          <div class="item">
            <img src="/images/index/re1.jpg" alt="..." class="indeximg" id="img-responsive" >
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="videopart">
  <div class="video">
    <img src="/images/layout/carousel1.png">
  <video src="/images/index/title.mov" autoplay loop muted></video>
    <div class="video-word">
      <h1>資訊種子培訓計畫</h1>
      <h2>ITSEEDER, SEED YOUR FUTURE</h2>
      <button>了解我們</button>
    </div>
  </div>
</div> -->
<!-- <div class="videopart">
  <div class="video">
    <img src="/images/layout/carousel1.png">
  <video src="/images/index/title.mov" autoplay loop muted></video>
    <div class="video-word">
      <h1>資訊種子培訓計畫</h1>
      <h2>ITSEEDER, SEED YOUR FUTURE</h2>
      <button>了解我們</button>
    </div>
  </div>
</div> -->

<!-- poyao 四大理由 -->
<div class="container">
  <div class="fourdiv">
    <h2 class="fourtitle">─  資訊種子之於，你  ─</h2>
    <div>
      <br>
<p>資訊種子，陪伴你，自己的未來自己決定。</p>
<br>
<p>為期一年，你將與35位來自不同校系的同儕，肩並著肩在各個領域播下種子。</p>
<p>一年之後，你將擁有一腦子的想法，一身子的功夫，以及，一輩子的夥伴。</p>
<br>
<p>我們相信，播下的所有種子，總有一天也會發芽茁壯。</p>
<p>我們堅信，分享收穫的果實，一切得與施終將生生不息。</p>
<br>
<p>縱使迷惘，也讓資訊種子引領你做一位積極的迷惘人。</p>
<br>
    </div>
  </div>
  <div>
    <h4 class="fourtitle">─ 啟動未來．四大絕 ─</h4>
<!--     <div class="title-title">
      <span style="border-color: #A4DAEC;">─ 啟動未來．四大絕 ─</span>
    </div> -->
    <!-- <hr class="d-line"> -->
    <!-- <div class="schedule"><h2><b>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;</b></h2></div> -->
    <div class="row threeReason">
      <div class="col-md-3 col-sm-6">
        <div class="">
          <img src="/images/index/icon1.png">
          <p>跨領域融合</p>
        </div>
        <p>全國各大專院校</p>
        <p>多元背景科系學員齊聚</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="">
          <img src="/images/index/icon3.png">
          <p>跨世代交流</p>
        </div>
        <p>學員、學長姐、講師、</p>
        <p>企業前輩長期密集互動</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="">
          <img src="/images/index/icon2.png">
          <p>理論實務並進</p>
        </div>
        <p>跨領域專業授課、</p>
        <p>專案實作、標竿企業參訪</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="">
          <img src="/images/index/icon4.png">
          <p>國際視野拓展</p>
        </div>
        <p>海外學術交流與</p>
        <p>國際企業參訪</p>
      </div>
    </div>
  </div>
<!--   <div class="row">
    <div class="col-md-6">
      <div class="fourreasondiv thumbnail" >
        <div class="circle">
          <h1 align="center" class="circle-shape"><i class="fa fa-puzzle-piece" style="color: white"></i></h1>
        </div>
        <h3 class="fourreason">跨領域融合</h3>
        <div class="reasoncontentdiv">
          <h4 class="fourreasoncontent">全國各大專校院不同背景科系學員齊聚一堂，經由一年的培訓計畫互相合作、交流，認識不同領域、思考方式的夥伴。</h4>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="fourreasondiv thumbnail" >
        <div class="circle">
          <h1 align="center" class="circle-shape"><i class="fa fa-users" style="color: white"></i></h1>
        </div>
        <h3 class="fourreason">跨世代交流</h3>
          <div class="reasoncontentdiv">
            <h4 class="fourreasoncontent">學員與學長姐、講師間長期密集互動，藉由Mentor制度有更多與學校、職場前輩交流的機會，並提供學員思考未來的方向。</h4>
          </div>
      </div>
    </div>
  </div> -->
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="fourreasondiv thumbnail" >
        <div class="circle">
          <h1 align="center" class="circle-shape"><i class="fa fa-file-text-o" style="color: white"></i></h1>
        </div>
        <h3 class="fourreason">理論實務並進^___^</h3>
        <div class="reasoncontentdiv">
          <h4 class="fourreasoncontent">除了二十堂專業課程的理論、知識學習，還有六大專案提供學員發揮所長、應用學校與課程所學的實作經驗。</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="fourreasondiv thumbnail" >
        <div class="circle">
          <h1 align="center" class="circle-shape"><i class="fa fa-road" style="color: white"></i></h1>
        </div>
        <h3 class="fourreason">國際視野拓展</h3>
        <div class="reasoncontentdiv">
          <h4 class="fourreasoncontent">一次海外學術交流與四場知名企業參訪，提供學員看見這個世界、了解企業運作與拓展視野、國際觀的絕佳機會。</h4>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- pu's update -->

<!-- <script src="/js/specifies/frontend/jquery.color.min.js"></script> -->
<!-- <script src="/js/specifies/frontend/jquery.animateNumber.min.js"></script> -->


 <style>
   .world>img{
    /*margin: 50px 15%;*/
   }
   .world-word{
    background-color: lightgrey;
    height: 130px;
    width: 70%;
    margin: 30px 15%;
    border-radius: 1rem;
   }
   .world-num{
    text-align: center;
    line-height: 100%;
    height: 100%;
    /*font-size: 42pt;*/
    /*transform: translateY(50%);*/
   }
   .world-num>p{
    display: inline-block;
    padding-top: 44px;
    /*transform: translateY(-50%);*/
    font-size: 56px;
   }
 </style>
 <!-- <div class="container">
  <div class="row ">
    <div class="world">
      <img src="/images/index/world.png"  class="background" style="width: 70%;" alt="">
      <img src="/images/index/world-grey.png" class="grey" alt="">
      <img src="/images/index/world-green.png" class="green" alt="">
    </div>
  </div>
 </div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2><b>專案時程</b></h2></div>
      <div><h2><b>&mdash;&mdash;&mdash;</b></h2></div>
      <img src="/images/layout/newflow.png" class="timelineImg">
    </div>
  </div>
</div> -->


<div class="col-sm-12 counter">
  <div class="container" >
    <div class="row count-nm">
      <div class="col-md-3 col-xs-6">
        <div class="number" >
          <div class="number1"><p id="target1">13</p></div>
          <div class="number2">&#175;&#175;</div>
          <div class="number3">屆累積</div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="number" >
          <div class="number1"><b><p id="target4">35</p></b></div>
          <div class="number2"><b>&#175;&#175;</b></div>
          <div class="number3"><b>位緊密夥伴</b></div>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="number" >
          <div class="number1"><p id="target3">100+</p></div>
          <div class="number2">&#175;&#175;</div>
          <div class="number3">生涯導師</div>
        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="number" >
          <div class="number1"><p id="target2">300+</p></div>
          <div class="number2">&#175;&#175;</div>
          <div class="number3">校友人脈</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-xs-12">
    <div class="whatyouget">
      <p><span>1</span><span>年學習</span></p>
      <p><span>6</span><span>大專案</span></p>
      <p><span>4</span><span>次企業參訪</span></p>
      <p><span>20</span><span>堂課程</span></p>
    </div>
    <div class="attend  project-content-style">
      <p>即將離開校園的你，面對充滿未知的挑戰，是否已做好準備？</p>
      <p>資種提供完善的學習資源、環境，幫助你完成踏入職場前的最後一哩路！</p>
      <!-- <button><a href="/login">馬上報名</a></button> -->
    </div>
  </div>
</div>



<script type="text/javascript">

$.fn.isOnScreen = function(){
  var win = $(window);
  var viewport = {
    top : win.scrollTop(),
    left : win.scrollLeft()
  };
  viewport.right = viewport.left + win.width();
  viewport.bottom = viewport.top + win.height();

  var bounds = this.offset();
  bounds.right = bounds.left + this.outerWidth();
  bounds.bottom = bounds.top + this.outerHeight();

  return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
};


var t1=true;
var t2=true;
var t3=true;
var t4=true;

$(document).ready(function(){
  $(window).scroll(function(){
    if ($('#target1').isOnScreen() && t1) {
      $('#target1').animateNumber({
        number: 14
      }, 2500,
      function() {
        $('#target1').text('14')
      });
      t1=false
    }
    if ($('#target2').isOnScreen() && t2) {
      $('#target2').animateNumber({
        number: 400
      }, 3000,
      function() {
        $('#target2').text('400+')
      });
      t2=false
    }
    if ($('#target3').isOnScreen() && t3) {
      $('#target3').animateNumber({
        number: 100
      }, 3500,
      function() {
        $('#target3').text('100+')
      });
      t3=false
    }
    if ($('#target4').isOnScreen() && t4) {
      $('#target4').animateNumber({
        number: 35
      }, 4000,
      function() {
        $('#target4').text('35')

      });
      t4=false
    }
  });
});

</script>

<!-- pu's update -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2><b>報名流程</b></h2></div>
      <div><h2><b>&mdash;&mdash;&mdash;</b></h2></div>
    </div>
  </div>
</div> -->

<!-- poyao 報名流程 -->
<!-- <div class="container-fluid">
  <div class="row sign">
    <div class="col-sm-6 col-md-3">
      <div class="contentdiv thumbnail" >
        <div class="circle" style="background-color: #6fbbf4">
         <h1 align="center" class="circle-shape"><i class="fa fa-sign-in" style="color: white"></i></h1>
        </div>
        <div class="inside thumbnail caption">
          <h4>step1.<br><br>註冊登入himelight</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="contentdiv thumbnail" >
        <div class="circle" style=" background-color: #f4726f">
        <h1 align="center" class="circle-shape"><i class="fa fa-file-text-o" style="color: white"></i></h1>
        </div>
        <div class="thumbnail caption ">
          <h4 >step2.<br><br>填寫資種報名表單</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="contentdiv thumbnail" >
        <div class="circle" style="background-color: #FFBF57">
        <h1 align="center" class="circle-shape"><i class="fa fa-paper-plane" style="color: white"></i></h1>
        </div>
        <div class="thumbnail caption">
          <h4>step3.<br><br>寄送資料至指定信箱
          <li>2吋個人照</li>
          <li>學生證明</li>
          <li>作品集</li></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="contentdiv thumbnail" >
        <div class="circle" style="background-color: #6bc1b8">
        <h1 align="center" class="circle-shape"><i class="fa fa-usd" style="color: white"></i></h1>
        </div>
        <div class="thumbnail caption">
          <h4>step4.<br><br>繳交報名費</h4>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2><b>官方影片</b></h2></div>
      <div><h2><b>&mdash;&mdash;&mdash;</b></h2></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Filoveitseed%2Fvideos%2F10153821328510186%2F&show_text=0&width=560" width="100%" height="600px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <a href="/regInfo" class="signupp">立即報名<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
  </div>
</div>
<br>
<br><br>
</div> -->
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
<!-- 回到頂端按鈕 start -->
<script>
//<![CDATA[
(function () {
  // $("body").append("<img id='goTopButton' style='display: none; z-index: 5; cursor: pointer;' title='回到頂端'/>");
  var img = "http://i.imgur.com/IFInFUr.png",
  locatioin = 4/5, // 按鈕出現在螢幕的高度
  right = 1, // 距離右邊 px 值
  opacity = 0.4, // 透明度
  speed = 500, // 捲動速度
  $button = $("#goTopButton"),
  $body = $(document),
  $win = $(window);
  $button.attr("src", img);
  $button.on({
    mouseover: function() { $button.css("opacity", 1); },
    mouseout: function() { $button.css("opacity", opacity); },
    click: function() { $("html, body").animate({scrollTop: 0}, speed); }
  });
  window.goTopMove = function () {
    var scrollH = $body.scrollTop(),
    winH = $win.height(),
    css = {"top": winH * locatioin + "px", "position": "fixed", "right": right, "opacity": opacity};
    if(scrollH > 20) {
      $button.css(css);
      $button.fadeIn("slow");
    } else {
      $button.fadeOut("slow");
    }
  };
  $win.on({
    scroll: function() { goTopMove(); },
    resize: function() { goTopMove(); }
  });
})();
//]]>
</script>
<!-- 回到頂端按鈕 end -->


<script src="/js/specifies/frontend/index.js"></script>
