<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<!-- poyao 輪播-->
<div id="indexCarousel" class="carousel slide" data-ride="carousel"> 
  <div class="row">
    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide indexdiv" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active indexdiv">
            <iframe class="indexyoutube" src="https://www.youtube.com/embed/15Ldl8iqTks"></iframe> 
              <div class="carousel-caption">
              </div>
          </div>
          <div class="item">
            <img src="/images/layout/poyaoone.jpg" alt="..." class="indeximg" id="img-responsive" >
            <div class="carousel-caption">
              <h1>hahaha</h1>
            </div>
          </div>
          <div class="item">
            <img src="/images/layout/poyaotwo.jpg" alt="..." class="indeximg" id="img-responsive" >
            <div class="carousel-caption">
              <h1>poyao</h1>
            </div>
          </div>
          <div class="item">
            <img src="/images/layout/poyaothree.jpg" alt="..." height="500" class="indeximg" id="img-responsive" >
            <div class="carousel-caption">
              <h1>資訊種了</h1> 
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- poyao 四大理由 -->
<div class="container">
  <div class="fourdiv">
    <h2 class="fourtitle">你一定要加入資訊種子的四大理由</h2>
  </div>  
  <div class="schedule"><h2><b>&mdash;&mdash;&mdash;</b></h2></div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <div class="fourreasondiv thumbnail" >
        <h3 class="indexglyphicon glyphicon-star fourreason">跨領域融合</h3>
          <div class="reasoncontentdiv">
            <h4 class="fourreasoncontent">全國各大專校院不同背景科系學員齊聚一堂，經由一年的培訓計畫互相合作、交流，認識不同領域、思考方式的夥伴。</h4>
          </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <div class="fourreasondiv thumbnail" >
        <h3 class="indexglyphicon glyphicon-star fourreason">跨世代交流</h3>
          <div class="reasoncontentdiv">
            <h4 class="fourreasoncontent">學員與學長姐、講師間長期密集互動，藉由Mentor制度有更多與學校、職場前輩交流的機會，並提供學員思考未來的方向。</h4>
          </div>
      </div>
    </div>        
  </div>
</div>
<div class="container">    
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <div class="fourreasondiv thumbnail" >
        <h3 class="indexglyphicon glyphicon-star fourreason">理論實務並進</h3>
        <div class="reasoncontentdiv">
          <h4 class="fourreasoncontent">除了二十堂專業課程的理論、知識學習，還有六大專案提供學員發揮所長、應用學校與課程所學的實作經驗。</h4>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
      <div class="fourreasondiv thumbnail" >
        <h3 class="indexglyphicon glyphicon-star fourreason">國際視野拓展</h3>
        <div class="reasoncontentdiv">
          <h4 class="fourreasoncontent">一次海外學術交流與四場知名企業參訪，提供學員看見這個世界、了解企業運作與拓展視野、國際觀的絕佳機會。</h4>
        </div>
      </div>
    </div>        
  </div>
</div>

<!-- pu's update -->

<script src="/js/specifies/frontend/jquery.color.min.js"></script>
<script src="/js/specifies/frontend/jquery.animateNumber.min.js"></script>
<div class="col-sm-12 counter">
  <div class="container">
    <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="number" style="vertical-align: middle;">
          <div class="number1"><h1><b><p id="target1">13</p></b></h1></div>
          <div class="number1"><h1><b>&mdash;</b></h1></div>
          <div class="number3"><h3><b>屆累積</b></h3></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="number" style="vertical-align: middle;">
          <div class="number1"><h1><b><p id="target2">400+</p></b></h1></div>
          <div class="number1"><h1><b>&mdash;</b></h1></div>
          <div class="number3"><h3><b>畢業校友</b></h3></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="number" style="vertical-align: middle;">
          <div class="number1"><h1><b><p id="target3">100+</p></b></h1></div>
          <div class="number1"><h1><b>&mdash;</b></h1></div>
          <div class="number3"><h3><b>職場人脈</b></h3></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="number" style="vertical-align: middle;">
          <div class="number1"><h1><b><p id="target4">34</p></b></h1></div>
          <div class="number1"><h1><b>&mdash;</b></h1></div>
          <div class="number3"><h3><b>的夥伴</b></h3></div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2><b>專案時程</b></h2></div>
      <div><h2><b>&mdash;&mdash;&mdash;</b></h2></div>
      <img src="/images/layout/newflow.png" class="timelineImg">
    </div>
  </div>
</div>

<script type="text/javascript">

$.fn.isOnScreen = function(){

  var win = $(window);

  var viewport = {
    top : win.scrollTop(),
    left : win.scrollLeft()
  };
  viewport.right = viewport.left + win.width();
  viewport.bottom = viewport.top + win.height();

  var bounds = this.offset();
  bounds.right = bounds.left + this.outerWidth();
  bounds.bottom = bounds.top + this.outerHeight();

  return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));

};


var t1=true;
var t2=true;
var t3=true;
var t4=true;

$(document).ready(function(){
  $(window).scroll(function(){
    if ($('#target1').isOnScreen() && t1) {
      $('#target1').animateNumber({
        number: 13
      }, 4000,
      function() {
        $('#target1').text('13')
      });
      t1=false
    }
    if ($('#target2').isOnScreen() && t2) {
      $('#target2').animateNumber({
        number: 400
      }, 4000,
      function() {
        $('#target2').text('400+')
      });
      t2=false
    }
    if ($('#target3').isOnScreen() && t3) {
      $('#target3').animateNumber({
        number: 100
      }, 4000,
      function() {
        $('#target3').text('100+')
      });
      t3=false
    }
    if ($('#target4').isOnScreen() && t4) {
      $('#target4').animateNumber({
        number: 34
      }, 4000,
      function() {
        $('#target4').text('一輩子')
      });
      t4=false
    }
  });
});
</script>



<!-- pu's update -->

<div class="container">
  <div class="row">
    <div class="col-sm-12 schedule">
      <div><h2><b>報名流程</b></h2></div>
      <div><h2><b>&mdash;&mdash;&mdash;</b></h2></div>
    </div>
  </div>
</div>

<!-- poyao 報名流程 -->  
<div class="container-fluid">
  <div class="row sign">
    <div class="col-sm-6 col-md-3">
      <div class="contentdiv thumbnail" >
        <div class="circle first">
        </div>
        <div class="inside thumbnail caption">
          <h4>註冊登入Himelight</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="contentdiv thumbnail" >
        <div class="circle second">
        </div>
        <div class="thumbnail caption">
          <h4>線上填寫報名表單</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="contentdiv thumbnail" >
        <div class="circle third">
        </div>
        <div class="thumbnail caption">
          <h4>寄送資料至指定信箱</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="contentdiv thumbnail" >
        <div class="circle fourth">
        </div>
        <div class="thumbnail caption">
          <h4>繳交報名費用</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <a href="/regInfo" class="signupp">立即報名</a>
  </div>
</div>
<br>
<br><br>

<!-- 回到頂端按鈕 start -->
<script>
//<![CDATA[
(function () {
$("body").append("<img id='goTopButton' style='display: none; z-index: 5; cursor: pointer;' title='回到頂端'/>");
var img = "http://i.imgur.com/IFInFUr.png",
locatioin = 4/5, // 按鈕出現在螢幕的高度
right = 1, // 距離右邊 px 值
opacity = 0.4, // 透明度
speed = 500, // 捲動速度
$button = $("#goTopButton"),
$body = $(document),
$win = $(window);
$button.attr("src", img);
$button.on({
mouseover: function() {$button.css("opacity", 1);},
mouseout: function() {$button.css("opacity", opacity);},
click: function() {$("html, body").animate({scrollTop: 0}, speed);}
});
window.goTopMove = function () {
var scrollH = $body.scrollTop(),
winH = $win.height(),
css = {"top": winH * locatioin + "px", "position": "fixed", "right": right, "opacity": opacity};
if(scrollH > 20) {
$button.css(css);
$button.fadeIn("slow");
} else {
$button.fadeOut("slow");
}
};
$win.on({
scroll: function() {goTopMove();},
resize: function() {goTopMove();}
});
} )();
//]]>
</script>
<!-- 回到頂端按鈕 end -->
<!--FOOTER-->
<% include ../footer %>

<!--END FOOTER-->
