<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<section class="section-memberList">
<div class="sub-nav">
  <ul>
    <li><a href="/aboutITSeed">計畫簡介</a></li> |
    <li><a href="/aboutNTCA">公會簡介</a></li> |
    <li><a class="active" href="/memberList">歷屆名單</a></li>|    
     <li><a  href="/studentIntro">學員制度</a></li>
  </ul>
</div>
<div class="title-title">
  <span class="member-color-br">- 歷屆名單 -</span>
</div>
<div class="text-xs-center drop-but">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      屆數
      <span class="caret"></span>
    </button>
    <div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="list-num" data-key="1">1</li>
        <li class="list-num" >2</li>
        <li class="list-num" >3</li>
        <li class="list-num" >4</li>
        <li class="list-num" >5</li>
        <li class="list-num" >6</li>
        <li class="list-num" >7</li>
        <li class="list-num" >8</li>
        <li class="list-num" >9</li>
        <li class="list-num" >10</li>
        <li class="list-num" >11</li>
        <li class="list-num" >12</li>
        <li class="list-num" >13</li>
        <li class="list-num" >14</li>
      </ul>
    </div>
  </div>
</div>
<div class="member-table">
  <span class="list-th">-第 <span>14</span> 屆-</span>
  <div class="member-head">
    <span>姓名</span>
    <span>學校</span>
    <span>學系</span>
  </div> 
  <table id="member-content">
  </table>
</div>
 <div class="top">
    <div><img src="/images/index/top.png"></div>
    Top
 </div>
</section>
<script src="/js/specifies/frontend/memberList.js"></script>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
