<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
  <ul>
    <li><a href="/aboutITSeed">計畫簡介</a></li> |
    <li><a href="/aboutNTCA">公會簡介</a></li> |
    <li><a class="active" href="/memberList">歷屆名單</a></li>
  </ul>
</div>
<div class="container">
  <div class="title-title">
    <span class="memberList-br">- 歷屆名單 -</span>
  </div>
</div>

<div class="container">
  <div class="collapse navbar-collapse navbar-left">
        <ul class="newMenu nav navbar-nav">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">屆數<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/13th-member">13th</a></li>
              <li><a href="/12th-member">12th</a></li>
              <li><a href="/11th-member">11th</a></li>
              <li><a href="/10th-member">10th</a></li>
              <li><a href="/9th-member">9th</a></li>
              <li><a href="/8th-member">8th</a></li>
              <li><a href="/7th-member">7th</a></li>
              <li><a href="/6th-member">6th</a></li>
              <li><a href="/5th-member">5th</a></li>
              <li><a href="/4th-member">4th</a></li>
              <li><a href="/3th-member">3th</a></li>
              <li><a href="/2th-member">2th</a></li>
              <li><a href="/1th-member">1th</a></li>
            </ul>
          </li>
        </ul>
  </div>


</div>


<div class="top">Top ▲ </div>             


</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

<script src="/js/specifies/frontend/aboutNTCA.js"></script>

