<% include ../header %>

<section class="section-new">
<div class="sub-nav">
  <ul>
    <li><a href="/courseInfo">講座課程</a></li> |
    <li><a href="/businessVisit">企業參訪</a></li> |
    <li><a class="active" href="/tuv">六大專案</a></li>
  </ul>
</div>
<div class="six-project">
	<a href="/tuv">
	    <div class="m">
		      <p data-key="1" class="none-op six-b-color">TUV</p>
		      <p class="op six-a-color">TUV</p>
		      <div class="circles">
		        <svg class="circle-no">
		          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
		        </svg>
		        <svg class="circle2">
		          <path d="M15 0 V13" stroke="#F7D975"/>
		          <circle fill="white" stroke="#F7D975" stroke-width="1" cx="15" cy="25" r="12"/>
		          <circle fill="#F7D975" cx="15" cy="25" r="5"/>
		        </svg>
		      </div>
	    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/spring">
	    <div class="m">
	      <p data-key="2" class="none-op six-b-color">春酒</p>
	      <p class="op six-a-color">春酒</p>
	      <div class="circles">
	        <svg class="circle-no">
	          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
	        </svg>
	        <svg class="circle2">
	          <path d="M15 0 V13" stroke="#ED8F8F"/>
	          <circle fill="white" stroke="#ED8F8F" stroke-width="1" cx="15" cy="25" r="12"/>
	          <circle fill="#ED8F8F" cx="15" cy="25" r="5"/>
	        </svg>
	      </div>
	    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/careers">
    <div class="m">
      <p data-key="3" class="none-op six-b-color">職涯</p>
      <p class="op six-a-color">職涯</p> 
      <div class="circles">
        <svg class="circle-no">
          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#8FBEED"/>
          <circle fill="white" stroke="#8FBEED" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#8FBEED" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/new">
    <div class="m">
      <p data-key="4" class="none-op">招生</p>
      <p class="op">招生</p>
      <div class="circles">
        <svg class="circle-no">
          <path d="M15 0 V13" stroke="#9EE5CF"/>
          <circle fill="white" stroke="#9EE5CF" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#9EE5CF" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#9EE5CF"/>
          <circle fill="white" stroke="#9EE5CF" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#9EE5CF" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/overseaVisit">
    <div class="m">
      <p data-key="5" class="none-op six-b-color">海參</p>
      <p class="op six-a-color">海參</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#A3E3F2"/>
          <circle fill="white" stroke="#A3E3F2" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#A3E3F2" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/end">
    <div class="m">
      <p data-key="6" class="none-op six-b-color">結業</p>
      <p class="op six-a-color">結業</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#FFAF8B"/>
          <circle fill="white" stroke="#FFAF8B" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#FFAF8B" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
  </div>
<script src="/js/specifies/frontend/sixproject.js"></script>


    <div class="six-hg-title">
        <div class="path-2"></div>
        <div class="oval-2"></div>
          <div class="six-hg-tit new">
              <span class="super-title">招生專案</span>
          </div>
          <div class="six-hg-le new">
              <span>「認同、分享，並透過實作延續資種核心價值」</span>
          </div>
            <div class="img">
              
                  <img class="seminar-imgae" src="http://loremflickr.com/900/506"></img>
                  <div class="title">
                      第十六屆招生主視覺
                  </div>
            </div>
  
              <div class="clearfix"></div>
            
    
        <div class="clearfix"></div>
  

<div class="sixhire">
    <div class="hire">
        <div class="program-4-title">
            <div>
              <span class="rec4">-專案宗旨-</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="project-content-style">
          <p>誠心認同並主動分享資訊種子的核心精神與價值；</p>
          <p>培養數位行銷、實體活動策劃、人力資源管理等職場就業力；</p>
          <p>發揚資種品牌，傳承、延續資訊種子培訓計畫。</p>
        </div>
      <!--   <div class="program-4-title">
          <div>
            <span class="new-border">-我們要做的是-</span>
          </div>
        </div>
        <div class="new-bg" style="height: 200px; margin-top:50px;">
      
        </div>   -->
        <div class="program-4-title">
          <div>
            <span class="rec4">-專案內容-</span>
          </div>
        </div>
        <div class="clearfix"></div>
      <!--   <div class="six-pro-circle">
          <div class="new-bg">冷光</div>
          <div class="new-bg">成語劇</div>  
          <div class="new-bg">樂團</div>
          <div class="new-bg">舞蹈</div>
          <div class="new-bg">戲劇</div>
        </div> -->
        
        <div class="project-content-style">
      <p>透過實體的招生說明會、講座，幫助有興趣加入資種的同學們深入了解資種樣貌。</p>
      <p>搭配線上行銷，在粉絲專頁上以影片、GIF、懶人包等形式宣傳，推廣資種的價值。</p>
      <p>輔以融入UI/UX的官網設計，不僅傳遞完整的資種訊息，更創造良好的使用者體驗！</p>
      <p>最終期許能夠讓有興趣且適合資種的人，都能看見我們並加入資種大家庭，成為第十五屆學員！</p>
        </div>
    </div>
</div>   


 




  <img src="/images/projects/project4.png" class="project-last-pic" alt="">

<div class="top" style="margin: 0; padding-top: 5px; background-color:#6e6e6e;">
  <div><img src="/images/index/top.png"></div>
  Top
</div>
</section>
<script src="/js/specifies/frontend/aboutNTCA.js"></script>

<% include ../footer %>