<% include ../header %>

<section class="section-new">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>招生專案</h1>
    <h2 class="sub-title">「認同、分享，並透過實作延續資種核心價值」</h2>
  </div>

  <div class="six-project-container">
    <img src="/images/projects/sixproject-new.jpeg"></img>
    <div class="img-description">第十六屆招生主視覺</div>
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        誠心認同並主動分享資訊種子的核心精神與價值；<br>
        培養數位行銷、實體活動策劃、人力資源管理等職場就業力；<br>
        發揚資種品牌，傳承、延續資訊種子培訓計畫。
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content">
      <p>
        透過實體的招生說明會、講座，幫助有興趣加入資種的同學們深入了解資種樣貌。 搭配線上行銷，在粉絲專頁上以影片、GIF、懶人包等形式宣傳，推廣資種的價值。 輔以融入UI/UX的官網設計，不僅傳遞完整的資種訊息，更創造良好的使用者體驗！ 最終期許能夠讓有興趣且適合資種的人，都能看見我們並加入資種大家庭，成為第十六屆學員！
      </p>
    </div>
  </div>
</section>
<% include ../footer %>