<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="bg-white">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3><%= datas[0].title %></h3>
				<div><%- datas[0].content %></div>	
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->