<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="bg-white">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-md-10">標　題</th>
							<th class="col-md-2">日　期</th>
						</tr>
					</thead>
					<tbody>
					<% for(var i = 0; i < datas.length; i++){ %>
						<tr>
							<td>
								<a href="<%= url + datas[i].id %>">		
									<%= datas[i].title %>		
								</a>
							</td>
							<td><%= datas[i].formatTime %></td>
						</tr>
					<% } %>
					</tbody>
				</table>	
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->