<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- <img src="/images/layout/3-5china.png" id="img-responsive" width="100%"> -->

<section class="section-overseaVisit">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>海外參訪</h1>
    <h2>「跟著資種踏出臺灣，讓自己挑戰世界的舞台」</h2>
  </div>
  <div class="six-project-container">
    <img src="/images/projects/sixproject-oversea1.png"></img>
    <div class="img-description">第十四屆海參結果</div>
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        促進兩岸學子交流，認知兩岸文化差異<br>
        拓展國際視野人脈，實作大型對外專案  
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content">
      每年海外參訪的地點有所不同， 而今年我們參訪有「 北方明珠」、「浪漫之都」之稱的中國大連，與當地大學生進行學術性的探討與建立雙方友好關係， 更與大連龍頭企業進行參訪，對中國企業有更深入的了解，提升國際視野。 除了學術與企業交流外，也安排許多文化體驗活動。
      在學員們協力規畫此次的海外參訪、相互合作下，將此次的海外參訪化為收穫豐富、難以忘懷的學習經歷。
    </div>
  </div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
