<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- <img src="/images/layout/3-5china.png" id="img-responsive" width="100%"> -->

<section class="section-overseaVisit">
<div class="sub-nav">
  <ul>
    <li><a href="/courseInfo">講座課程</a></li> |
    <li><a href="/businessVisit">企業參訪</a></li> |
    <li><a class="active" href="/tuv">六大專案</a></li>
  </ul>
</div>
<div class="six-project">
  <a href="/tuv">
      <div class="m">
          <p data-key="1" class="none-op six-b-color">TUV</p>
          <p class="op six-a-color">TUV</p>
          <div class="circles">
            <svg class="circle-no">
              <circle fill="lightgrey" cx="15" cy="25" r="5"/>
            </svg>
            <svg class="circle2">
              <path d="M15 0 V13" stroke="#F7D975"/>
              <circle fill="white" stroke="#F7D975" stroke-width="1" cx="15" cy="25" r="12"/>
              <circle fill="#F7D975" cx="15" cy="25" r="5"/>
            </svg>
          </div>
      </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/spring">
      <div class="m">
        <p data-key="2" class="none-op six-b-color">春酒</p>
        <p class="op six-a-color">春酒</p>
        <div class="circles">
          <svg class="circle-no">
              <circle fill="lightgrey" cx="15" cy="25" r="5"/>
          </svg>
          <svg class="circle2">
            <path d="M15 0 V13" stroke="#ED8F8F"/>
            <circle fill="white" stroke="#ED8F8F" stroke-width="1" cx="15" cy="25" r="12"/>
            <circle fill="#ED8F8F" cx="15" cy="25" r="5"/>
          </svg>
        </div>
      </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/careers">
    <div class="m">
      <p data-key="3" class="none-op six-b-color">職涯</p>
      <p class="op six-a-color">職涯</p> 
      <div class="circles">
        <svg class="circle-no">
          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#8FBEED"/>
          <circle fill="white" stroke="#8FBEED" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#8FBEED" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/new">
    <div class="m">
      <p data-key="4" class="none-op six-b-color">招生</p>
      <p class="op six-a-color">招生</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#9EE5CF"/>
          <circle fill="white" stroke="#9EE5CF" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#9EE5CF" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/overseaVisit">
    <div class="m">
      <p data-key="5" class="none-op">海參</p>
      <p class="op">海參</p>
      <div class="circles">
        <svg class="circle-no">
          <path d="M15 0 V13" stroke="#A3E3F2"/>
          <circle fill="white" stroke="#A3E3F2" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#A3E3F2" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#A3E3F2"/>
          <circle fill="white" stroke="#A3E3F2" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#A3E3F2" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/end">
    <div class="m">
      <p data-key="6" class="none-op six-b-color">結業</p>
      <p class="op six-a-color">結業</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="lightgrey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#FFAF8B"/>
          <circle fill="white" stroke="#FFAF8B" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#FFAF8B" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
  </div>
<script src="/js/specifies/frontend/sixproject.js"></script>

<div class="six-hg-title">
  <div class="six-hg-tit oversea">
    <span>05.海外參訪</span>
  </div>
  <div class="six-hg-le oversea">
    <span>「跟著資種踏出臺灣，讓自己挑戰世界的舞台」</span>
  </div>
</div>
<div>
  <div class="program-4-title">
      <div>
        <span class="oversea-border">
          -專案宗旨-
        </span>
      </div>
  </div>


  <div class="text-xs-center  project-content-style">
    <p>促進兩岸學子交流，認知兩岸文化差異</p>
    <p>拓展國際視野人脈，實作大型對外專案</p>
  </div>
  <div class="program-4-title">
    <div>
      <span class="oversea-border">
        - 專案內容 -
      </span>
    </div>
  </div>

  <div class="text-xs-center project-content-style">
<p>每年海外參訪的地點有所不同，</p>
<p>而今年我們參訪人文薈萃的北京，與北京當地大學生進行學術性的探討與建立雙方友好關係，</p>
<p>更實地到北京新創與龍頭企業進行參訪，對中國企業有更深入的了解，提升國際視野。</p>
<p>除了學術與企業交流外，也安排許多文化體驗活動，實地體驗文化古城－北京。</p>
<p>藉由學員們協力規畫此次的海外參訪、相互合作，將此次的海外參訪化為收穫豐富、難以忘懷的專案。</p>
  </div>
  <img src="/images/projects/project5.png" class="project-last-pic" alt="">
</div>

<div class="top" style="margin: 0; padding-top: 5px; background-color:#6e6e6e;">
  <div><img src="/images/index/top.png"></div>
  Top
</div>
</section>

<script src="/js/specifies/frontend/aboutNTCA.js"></script>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
