<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="six-hg-title intro-title">
	<div class="intro-titleSize  leader-color ">
		<span>制度</span>
	</div>
</div>
<div class="six-project intro-select">
	<a href="/studentIntro">
	    <div class="intro-rule ">
		      <p class="intro-select-size ">基本制度</p>
	    </div>
  </a>
    
  <a href="/projectIntro">
		<div class="intro-rule select">
			<p class="intro-select-size ">專案制度</p>
		</div>
  </a>
    
</div>


<section class="bg-light-gray article studentIntro-section">
	
		<div class="row sharing-content-pp">
			<div class="intro-container">
					<div class="project-background">
						<div class="intro-Image" text-align="center">
								<img  src="../images/ruleIntro/project.png" >
						</div>
						
					</div>
					<div class="studentIntro">
							<div class="title">
									<span>- 專案制度 -</span>
								</div>
							<div class="subtitle">召部團隊：</div>
							<div class="content">各專案的領導團隊，團隊分工以總召規劃為主，將規劃專案的大體架構，並領導學員發想、執行，亦作為學員與課務間的橋樑，協助專案資訊的流通。</div>
							</div>
			</div>
		
	</div>
	
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
