<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="six-hg-title intro-title">
	<div class="intro-titleSize  leader-color ">
		<span>制度</span>
	</div>
</div>
<div class="six-project intro-select">
	<a href="/studentIntro">
	    <div class="m">
		      <div class="intro-select-size"data-key="1">學員制度</div>
		      <p class="op ">學員制度</p>
		      <div class="circles">
		        <svg class="circle-no">
                       
                                <circle fill="lightgrey" cx="15" cy="25" r="5"/>
                          
		        </svg>
		        <svg class="circle2">
		          <path d="M15 0 V13" stroke="#F7D975"/>
		          <circle fill="white" stroke="#F7D975" stroke-width="1" cx="15" cy="25" r="12"/>
		          <circle fill="#F7D975" cx="15" cy="25" r="5"/>
		        </svg>
		      </div>
	    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
  <a href="/projectIntro">
	    <div class="m">
	      <div class="intro-select-size" data-key="2" class="none-op six-b-color">專案制度</div>
	      <p class="op six-a-color intro-select-size">專案制度</p>
	      <div class="circles">
                <svg class="circle-no">
                        <path d="M15 0 V13" stroke="#F7D975"/>
                        <circle fill="white" stroke="#F7D975" stroke-width="1" cx="15" cy="25" r="12"/>
                        <circle fill="#F7D975" cx="15" cy="25" r="5"/>
                      </svg>
	        
	        <svg class="circle2">
	          <path d="M15 0 V13" stroke="#ED8F8F"/>
	          <circle fill="white" stroke="#ED8F8F" stroke-width="1" cx="15" cy="25" r="12"/>
	          <circle fill="#ED8F8F" cx="15" cy="25" r="5"/>
	        </svg>
	      </div>
	    </div>
    </a>
    
    
    
    
    
    
</div>


<section class="bg-light-gray article studentIntro-section">
		<div class="container">
			<div class="row sharing-content-pp">
				<div class="col-md-10 col-md-offset-1">
						
						<div >
							<img class="intro-Image" src="https://pics.ettoday.net/images/2253/d2253182.jpg" text-align="center">
						</div>
	
	
						<div class="studentIntro">
								<div class="title">
										<span>文字介紹:</span>
									</div>
								<div class="content">
									內容唷
								</div>
						</div>
				</div>
			</div>
		</div>
		<div class="text-xs-center back-to-share">
			<a href="/sharing">Back</a>
		</div>
	</section>
	
	<!--FOOTER-->
	<% include ../footer %>
	<!--END FOOTER-->
	