<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<% include ./sub-nav %>
<section class="article section-projectIntro">
	<!-- <div class="main-title-div">
		<div class="line-and-circle">
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<h1>專案組織架構</h1>
	</div> -->
		<div class="main-titles clearfix">
			<div></div>
			<div></div>
			<div></div>
			<div>專案組織架構</div>
		</div>	
		<div class="intro-container">
			<div class="project-background">
				<div class="intro-Image" text-align="center">
					<img  alt="" src="../images/ruleIntro/project.png" >
				</div>
			</div>
			<div class="projectIntro">
			<h2 class="title" >- 專案執行分工 -</h2>
			<div class="subtitle">召部團隊：</div>
			<div class="content">各專案的領導團隊，團隊分工以總召規劃為主，將規劃專案的大體架構，並領導學員發想、執行，亦作為學員與課務間的橋樑，協助專案資訊的流通。</div>			
			<span>(※每一個專案團隊的組織架構依專案規劃而有所不同※)</span>
		</div>
	</div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
