<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<!-- <script src="/js/specifies/frontend/login.js"></script> -->
<script src="/js/specifies/frontend/register.js"></script>

<% include ../header %>
<section class="section-re">
<div class="login-part" style="margin-top: 100px;">
	<div class="title-title">
	    <span class="main-color-br">- 寄驗證信 -</span> 
	</div>
	<div class="login-main">
		<form action="/rem" method="post">
		<div>
        <span><img src="/images/layout/ACCOUNT.png"> 信箱：</span>
        <input class="btn-block" type="text" name="email" value="">
        <!-- <input type="" name="pwd"> -->
        <br>
        <br>
        <br>
        <input class="login-btn" type="submit" value="寄出">
		</form>
	    </div>
	</div>
</div>
</section>
<% include ../footer %>


