<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- 13thstylesheader -->
<!-- <img src="/images/layout/5toBe14.png" id="img-responsive" width="100%"> -->
<div class="sub-nav">
  <ul>
    <li><a class="active" href="/regInfo"></a></li>
  </ul>
</div>
<section id="regInfo">
	<div class="regSlogan">
		<h2>一句很猛的slogan，讓他不要再猶豫了</h2>	
		<!-- <div class="line"></div> -->
	</div>
	
	<!-- 招生訊息敘述,後台控制要上的資料 -->
	<div class="container">
		<div class="row">
			<div class="col-md-12 reg-part">
				<div>
					<span>
					<% if (datas[0] != null) { %>
						<%= datas[0].title %>
					<% } %>
					</span>
				</div>
				<p>
					<% if (datas[0] != null) { %>
						<%- datas[0].content %>
					<% } %>
				</p>	
				<div>
					<span>
					<% if (datas[1] != null) { %>
						<%= datas[1].title %>
					<% } %>
					</span>
				</div>
				<p>
					<% if (datas[1] != null) { %>
						<%= datas[1].content %>
					<% } %>
				</p>	
			</div>
		</div>
	</div>
	<!-- 倒數計時器regInfo.js and regInfo.js -->
	<div id="clockdiv">
	  <h1 style="color:white;">距離報名截止剩下</h1>
	  <div>
	    <span class="days"></span>
	    <div class="smalltext">Days</div>
	  </div>
	  <div>
	    <span class="hours"></span>
	    <div class="smalltext">Hours</div>
	  </div>
	  <div>
	    <span class="minutes"></span>
	    <div class="smalltext">Minutes</div>
	  </div>
	  <div>
	    <span class="seconds"></span>
	    <div class="smalltext">Seconds</div>
	  </div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 reg-part">
				<div>
					<span>- 報名流程 -</span>
				</div>	
			</div>
		</div>
	</div>
	<!-- poyao 報名流程 -->
	<div class="container">
	  <div class="row sign">
	    <div class="col-sm-6 col-md-3">
	      <div class="contentdiv thumbnail" >
	        <div class="circle" style=" background-color: #6fbbf4">
	         <h1 align="center" style="line-height:80px;"><i class="fa fa-sign-in" style="color: white"></i></h1>
	        </div>
	        <div class="inside thumbnail caption">
	          <h4 style="text-align: center">step1.<br><br>註冊登入himelight</h4>
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-6 col-md-3">
	      <div class="contentdiv thumbnail" >
	        <div class="circle" style=" background-color: #f4726f">
	        <h1 align="center" style="line-height:80px;"><i class="fa fa-file-text-o" style="color: white"></i></h1>
	        </div>
	        <div class="thumbnail caption ">
	          <h4 >step2.<br><br>填寫資種報名表單</h4>
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-6 col-md-3">
	      <div class="contentdiv thumbnail" >
	        <div class="circle" style="background-color: #FFBF57">
	        <h1 align="center" style="line-height:80px;"><i class="fa fa-paper-plane" style="color: white"></i></h1>
	        </div>
	        <div class="thumbnail caption">
	          <h4>step3.<br><br>寄送資料至指定信箱
	          <!-- <li>2吋個人照</li>
	          <li>學生證明</li>
	          <li>作品集</li></h4> -->
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-6 col-md-3">
	      <div class="contentdiv thumbnail" >
	        <div class="circle" style=" background-color: #6bc1b8">
	        <h1 align="center" style="line-height:80px;"><i class="fa fa-usd" style="color: white"></i></h1>
	        </div>
	        <div class="thumbnail caption">
	          <h4>step4.<br><br>繳交報名費</h4>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</section>

<div class="call-back">
	<p>往後的你會感謝現在的自己</p>
	<a href="/login">
		<button>馬上報名</button>
	</a>
</div>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->


<script src="/js/specifies/frontend/regInfo.js"></script>
