<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- 13thstylesheader -->
<!-- <img src="/images/layout/5toBe14.png" id="img-responsive" width="100%"> -->


<section id="regInfo">
	<div class="six-hg-title">
		<div class="six-hg-tit regInfo-color regInfo-title">
			<span>招生訊息</span>
		</div>
		<div class="regInfo-xx regInfo-color">
			<span>「加入資種，遇見更好的自己！」</span>
		</div>
	</div>
	<!-- 招生訊息敘述,後台控制要上的資料 -->
	<div class="container">
		<div class="row">
			<div class="col-md-12 reg-part">
				<div class="col-sm-4 col-xs-12">
					<span>
					<% if (datas[0] != null) { %>
						<%= datas[0].title %>
					<% } %>
					</span>
				</div>
				<p  class="col-sm-8 col-xs-12">
					<% if (datas[0] != null) { %>
						<%- datas[0].content %>
					<% } %>
				</p>	
				<div class="col-sm-4 col-xs-12">
					<span>
					<% if (datas[1] != null) { %>
						<%= datas[1].title %>
					<% } %>
					</span>
				</div>
				<p class="col-sm-8 col-xs-12">
					<% if (datas[1] != null) { %>
						<%- datas[1].content %>
					<% } %>
				</p>	
			</div>
		</div>
	</div>
	<!-- 倒數計時器regInfo.js and regInfo.js -->
	<div id="clockdiv">
	  <h1 style="color:white; font-family: '微軟正黑體'; ">距離報名截止</h1>
	  <div>
	    <span class="days"></span>
	    <div class="smalltext">Days</div>
	  </div>
	  <div>
	    <span class="hours"></span>
	    <div class="smalltext">Hours</div>
	  </div>
	  <div>
	    <span class="minutes"></span>
	    <div class="smalltext">Minutes</div>
	  </div>
	  <div>
	    <span class="seconds"></span>
	    <div class="smalltext">Seconds</div>
	  </div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12 reg-part" style="margin-top: 40px;">
				<div>
					<span>- 報名流程 -</span>
				</div>	
			</div>
		</div>
		<div class="row reg-step">
			<div class="col-sm-4 text-xs-center">
				<div>
					<div class="icon">
						<img src="/images/regInfo/01.png"/>
					</div>
					<div class="reg-step-word">
						<p>【 STEP 1 】</p>
						<p>官網線上報名</p>
					</div>
				</div>
				<p>註冊並填寫基本資料</p>
				<p>將所需資料上傳</p>	
			</div>
			<div class="col-sm-4 text-xs-center">
				<div>
					<div class="icon">
						<img src="/images/regInfo/02.png"/>
					</div>
					<div class="reg-step-word">
						<p>【 STEP 2 】</p>
						<p>繳交報名費</p>
					</div>
				</div>
				<p>透過貝殼集器繳交報名費100元</p>
				<p>於 3 個工作天內(7/9 中午11:59)<p>
				<p>繳交完畢</p>	
			</div>
			<div class="col-sm-4 text-xs-center">
				<div>
					<div class="icon">
						<img src="/images/regInfo/03.png"/>
					</div>
					<div class="reg-step-word">
						<p>【 STEP 3 】</p>
						<p>確認信件</p>
					</div>
				</div>
				<p>確認是否於繳費完</p>
				<p>3 天內收到信件</p>	
			</div>
		</div>
	</div>
	<!-- poyao 報名流程 -->
<!-- 	<div class="container">
	  <div class="row sign">
	    <div class="col-sm-6 col-md-3">
	      <div class="contentdiv thumbnail" >
	        <div class="circle" style=" background-color: #6fbbf4">
	         <h1 align="center" style="line-height:80px;"><i class="fa fa-sign-in" style="color: white"></i></h1>
	        </div>
	        <div class="inside thumbnail caption">
	          <h4 style="text-align: center">step1.<br><br>官網線上註冊</h4>
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-6 col-md-3">
	      <div class="contentdiv thumbnail" >
	        <div class="circle" style=" background-color: #f4726f">
	        <h1 align="center" style="line-height:80px;"><i class="fa fa-file-text-o" style="color: white"></i></h1>
	        </div>
	        <div class="thumbnail caption ">
	          <h4 >step2.<br><br>填寫、繳交報名資料</h4>
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-6 col-md-3">
	      <div class="contentdiv thumbnail" >
	        <div class="circle" style="background-color: #FFBF57">
	        <h1 align="center" style="line-height:80px;"><i class="fa fa-paper-plane" style="color: white"></i></h1>
	        </div>
	        <div class="thumbnail caption">
	          <h4>step3.<br><br>貝殼集器繳費
	          <li>2吋個人照</li>
	          <li>學生證明</li>
	          <li>作品集</li></h4>
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-6 col-md-3">
	      <div class="contentdiv thumbnail" >
	        <div class="circle" style=" background-color: #6bc1b8">
	        <h1 align="center" style="line-height:80px;"><i class="fa fa-usd" style="color: white"></i></h1>
	        </div>
	        <div class="thumbnail caption">
	          <h4>step4.<br><br>收到完成報名信件</h4>
	        </div>
	      </div>
	    </div>
	  </div>
	</div> -->
	<div class="container">
		<div class="row">
			<div class="col-md-12 reg-part">
				<div>
					<span>- 貼心提醒 -</span>
				</div>	
			</div>
			<div class="project-content-style text-xs-center reg-remind" >
				<p>若三天內未收到確認信件，請來信與我們聯繫</p>
				<p>我們將盡快確認資訊（itseed15th@gmail.com）</p>
				<p>第一階段錄取名單將於 7/22（六） 公布，並於 7/29（六） 進行面試</p>
				<p style="color:red;">（請「務必」先將面試時間空下來喔！）</p>
				<p>若在報名流程上遇到任何問題，歡迎私訊粉絲專頁或寄信詢問喔！</p>
			</div>
		</div>
	</div>
</section>

<div class="call-back">
	<p>未來的你會感謝現在的自己</p>
	<a href="/login">
		<button>馬上報名</button>
	</a>
</div>
<div class="reg-activity">
	<p >或是想要更加了解計畫嗎？</p>
	<p>可以先報名以下活動</p>
	<br><br>
	<div class="block1" >
		<a href="/seminar">
			<img src="/images/regInfo/activity1.png" >
		</a>
		<p>招生說明會</p>
	</div>
	<div class="block1">
			<a href="/workshop">
				<img src="/images/regInfo/activity2.jpg" >
			</a>
			<p>履歷面試工作坊</p>
	</div>
</div>


<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->


<script src="/js/specifies/frontend/regInfo.js"></script>
