<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<section id="regInfo" class="section-careerSharingContent">
	<div class="main-title-div">
		<div class="line-and-circle">
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<h1>招生訊息</h1>
		<h2>「加入資種，遇見更好的自己！」</h2>
	</div>
	<!-- 招生訊息敘述,後台控制要上的資料 -->
	<div class="container reg-right-time-container">
		<div class="row">
			<div class="col-md-12 reg-part">
				<div class="col-sm-4 col-xs-12">
					<span>- 報名資格 -</span>
				</div>
				<p  class="col-sm-8 col-xs-12">升大三至升碩一之全台大專院校學生，不限科系</p>	
				<div class="col-sm-4 col-xs-12">
					<span>- 報名時間 -</span>
				</div>
				<p class="col-sm-8 col-xs-12 js-register_date">
					
				</p>	
			</div>
		</div>
	</div>
	<!-- 倒數計時器regInfo.js and regInfo.js -->
	<div id="clockdiv">
	  <h1 id="clock-title" style="color:white; font-family: '微軟正黑體'; ">距離報名截止</h1>
	  <div>
	    <span class="days">0</span>
	    <div class="smalltext">Days</div>
	  </div>
	  <div>
	    <span class="hours">0</span>
	    <div class="smalltext">Hours</div>
	  </div>
	  <div>
	    <span class="minutes">0</span>
	    <div class="smalltext">Minutes</div>
	  </div>
	  <div>
	    <span class="seconds">0</span>
	    <div class="smalltext">Seconds</div>
	  </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 reg-part" style="margin-top: 40px;">
				<div>
					<span>- 報名流程 -</span>
				</div>	
			</div>
		</div>
		<div class="row reg-step">
			<div class="col-sm-4 text-xs-center">
				<div>
					<div class="icon">
						<img alt="" src="/images/regInfo/01.png"/>
					</div>
					<div class="reg-step-word">
					
						<p>【 STEP 1 】</p>
						<p>官網線上報名</p>
					</div>
				</div>
				
				<p>註冊並填寫基本資料</p>
				<p>將所需資料上傳</p>	
			</div>
			<div class="col-sm-4 text-xs-center">
				<div>
					<div class="icon">
						<img alt="" src="/images/regInfo/02.png"/>
					</div>
					<div class="reg-step-word">
						
						<p>【 STEP 2 】</p>
						<p>繳交報名費</p>
					</div>
				</div>
				<p>透過貝殼集器繳交報名費100元</p>
				<p>至 7/10（一） 15:00 繳交完畢</p>	
			
			</div>
			<div class="col-sm-4 text-xs-center">
				<div>
					<div class="icon">
						<img alt="" src="/images/regInfo/03.png"/>
					</div>
					<div class="reg-step-word">
						<p>【 STEP 3 】</p>
						<p>確認信件</p>
					</div>
				</div>
				<p>確認是否於繳費完</p>
				<p>3 天內收到信件</p>	
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 reg-part">
				<div>
					<span>- 貼心提醒 -</span>
				</div>	
			</div>
			<div class="project-content-style text-xs-center reg-remind" >
				<p>若三天內未收到確認信件，請來信與我們聯繫</p>
				<p>我們將盡快確認資訊（itseed16th@gmail.com）</p>
				<p>第一階段錄取名單將於 7/21（六） 公布，並於 7/28（六） 進行面試</p>
				<p style="color:red;">（請「務必」先將面試時間空下來喔！）</p>
				<p>若在報名流程上遇到任何問題，歡迎私訊粉絲專頁或寄信詢問喔！</p>
			</div>
		</div>
	</div>
</section>
<br></br>
<br></br>
<div class="call-back">
   
	<p>未來的你會感謝現在的自己</p>
		<p></p>
	<a href="/login">
		 
		<button>馬上報名</button>
	</a>
</div>
<div class="contianer call-to-action-container">
	<p>或是想要更加了解計畫嗎？</p>
	<p>可以先報名以下活動</p>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<a href="/seminar">
				<img alt="" src="images/activity-seminar.jpg">
			</a>
			<p>招生說明會</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<a href="/workshop">
				<img alt="" src="/images/regInfo/activity2.jpg">
			</a>
			<p>履歷面試工作坊</p>
		</div>
	</div>
</div

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
<script>
	var startDate = <%- JSON.stringify(startDate) %>;
	var endDate = <%- JSON.stringify(endDate) %>;
	var start_n = new Date(startDate).getDay();
	var end_n = new Date(endDate).getDay();
	var week_name_arr = "日,一,二,三,四,五,六".split(',');
	var start_week_name = week_name_arr[start_n];
	var end_week_name = week_name_arr[end_n];
	var register_date_str = `${startDate}（${start_week_name}）至 ${endDate}（${end_week_name}）`
	$('.js-register_date').text(register_date_str);
</script>
<script src="/js/specifies/frontend/regInfo.js"></script>
