<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<img src="/images/layout/5toBe14.png" id="img-responsive" width="100%">
<section class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<!-- <h3><%= datas[0].title %></h3> -->
				<div><%- datas[0].content %></div>	
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->