<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3><%= datas[0].title %></h3>
				<div><%- datas[0].content %></div>	
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->