<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<!-- <script src="/js/specifies/frontend/login.js"></script> -->
<script src="/js/specifies/frontend/register.js"></script>

<% include ../header %>
<section class="section-rem">
	<div class="login-part" style="margin-top: 100px;">
		<div class="title-title">
			<span class="main-color-br">- <%=status%> -</span> 
		</div>
		<div class="login-main">
            <span> 信箱：</span>
            <p><%=emailV.email%></p>
			<br>
			<p><%=text%></p>
			<br>
		</div>
	</div>
</section>
<% include ../footer %>


