<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-seminar">
	<% include ./sub-nav %>
	<div class="main-title-div">
		<div class="line-and-circle">
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<h1>活動資訊</h1>
	</div>

	<div class="activity-container">
		<h2 class="title">招生說明會</h2>
		<div class="image-div">
			<img class="activity-imgae" src="images/index/activity-seminar_16.jpg" alt="校園說明會"></img>
		</div>

		<h2>活動介紹</h2>
		<p>1. 台大場</p>
		<p>
			面對大學生活快結束時的迷惘，資種給了我一個方向！
		</p>
		<p>
			16年來，資訊種子培訓計畫幫助學生探索職涯，讓將成為社會新鮮人的學生，找到自己的人生方向。
		</p>
		<p>
			你也還在尋找你人生目標跟方向嗎 ?
		</p>
		<p>或許資訊種子是一個機會，帶你探索職涯的起點，來聽聽看學員跟校友怎麼說吧!</p>
		<a href="http://bit.ly/ITSeedNTU"><button id="submit" style="color: black;">報名台大場</button></a><br>
		<p>2. 政大場</p>

		<p>撕下標籤，給自己一年的時間，了解自己吧！</p>
		<p>還不夠了解自己的特質及團體定位，所以對未來生涯規劃遲遲感到迷惘嗎？</p><p>資訊種子可以提供你多方領域的嘗試，讓你在一年的時間內，更加了解自己，也進一步釐清自己未來生涯努力的方向。	</p>
		
		
		<a href="http://bit.ly/ITSeedNCCU"><button id="submit" style="color: black;">報名政大場</button></a>
		
	</div>
</section>
</div>


<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
