<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-seminar">
	<% include ./sub-nav %>
	<div class="main-title-div">
		<div class="line-and-circle">
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<h1>活動資訊</h1>
	</div>

	<div class="activity-container">
		<h2 class="title">招生說明會</h2>
		<div class="image-div">
			<img class="activity-imgae" src="images/activity-seminar.jpg" alt="seminar.jpg"></img>
		</div>

		<h2 class="shtitle">活動時間和地點</h2>
		<p>
			師大場時間：6/15（五） 19：00 – 21：00
			<br> 地點：臺灣師範大學校本部 正大樓101教室
		</p>
		<h2>活動介紹</h2>
		<p>
			很高興看到你對我們的活動有興趣。15年來資訊種子培訓計畫推動著學生和職場與生涯的連結，希望讓將成為新鮮人的各位能突破盲點，追求自己人生的轉捩點。我們想將這樣的理念繼續傳承下去，第16屆招生說明會應運而生，期望藉由這場說明會讓你更了解我們。本次說明會，將採取和以往不同的形式，我們是這麼想的，各位對於自己或多或少都有些疑問，對於自己的選擇有所顧忌。藉由一份調查問卷我們找出了各位的煩惱--突破，想讓未來的自己對現在的選擇不後悔，想讓自己活出生命的精彩。我們想回饋各位，以兩場對談，談論職涯、談論生涯。我們希望的不是單方面的演講，而是我們一起討論，藉由前輩的觀點給予我們思考的方向。現在，讓我們一起思考、一起為更好的自己邁進吧！
		</p>
		
		<a href="/apply2"><button>馬上報名</button></a>
		
	</div>
</section>
</div>


<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
