<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="bg-light-gray article ">
	<div class="sub-nav">
		<ul>
			<li></li>
		</ul>
	</div>
	<div class="six-hg-title">
		<div class="six-hg-tit leader-color">
			<span>活動資訊</span>
		</div>
	</div>
	<div class="container">
		<div class="row sharing-content-pp">
			<div class="col-md-10 col-md-offset-1">
				<div class="rec">
					<div class="shtitle">履歷面試工作坊</div>
				</div>
				
				<div class="image">
					<img class="seminar-imgae" src="http://loremflickr.com/800/400"></img>
				</div>
				
				<div class="seminar-word">
						<div class="rec">
								<div class="shtitle">活動時間和地點</div>
						</div>

					
					<p>
						第一場時間：6/17（日） 14：00 – 16：00  <br>
						第二場時間：6/24（日） 14：00 – 16：00  <br>
						地點：新北市電腦商業同業公會（台北市中山區民權西路 19 號 9 樓）
					</p>
					<div class="rec">
							<div class="shtitle">活動介紹</div>
					</div>

					
					<p>
						履歷是一張門票，讓你到達夢想大門的入口。那麼要如何交出一張好的門票呢？邀請你一同為未來的自己寄送一張不後悔的樂園門票。（本活動將以主辦單位：第十六屆資訊種子作為履歷撰寫的範本作為教學使用）					</p>
				</div>
				<div class="seminar-submit_btn">
					<a href="/apply">馬上報名</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
