<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-sharing bg-light-gray article ">
	<div class="container">
		<div class="row sharing-content-pp">
			<div class="col-md-10 col-md-offset-1">
				<h3 class="share-in-title">經驗分享</h3>
				<div class="image">
					<img src="<%= datas[0].photo %>"></img>
				</div>
				<h3 class="sharing-title"><%- datas[0].title %></h3>
				<h4>
					<% if(datas[0].th != 4) {%>
						<span>第十四屆資訊種子學員</span>
					<% } %>
					<% if(datas[0].th == 4) {%>
						<span>資訊種子歷屆校友</span>
					<% } %>
					<%- datas[0].name %>
				</h4>
				<hr class="share-line">
				<div class="sharing-word"><%- datas[0].content %></div>
				<hr class="share-line">
			</div>
		</div>
	</div>
	<div class="text-xs-center back-to-share">
		<a href="/sharing">Back</a>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
