<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- <div class="banner">
	<img src="/images/layout/4experience.png" id="img-responsive" width="100%">
</div> -->
<div class="sub-nav">
  <ul>
	<li></li>
  </ul>
</div>
<div class="six-hg-title">
  <div class="six-hg-tit leader-color">
      <span>經驗分享</span>
  </div>
</div>

<div class="container">
	<div class="row share-page">
		<div class="col-xs-12 share-but-part">
			<div class="share-but">各校系怎麼看</div>
			<div class="share-but">領導者怎麼看</div>
			<div class="share-but">迷惘人怎麼看</div>
			<div class="share-but">學長姐怎麼看</div>
		</div>
		<div class="col-xs-12 share-part">
			<div class="col-sm-4">
				<div>
					<img src="/images/sharing/five-5.jpg"/>
					<div class="share-title">
						<h4>學員 秉橙</h4>
						<h5>元智大學 創意設計所 碩一</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div>
					<img src="/images/sharing/five-5.jpg"/>
					<div class="share-title share-active">
						<h4>學員 秉橙</h4>
						<h5>元智大學 創意設計所 碩一</h5>
					</div>
					<div class="share-triangle"></div>
				</div>
			</div>
			<div class="col-sm-4">
				<div>
					<img src="/images/sharing/five-5.jpg"/>
				</div>

			</div>

			<div class="col-xs-12">
				<div class="sharing-box">
					
					<div class="sharing-word">
					<h3>11</h3>
					<p>wwww</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<section class="bg-light-gray" id="sharingList">
	<div class="container-fluid">
		<div class="row">
		<% for(var i = 0; i < datas.length; i++){ %>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<a href="<%= url + datas[i].id %>">
				<div class="course-card">
					<div class="photo text-center">
						<img src="<%= datas[i].photo %>"></img>
					</div>
					<div class="image-overlay"></div>
					<div class="view-details">
						經驗分享
					</div>
					<div class="intro">
						<div class="title">
							<%= datas[i].title %>
						</div>
						<div class="instructor">
							<strong>分享人</strong>
							<p>
								<%= datas[i].name %>
							</p>
						</div>
					</div>
				</div>
				</a>
			</div>
		<% } %>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
