<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-sharing  ">
	
	<% include ./sub-nav %>
	<!-- <div class="main-title-div">
	<div class="line-and-circle">
		<div class="line"></div>
		<div class="circle"></div>
	</div>
	<h1>經驗分享</h1>
	</div> -->
	<div class="main-titles clearfix">
            <div></div>
            <div></div>
            <div></div>
            <div>經驗分享</div>
        </div>	
	<div class="container">
		<div class="row title-row">
			<div class="row-div col-md-7">
				<div class="div sharing-title-div">
					<h3 class="sharing-title">
						<%- datas[0].name %>
					</h3>
					<div class="bar">
						<h3 class="sharing-title"><%- datas[0].title %></h3>
					</div>
				</div>
			</div>
			<div class="row-div col-md-5">
				<div class="image-div">
					<img src="<%= datas[0].photo %>" alt="photo"></img>
				</div>
			</div>
		</div>
		<div class="row content">
			<div class="sharing-word"><%- datas[0].content %></div>
		</div>
		<div class="row text-xs-center back-to-share">
			<a href="/sharing">Back</a>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
