<% include ../header %>

<section class="section-tuv">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>TUV專案</h1>
    <h2 class="sub-title double-line">「不把手弄髒，怎麼知道一群人的力量可以多強大？」</h2>
  </div>

  <div class="six-project-container">
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        專案全名 — Top Up the Value <br>
        各小組透過觀察生活周遭及社會現象，從生活中感觸最深的社會議題找出待解決的問題。 <br>
        在有限的時間與資源下，各組的夥伴齊心透過社會創新的方式，
        突破舊有思維，融入資訊、科技、人脈，並結合各大組織的資源，
        設計出一個可行的解決方案，實際執行並推廣其價值理念。
      </p>
    </div>
    <h3>專案內容</h3>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
          <div class="item  active">
              <img src="/images/projects/sixproject-tuv0.jpg" alt="Sixth Slide">
            </div>
        <div class="item">
          <img src="/images/projects/sixproject-tuv1.jpg" alt="First Slide">
        </div>
        <div class="item">
          <img src="/images/projects/sixproject-tuv2.jpg" alt="Second Slide">
        </div>
        <div class="item">
          <img src="/images/projects/sixproject-tuv3.jpg" alt="Third Slide">
        </div>
        <div class="item">
          <img src="/images/projects/sixproject-tuv4.jpg" alt="Fourth Slide">
        </div>
        <div class="item">
          <img src="/images/projects/sixproject-tuv5.jpg" alt="Fifth Slide">
        </div>

      </div>
      <!-- Carousel controls -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

      
    <h3>成果展現</h3>
    <div class="text-xs-center" >
    <a href="/">
      <button class="btn-lg btn-default" style="padding-left: 1vw; padding-right: 1vw; border: solid 1px; font-size: 15px; margin-bottom: 5vh;">看鍵 • 霸凌</button>
    </a>
    <a href="/">
      <button class="btn-lg btn-default" style="padding-left: 1vw; padding-right: 1vw; border: solid 1px; margin-left: 4vh;  font-size: 15px; margin-bottom: 5vh;">昔時 • 惜食</button>
    </a>
    <a href="/">
      <button class="btn-lg btn-default" style="padding-left: 1vw; padding-right: 1vw; border: solid 1px; margin-left: 4vh;   font-size: 15px; margin-bottom: 5vh;">擦比涕</button>
    </a>
    <a href="/">
      <button class="btn-lg btn-default" style="padding-left: 1vw; padding-right: 1vw; border: solid 1px; margin-left: 4vh;   font-size: 15px; margin-bottom: 5vh;">拾衣助行，遇樂</button>
    </a>
    <a href="/">
      <button class="btn-lg btn-default" style="padding-left: 1vw; padding-right: 1vw; border: solid 1px; margin-left: 4vh;   font-size: 15px; margin-bottom: 5vh;">我是小藍</button>
    </a>
    </div>
    <div class="row">
    <h3 class="no-border">
      | 看鍵 • 霸凌
    </h3>
    <h3 class="no-border">
       專案介紹
    </h3>
    <div class="content">
      本次專案的目標受眾為網路霸凌者及潛在霸凌者，經過評估團隊資源後，決定以拍攝劇情影片及資訊懶人包來執行專案。影片的內容以感性訴求喚醒大眾的反思，懶人包則以說理的方式提醒網路之法律責任及迷思破解；最後藉由社群粉專的發文及分享迅速傳播，達到「減少網路霸凌，不再未審先判」的目標。
    </div>
    <h3 class="no-border">
        執行成果
    </h3>
    <div class="content">
        專案影片及懶人包上傳粉專僅一週內，我們就得到了以下迴響：<br>
        • 觸及人數：4.4萬人<br>
        • 影片觀看次數：15000次<br>
        • 回饋表單：70份<br>
        • 反霸凌機構「iWIN網路內容防護機構」協助分享<br>
        同時，我們也得到許多感人的回應及肯定，當這些曾經因網路霸凌受到影響的人願意坦白地分享故事，這種強烈的使命感是超乎我們預期的，原來我們真的可以從自己開始的做點什麼，讓這世界變得更好。        
    </div> 
  </div>
  <div class="row">
      <h3 class="no-border">
          專案介紹《昔時 • 惜食》
      </h3>
      <div class="content">
          在台灣，無論是居家的廚餘桶、還是學餐的回收區，我們常常可以看到滿滿的剩食毫不留情地被丟棄進入廢棄物的循環中。據聯合國統計指出，全球每天產出的食物有近1/3，約13億噸的食物遭到浪費，同時仍有近八億的人口處於挨餓或是營養不良，如果我們每個人能減少25%的食物浪費，就能改善這八億人口的困境！因此我們決定試著從身邊著手改善，讓大家意識到剩食問題的嚴重性。
      </div>
      <h3 class="no-border">
          執行成果
      </h3>
      <div class="content">
          • 於六所大學學餐張貼警示看板，提醒大學生勿浪費食物。<br>
          • 與台大根與芽合作，發佈六則與剩食或惜食相關的貼文或有趣的影片，來推廣剩食議題。<br>
          • 舉行線上空盤挑戰活動，喚起大學生自覺平時的剩食情況，並開始重視剩食議題。<br>
          • 舉辦一場剩食講座，邀請到Pick Food Up扌合生態廚房創辦人、Japoon呷饙創辦人及學生團隊Transleftovers，為大學生提出響應剩食的方法。          
      </div> 
    </div>

    <div class="row">
        <h3 class="no-border">
          專案介紹《擦比涕-讓比較不再過敏》
        </h3>
        <div class="content">
            根據美國休士頓大學和帕羅奧圖大學的心理學家們所發表的研究中，
            發現「使用Facebook會影響使用者的心理狀態，讓人產生憂鬱症狀。」
            社群使用者越來越在意個人在網路上面的形象與表現，
            甚至想去刻意營造自己的形象。我們希望透過此次專案改善網路社群氾濫導致社會比較日漸頻繁的問題，調整其所帶來的負面情緒並學習與之共處。
        </div>
        <h3 class="no-border">
            執行成果
        </h3>
        <div class="content">
            整個專案共執行了三週，從創立挑戰賽活動頁到後測問卷，與訪談目標受眾後，
            得知我們實際改善超過20位週遭親友面對社會比較的心態，共收集超過105則真實改變留言，
            實際接觸並錄下5位受眾真實改變的故事。
            雖然不解決社會比較的問題，世界不會毀滅，
            但如果我們能多做一點，你我的生活就能看到改變。
        </div> 
      </div>
      <div class="row">
          <h3 class="no-border">
            專案介紹《拾衣助行，遇樂》
          </h3>
          <div class="content">
            我們從身旁的看見的小問題下手，進而發覺許多人家中都有不知如何處裡二手衣的困擾。
            因此從最初的網上問卷來瞭解我們的目標客群輪廓後，提供他們二手衣新聞及文章，
            提升大家對二手衣的意識與觀念，並附上目前台灣南北有在處理舊衣的管道，
            增加大家實際行動的動機，以達到減少舊衣資源浪費的目標。
          </div>
          <h3 class="no-border">
              執行成果
          </h3>
          <div class="content">
              粉絲專頁成立的一個月內，按讚人數超過500人，且之後人數逐漸攀升至800人； <br>
              粉絲專頁發布的懶人包平均觸及人數接近1000人，最高也曾達到觸及1300人。<br>
              與兩位 KOL：整理師的極簡之路、高中生的循環經濟合作，達到向更多群眾推廣舊衣回收觀念的目標。
          </div> 
        </div>
        <div class="row">
            <h3 class="no-border">
              專案介紹《我是小藍》
            </h3>
            <div class="content">
                藉由懶人包的圖文介紹，使消費者意識不必要消費造成的衣物浪費，以及珍惜衣物的重要性，進而減少不必要消費。
                我們以線上接力賽的方式，引導 TA 思考亂買衣服的原因；
                再透過實際前往師大商圈，向 TA 宣傳衣物浪費的議題與減少不必要消費的秘訣，
                鼓勵其買衣服前三思，達成本組專案之理念：「透過減少不必要消費，讓生活變得更好。」
            </div>
            <h3 class="no-border">
                執行成果
            </h3>
            <div class="content">
                線上活動觸及人數約15000人，懶人包等圖文互動次數高，達到向大眾傳達理念之效果；
                線下活動觸及180人，37人填寫回饋表單，書籤及宣傳小版獲得良好回饋。
                許多TA表示願意在購買前好好思考、理性消費，考慮實穿、耐穿、環保性。
            </div> 
          </div>
    <div class="project-button-div">
      <div class="left project-button"></div>  
      <div class="right project-button"><a href="/spring">春酒專案 ▶</a></div>  
    </div>  
  </div>

</section>

<% include ../footer %>