<% include ../header %>

<section class="section-new">
  <% include ./sub-nav %>
  <!-- <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>招生專案</h1>
    <h2 class="sub-title">「改變、成長與分享，資種核心價值的延伸與傳承」</h2>
  </div> -->
	<div class="main-titles clearfix">
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="margin-left: 0;">招生專案</div>
      <h2>「改變、成長與分享，資種核心價值的延伸與傳承」</h2>
      </div>
  <div class="six-project-container">
    <img alt="" src="/images/index/section16-1.jpg"></img>
    <div class="img-description">第十七屆招生主視覺</div>
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
          吸引積極且渴望成長的學生加入資訊種子培訓計畫； <br>
          藉此培養數位行銷、專案策劃、人力資源管理等職場就業力， <br>
          讓彼此產生聯結，認同資種核心價值，並發揚、傳承資訊種子培訓計畫。          
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content">
      <p>
          透過粉專貼文宣傳、官網資訊以及資訊種子形象影片，讓大三至碩一有興趣加入資種的學生得以了解資訊種子培訓計畫是一個能讓他們培養實戰力、簡報力、職場就業力、拓展人脈並積極尋找自己生涯方向的地方。
          並搭配說明會、工作坊的實體活動，實際和有興趣的學生面對面接觸，傳遞資種的價值。對資種有興趣的同學們，歡迎加入資訊種子第十七屆，成為資種大家庭的成員！          
      </p>
    </div>
    <div class="project-button-div">
      <div class="left project-button">
        <a href="/careers">◀ 職涯專案</a>
      </div>
      <div class="right project-button">
        <a href="/overseaVisit">海參專案 ▶</a>
      </div>
    </div>
  </div>
</section>
<% include ../footer %>