<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- <img src="/images/layout/3-5china.png" id="img-responsive" width="100%"> -->

<section class="section-overseaVisit">
  <% include ./sub-nav %>
  <!-- <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>海外參訪</h1>
    <h2>「培訓計畫也可以跨出台灣」</h2>
  </div> -->
	<div class="main-titles clearfix">
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="margin-left: 0;">海外參訪</div>
      <h2>「培訓計畫也可以跨出台灣」</h2>
      </div>
  <div class="six-project-container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="3"></li> -->
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/projects/sixproject-oversea1.jpg" alt="First Slide">
        </div>
        <div class="item">
          <img src="/images/projects/sixproject-oversea2.jpg" alt="Second Slide">
        </div>
       <div class="item">
          <img src="/images/projects/sixproject-oversea3.jpg" alt="Third Slide">
        </div> 
        <!-- <div class="item">
          <img src="/images/projects/sixproject-oversea4.jpg" alt="Third Slide">
        </div> -->
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <div alt="" class="img-description">第15屆 海外參訪專案參訪合影</div>
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        與當地學子交流互動，拓展學員視野，並深入瞭解、認識當地的產業與人文風情。創造屬於十五屆學員們的難忘回憶。
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content">
      大連，一個我們平時不熟悉的城市，透過此次難得的機會，我們與大連理工大學及大連海事大學的學生們，
      針對SDGs（聯合國永續發展目標）及網紅經濟等學術議題進行討論，促進兩岸學子交流互動，並藉由參訪當地知名企業，
      使學員進一步瞭解並認識大陸及大連地區的產業發展。此外，作為即將結業的參訪之旅，我們造訪大連文化景點，
      帶學員感受當地人文風情，這段難忘的海外參訪之旅，將十五屆學員彼此的感情緊密相連。
    </div>
    <div class="project-button-div">
      <div class="left project-button">
        <a href="/new">◀ 招生專案</a>
      </div>
      <div class="right project-button">
        <a href="/end">結業專案 ▶</a>
      </div>
    </div>
  </div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
