<% include ../header %>

<section class="section-spring">
  <% include ./sub-nav %>
  <!-- <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>

    <h1>春酒專案</h1>
    <h2 class="sub-title">「展現自我，團結彼此 !」</h2>
  </div> -->
	<div class="main-titles clearfix">
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="margin-left: 0;">春酒專案</div>
      <h2>「展現自我，團結彼此 !」</h2>
      </div>
  <div class="six-project-container container" style="margin-top: 0px;">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" >
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
              <div class="item active">
                  <img src="/images/projects/sixproject-spring0.jpg" alt="0">
                </div>
            <div class="item">
              <img src="/images/projects/sixproject-spring1.jpg" alt="1">
            </div>
            <div class="item">
              <img src="/images/projects/sixproject-spring2.jpg" alt="2">
            </div>
            <div class="item">
              <img src="/images/projects/sixproject-spring3.jpg" alt="3">
            </div>
            <div class="item">
              <img src="/images/projects/sixproject-spring4.jpg" alt="4">
            </div>
    
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        <div class="img-description">第十六屆春酒主視覺</div>
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        增進彼此感情，增加向心力，營造歸屬感； 
        在籌備及舞台上展現自身長才，讓夥伴更認識自己；
        透過春酒專案讓工會長輩們認識第十六屆資訊種子成員。

      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content">
      <p>
          透過春酒籌備期間的互動增進彼此的感情，增加向心力並營造第十六屆歸屬感，讓大家有機會在舞台上展現出自身長才，或嘗試自己想挑戰的內容，不只讓夥伴更認識自己同時也探索自我。
          透過春酒專案，讓公會長輩與學長姐們由晚宴表演與安排認識第十六屆資訊種子成員、感受第十六屆的氛圍與活力，提升資訊種子大家庭的感情。              
      </p>
    </div>

    <h3>專案回顧</h3>
    <iframe width="900" height="506" src="https://www.youtube.com/embed/cMcsIkd9ztc?list=PLFOrttgLE4zhTwVVUu9ctvGlRjEhg_70r&rel=0&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <h3>學員心得</h3>
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <img src="/images/projects/sixproject-spring4.jpeg" alt="sprin43">
      </div>
      <div class="col-sm-12 col-md-7 content">
        <h4 class="project-color">
          總召｜中央大學 經濟學系 三年級 李宛儒
        </h4>
        <div>
           &emsp; &emsp;因為春酒專案，讓我有機會籌組召部團隊舉辦春酒表演，藉由跨組交流的表演形式凝聚十五屆學員的情感，並創造屬於我們的回憶。籌備的過程中，我更加清楚要如何撰寫活動企劃書，如何透過自己活潑開朗的個性，渲染夥伴們一起邁向春酒專案的最終目標：「快速凝聚夥伴們的感情。」
        </div>
      　<div>
           &emsp; &emsp;謝謝春酒專案，讓我有這麼棒的機會與大家一同籌畫屬於十五屆獨一無二的表演，更讓我在擔任總召的期間，看見夥伴們身上的價值與長處。
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-push-7 col-md-5 ">
        <img src="/images/projects/sixproject-spring3.png" alt="spring3">
      </div>
      <div class="col-sm-12 col-md-pull-5 col-md-7 content">
        <h4 class="project-color">
          美宣組｜政治大學 經濟學系 三年級 潘冠樺
        </h4>
        <div>
          <div>
              &emsp; &emsp;此次春酒整體視覺呈現希望給人親臨頒獎典禮現場般的尊榮感。而我們以「金種獎」為題，結合電影宣傳劇照、籤詩、黑金視覺、玫瑰，翻轉「春酒」形象。
          </div>
        　<div>
              &emsp; &emsp;從主題設定到視覺設計，美宣組非常用心發想。雖然大家都身兼多職，但在每次的討論中，我們都能激發出很棒的點子；也經歷了多次設計細節與執行項目的大幅修改，但大家依然不厭其煩地討論、努力尋找替代方案。美宣組內的氣氛非常融洽，我很喜歡這裡。
          </div>

          <div>
             &emsp; &emsp;我們負責設計整體春酒的主視覺，成果是其次，過程開心有趣才是最重要的，很慶幸美宣組為春酒帶來了很多歡樂 ！
          </div>
        </div>
      </div>
    </div> -->
    <div class="project-button-div">
      <div class="left project-button">
        <a href="/tuv">◀ TUV專案</a>
      </div><div class="right project-button">
        <a href="/careers">職涯專案 ▶</a>
      </div>
    </div> 
  </div>
</section>

<% include ../footer %>