<% include ../header %>

<section class="section-end">
  <% include ./sub-nav %>
  <!-- <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>結業專案</h1>
    <h2 class="sub-title">「對每一屆種子來說，結業是逗號，不是句號。」</h2>
  </div> -->
  <div class="main-titles clearfix">
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="margin-left: 0;">結業專案</div>
      <h2>「拋開包袱，勾勒當初自己進資種想成為的樣貌」</h2>

  </div>
  <div class="six-project-container">
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
          與夥伴共同完成尚未實現的願望； <br>
          結合一年來在資訊種子的成長，創造最後一個屬於十五屆的舞台； <br>
          讓重要他人共同回首這一年的成長與蛻變。
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content">
      <p>
          以「我的願望清單」為主題，發起四大主題，包含: <br>
          「那一年，我們走過的路」畢業歌製作組<br>
          「喔嘿晃島。嘿喔環島」環島組<br>
          「種下一顆資訊種子」官網傳承組<br>
          「九五後的嘰嘰喳喳」Medium 組<br>
          在結業策展當天，結合大型海報、互動牆、回顧影片、學員 TED TALK 的方式，一步一步將願望清單上的項目完成，並展現給所有人，一同見證學員的成長。          
      </p>
    </div>
    <img src="/images/projects/sixproject-end0.jpg"  alt="sixproject-tuv1-1.jpg">
    <div class="img-description">第15屆 結業專案 電視牆</div>
    <div class="project-button-div">
      <div class="left project-button">
        <a href="/overseaVisit">◀ 海參專案</a>
      </div>
      <div class="right project-button"></div>
    </div>
  </div>
</section>
<% include ../footer %>