<% include ../header %>
<section class="section-careers">
  <% include ./sub-nav %>
  <!-- <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>職涯專案</h1>
    <h2 class="sub-title">「在探索職涯的路上彼此分享，一同茁壯！」
      </h2>
  </div> -->
  <div class="main-titles clearfix">
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="margin-left: 0;">職涯專案</div>
      <h2>「在探索職涯的路上彼此分享，一同茁壯！」</h2>
  </div>
  <div class="six-project-container">
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        幫助學員探索職涯方向與興趣；
        提升職場軟硬實力，並增進跨屆交流。  
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content line-connect">
      <h3 class="no-border no-color">
         第一階段─職前準備
      </h3>
      <p>
          透過履歷工作坊及模擬面試工作坊，幫助學員對於「投履歷」、「面試」這兩件求職前最重要的事情，能夠更加得心應手，也在過程中讓學員重新認識自我，挖掘自己的個人特質。
      </p>
    </div>
    <div class="content line-connect">
      <h3 class="no-border no-color">
        第二階段─分享交流
      </h3>
      <p>
          職前準備完成後，此階段希望能達到職涯專案「分享、交流、回饋」的目標。 <br>
          透過技能工作坊及雙週分享，讓學員在技能、知識以及實習、職涯體驗等方面增加彼此分享的機會；<br>
          圓桌論壇則是搭起學員與學長姐之間跨屆交流的橋樑，讓學員們有近距離向學長姐請益的機會。
      </p>
    </div>
    <div class="content line-connect no-line">
      <h3 class="no-border no-color">
         第三階段─成果分享
      </h3>
      <p>
          最後，藉由職涯專案成果發表會，幫助學員收斂兩個月以來職涯體驗的收穫與心得，同時透過成果發表會讓學員們彼此分享職涯體驗的心路歷程，並表達對 Mentor 兩個月來辛勤指導的感謝之意。
      </p>
    </div>
    <h3>專案回顧</h3>
    <iframe  src="https://www.youtube.com/embed/4_zi1FzKSE4?list=PLFOrttgLE4zg1NzfhSah3Z_79MLqCYtOT&rel=0&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="project-button-div"> 
      <div class="left project-button">
        <a href="/spring">◀ 春酒專案</a>
      </div>
      <div class="right project-button">
        <a href="/new">招生專案 ▶</a>
      </div> 
    </div> 
  </div>
</section>
<% include ../footer %>