<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<!-- <img src="/images/layout/3-5china.png" id="img-responsive" width="100%"> -->

<section class="section-overseaVisit">
  <% include ./sub-nav %>
  <!-- <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>海外參訪</h1>
    <h2>「培訓計畫也可以跨出台灣」</h2>
  </div> -->
	<div class="main-titles clearfix">
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="display: none;"></div>
      <div style="margin-left: 0;">海外參訪</div>
      <h2>「培訓計畫也可以跨出台灣」</h2>
      </div>
  <div class="six-project-container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/projects/sixproject-oversea1.png" alt="First Slide">
        </div>
        <div class="item">
          <img src="/images/projects/sixproject-oversea2.png" alt="Second Slide">
        </div>
        <div class="item">
          <img src="/images/projects/sixproject-oversea3.png" alt="Third Slide">
        </div>
        <div class="item">
          <img src="/images/projects/sixproject-oversea4.png" alt="Third Slide">
        </div>
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <div alt="" class="img-description">第十四屆海參成果</div>
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        透過海外訪參增加國際視野，學習不同國家文化； <br>
        並將這段旅程作為十六屆難忘的回憶。
          
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content">
        本次次參訪的地方是新加坡，這次除了能和當地學生的交流外，也可以參訪很多新加坡的企業，真的是非常難得的經驗！可能也是人生唯一一次可以去看看國外學校以及當地企業環境。
        海參不單單只是遊玩，更重要的是大家一起籌備的過程，考驗細心與耐心及如何凸顯只屬於16屆回憶的特色，再加上此次是以自由行的方式做規劃，非常考驗專案的完整性以及當下危機處理的能力。
        這次的專案除了能看到世界是多麼的大，也期許學員們都可以更多元化的學習以適應未來的挑戰。
        
    </div>
    <div class="project-button-div">
      <div class="left project-button">
        <a href="/new">◀ 招生專案</a>
      </div>
      <div class="right project-button">
        <a href="/end">結業專案 ▶</a>
      </div>
    </div>
  </div>
</section>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
