<% include ../header %>

<section class="section-spring">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>春酒專案</h1>
  </div>
  <div class="six-hg-title">
    <div class="six-hg-le spring">
        <span>「創造熱情氣氛、建立夥伴回憶，凝聚資種大家庭！」</span>
    </div>
  </div>
  <div>
    <div class="program-4-title">
        <div>
          <span class="spring-border">-專案宗旨-</span>
        </div>
    </div>
    <div class="text-xs-center project-content-style">
      <p>春酒專案是新北市電腦商業同業公會與資種大家庭一年一度的盛宴！</p>
      <p>這一天，所有公會會員、理監事、資種長輩、校友會與資種學員跨世代齊聚一堂。</p>
      <p>喧寒問暖之餘，也希望在這一年的開始，期許彼此在事業與人生的道路上能更上一層樓，</p>
      <p>而小種子們也藉由這個場合，感謝公會、長輩們對培訓計劃的支持與無償付出！</p>
    </div>
    <div class="program-4-title">
      <div>
        <span class="spring-border">-專案內容-</span>
      </div>
    </div>
    <div class="text-xs-center project-content-style">
      <p>春酒晚會之中，小種子們化身IT JUMPER---時空旅人。</p> 
      <p>透過時空旅人的雙眼，在神秘的光線流轉中和大家一起穿越千年的時空。</p>
      <p>透過結合劇情的創意舞蹈、多元的樂器才藝，來刺激觀眾的視覺與聽覺，</p>
      <p>讓來自不同背景、不同的身份的貴賓在歡樂氣氛中交流。</p>
      <p>表演最後以一首《垃圾車》，除了象徵資種大家庭堅固的情誼，</p>
      <p>更為新的一年呈上最真摯的祝福！</p>
      <br>
      <p>「春酒不只是春酒」！</p>
      <p>我們打破組別的限制，全體為一同的目標邁進，</p>
      <p>更在這個專案中看到夥伴們不常流露的一面。</p>
      <p>這是我們獨力完成的第一個專案，</p>
      <p>除了在專案中彼此交流、相互學習以外，</p>
      <p>更重要的是，我們成功凝聚團隊的向心力、共創專屬於大家的美好回憶。</p>
    </div>
    <img src="/images/projects/project2.png" class="project-last-pic" alt="">
  </div>
  <div class="top" style="margin: 0; padding-top: 5px; background-color:#6e6e6e;">
    <div><img src="/images/index/top.png"></div>
    Top
  </div>
</section>
<script src="/js/specifies/frontend/aboutNTCA.js"></script>


<% include ../footer %>