<% include ../header %>

<section class="section-spring">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>春酒專案</h1>
    <h2 class="sub-title">「創造熱情氣氛，建立夥伴回憶，凝聚資種大家庭！」</h2>
  </div>

  <div class="six-project-container container">
    <img src="/images/projects/sixproject-spring1.png"></img>
    <div class="img-description">第十六屆招生主視覺</div>
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        春酒專案是新北市電腦商業同業公會與資種大家庭一年一度的盛宴！
        這一天，所有公會會員、理監事、資種長輩、校友會與資種學員跨世代齊聚一堂。
        喧寒問暖之餘，也希望在這一年的開始，期許彼此在事業與人生的道路上能更上一層樓，
        而小種子們也藉由這個場合，感謝公會、長輩們對培訓計劃的支持與無償付出！
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content">
      <p>
        透過實體的招生說明會、講座，幫助有興趣加入資種的同學們深入了解資種樣貌。 搭配線上行銷，在粉絲專頁上以影片、GIF、懶人包等形式宣傳，推廣資種的價值。 輔以融入UI/UX的官網設計，不僅傳遞完整的資種訊息，更創造良好的使用者體驗！ 最終期許能夠讓有興趣且適合資種的人，都能看見我們並加入資種大家庭，成為第十六屆學員！
      </p>
    </div>
    <div class="img-h-390">
      <img src="/images/projects/sixproject-spring2.png"></img>
    </div>
    <h3>專案內容</h3>
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <img src="/images/projects/sixproject-spring3.png" alt="spring3">
      </div>
      <div class="col-sm-12 col-md-7 content">
        <h4 class="project-color contnet">
          總召｜中央大學 經濟學系 三年級 李宛儒
        </h4>
        <p>
          因為春酒專案，讓我有機會籌組召部團隊舉辦春酒表演，藉由跨組交流的表演形式凝聚十五屆學員的情感，並創造屬於我們的回憶。籌備的過程中，我更加清楚要如何撰寫活動企劃書，如何透過自己活潑開朗的個性，渲染夥伴們一起邁向春酒專案的最終目標：「快速凝聚夥伴們的感情。」
          　　 謝謝春酒專案，讓我有這麼棒的機會與大家一同籌畫屬於十五屆獨一無二的表演，更讓我在擔任總召的期間，看見夥伴們身上的價值與長處。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-md-push-6">
        <img src="/images/projects/sixproject-spring3.png" alt="spring3">
      </div>
      <div class="col-sm-12 col-md-6 col-md-pull-6 content">
        <h4 class="project-color">
          美宣組｜政治大學 經濟學系 三年級 潘冠樺
        </h4>
        <div>
          <p>
        　　此次春酒整體視覺呈現希望給人親臨頒獎典禮現場般的尊榮感。而我們以「金種獎」為題，結合電影宣傳劇照、籤詩、黑金視覺、玫瑰，翻轉「春酒」形象。 　　從主題設定到視覺設計，美宣組非常用心發想。雖然大家都身兼多職，但在每次的討論中，我們都能激發出很棒的點子；也經歷了多次設計細節與執行項目的大幅修改，但大家依然不厭其煩地討論、努力尋找替代方案。
        　　美宣組內的氣氛非常融洽，我很喜歡這裡。我們負責設計整體春酒的主視覺，但成果是其次，過程開心有趣才是最重要的，很慶幸美宣組為春酒帶來了很多歡樂 ！
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ../footer %>