<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<div class="sub-nav">
	<ul>
	  <li></li>
	</ul>
  </div>
  <div class="six-hg-title">
	<div class="six-hg-tit leader-color">
		<span>學員制度</span>
	</div>
  </div>
<section class="bg-light-gray article studentIntro-section">
	<div class="container">
		<div class="row sharing-content-pp">
			<div class="col-md-10 col-md-offset-1">
					<div class="studentIntro-btn_group">
							<button class="btn_one" >基本制度</button>
							<button class="btn_two" >專案制度</button>
					</div>
					<div class="image">
						<img class="studentIntro-imgae" src="https://pics.ettoday.net/images/2253/d2253182.jpg" test-align="center">
					</div>


					<div class="studentIntro">
							<div class="title">
									<span>文字介紹:</span>
								</div>
							<div class="content">
								內容唷
							</div>
					</div>
			</div>
		</div>
	</div>
	<div class="text-xs-center back-to-share">
		<a href="/sharing">Back</a>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
