<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<section class=" article section-studentIntro">
	<% include ./sub-nav %>
	<div class="main-title-div">
		<div class="sub-title clearfix">
			<div></div>
			<div></div>
			<div></div>
			<div>組織架構</div>
		</div>
	</div>
	
	<div class="intro-container">
		<!-- <div class="student-background" style="border:1px solid black;">
			<div class="intro-Image" text-align="center">
				<img  alt="student.png" src="../images/ruleIntro/student.png" >
			</div>
		</div> -->
		<div class="studentIntro">
			<div class="studentIntrobox"><img src="images/itstructure/2.png"></div>
			<div class="media">
				<!-- <div class="studentIntrobox"><img src="images/itstructure/structure.png"></div> -->
				<div class="media-body">
					<h3 class="subtitle">校友會：</h3>
						<p class="content">從2003年至今已累積400多位校友，整合公會與校友資源，指引學員執行專案時突破自我，並傳承資訊種子分享與回饋的精神。
						</p>
							<!-- <div class="AfterSeed">
				              <button onclick="window.location.href='/aboutITSeed'" class="AfterSeedbtn" style="text-align: center;">近一步了解校友會</button>
				            </div> -->
					<h3 class="subtitle">課務團隊</h3>
						<p class="content">由上屆學長姐組成，負責協助當屆專案的進行及年度課程規劃，為學員與公會、校友會溝通的橋樑。</p>
					<h3 class="subtitle">學員幹部</h3>
						<p class="content">由當屆學員選舉產生，主要負責凝聚學員情感，以及團隊溝通協調。第十六屆幹部團隊包含：</p>
					
					<div class="student-div">

						<h3 class="st-subtitle">正/副學員長</h3>
							<p class="content">帶領幹部團隊進行年度規劃，與課務團隊溝通合作，凝聚當屆的向心力。</p>
						<h3 class="st-subtitle">資訊長</h3>
							<p class="content">帶領資訊組負責當屆官網前後端資料的維護、整合。</p>
						<h3 class="st-subtitle">設計長</h3>
							<p class="content">帶領設計組設計當屆主視覺，產出周邊產品，留下獨一無二的紀念。</p>
						<h3 class="st-subtitle">行銷長</h3>
							<p class="content">帶領行銷組對外經營資訊種子粉專，對內紀錄學員一年培訓過程。</p>
						<span>（※每一屆幹部團隊職位依當屆課務團隊規劃而有所不同※）</span>

				    </div>
				</div>
            </div>
			<!-- <h2 class="title"><img src="https://case.ntu.edu.tw/blog/wp-content/uploads/2018/08/pic.jpg"></h2> -->
		</div>
	</div>
</section>
<style type="text/css">
</style>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
