<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<section class="bg-light-gray article studentIntro-section"></section>
	<div class="six-hg-title intro-title">
		<div class="intro-titleSize  leader-color ">
			<span>制度</span>
		</div>
	</div>
	<div class="six-project intro-select">
		<a href="/studentIntro">
			<div class="intro-rule select">
				<p class="intro-select-size ">基本制度</p>
			</div>
		</a>	
		<a href="/projectIntro">
			<div class="intro-rule ">
				<p class="intro-select-size ">專案制度</p>
			</div>
		</a>	
	</div>
	
	<div class="row sharing-content-pp">
		<div class="intro-container">
			<div class="student-background">
				<div class="intro-Image" text-align="center">
					<img  src="../images/ruleIntro/student.png" >
				</div>
			</div>
			<div class="studentIntro">
					<div class="title">
						<span>- 學員制度 -</span>
					</div>
				<div class="subtitle">校友會：</div>
				<div class="content">已累積400多位校友，整合公會與校友資源，協助學員成長，進而傳承資訊種子</div>
				<div class="subtitle">課務團隊：</div>
				<div class="content">由上屆學長姐組成，負責協助當屆專案的進行以及年度課程規劃，同時作為培訓計畫的橋樑，協助溝通學員與公會、校友會的意見。</div>
				<div class="subtitle">幹部團隊：</div>
				<div class="content">凝聚夥伴，並有效執行政見，做好團隊溝通協調。</div>
				<div class="subtitle">正副學員長：</div>
				<div class="content">帶領幹部團隊進行年度規劃，與課務團隊溝通合作，凝聚當屆的向心力。</div>
				<div class="subtitle">資訊長：</div>
				<div class="content">負責當屆的資料維護、整合，並帶領資訊組經營資訊種子粉專。</div>
				<div class="subtitle">設計長：</div>
				<div class="content">帶領設計組設計當屆主視覺，產出周邊產品，留下獨一無二的紀念。</div>
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
