

<div style="display: none;" class="sub-nav sub-nav-introduction">
    <ul>
      <li><a  class="sub-nav-link" href="/aboutITSeed">計畫簡介</a></li>
      <!-- <li><a  class="sub-nav-link" href="/aboutNTCA">公會簡介</a></li> -->
      <li><a  class="sub-nav-link" href="/memberList">歷屆名單</a></li>
      <li><a  class="sub-nav-link " href="/studentIntro">組織架構</a></li>
    </ul>
</div>

<div style="display: none;" class="sub-nav dobule-sub-nav sub-nav-studentIntro">
    <ul class="link-nav">
        <li><a  class="sub-nav-link dont-be-selected" href="/aboutITSeed">計畫簡介</a></li>
        <!-- <li><a  class="sub-nav-link dont-be-selected" href="/aboutNTCA">公會簡介</a></li> -->
        <li><a  class="sub-nav-link dont-be-selected" href="/memberList">歷屆名單</a></li>
        <li><a  class="sub-nav-link dont-be-selected" href="/studentIntro">組織架構</a></li>
    </ul>
<!--     <ul class="small-link-nav">
        <li><a class="sub-nav-small-link" href="/studentIntro">基本組織架構</a></li> 
        <li><a class="sub-nav-small-link" href="/projectIntro">專案組織架構</a></li> 
    </ul> -->
</div>


<div style="display: none;" class="sub-nav sub-nav-plan">
    <ul>
        <li>
            <a href="/trainingProgram" class="sub-nav-link back" style="color: white;">
                <span> &lt; </span>
                返回
            </a>
        </li>
        <li><a class="sub-nav-link" href="/businessVisit">企業參訪</a></li> 

        <!-- <li><a class="sub-nav-link" href="/businessVisit">企業參訪</a></li> 
        <li><a class="sub-nav-link" href="/businessVisit">企業參訪</a></li> 
        <li><a class="sub-nav-link" href="/businessVisit">企業參訪</a></li>  -->
    </ul>
    <ul class="small-link-nav">
            <li><a class="sub-nav-link shopee" href="/businessVisit#shopee">蝦皮企業</a></li> 
            <li><a class="sub-nav-link" href="/businessVisit#getac">神基科技</a></li> 
            <li><a class="sub-nav-link" href="/businessVisit#microsoft">微軟</a></li> 
            <li><a class="sub-nav-link" href="/businessVisit#google">Google</a></li> 
        </ul>
</div>

<div style="display: none;" class="sub-nav dobule-sub-nav sub-nav-plan">

    <ul class="link-nav">
        <!-- <li><a class="sub-nav-link dont-be-selected" href="/courseInfo">講座課程</a></li> 
        <li><a class="sub-nav-link dont-be-selected" href="/businessVisit">企業參訪</a></li>  -->

        <!-- <li>    
            <a href="/trainingProgram" class="back">
                <span> &lt; </span>
                <img src="" alt="">
                Back
            </a>
        </li> -->
        <a href="/trainingProgram" class="sub-nav-link back" style="color: white;">
            <span> &lt; </span>
            <img src="" alt="">
            返回
        </a>
        <li><a class="sub-nav-link active" href="/tuv">六大專案</a></li>
    </ul>
    <ul class="small-link-nav">
        <li><a class="sub-nav-small-link" href="/tuv">TUV</a></li> 
        <li><a class="sub-nav-small-link" href="/spring">春酒</a></li> 
        <li><a class="sub-nav-small-link" href="/careers">職涯</a></li>
        <li><a class="sub-nav-small-link" href="/new">招生</a></li> 
        <li><a class="sub-nav-small-link" href="/overseaVisit">海參</a></li> 
        <li><a class="sub-nav-small-link" href="/end">結業</a></li>
    </ul>
</div>


<script>
    let now_loction_path = document.location.pathname;
    if(now_loction_path.includes('/courseInfo')) now_loction_path = '/courseInfo';
    $(`.sub-nav a[href='${now_loction_path}']:not('.dont-be-selected')`)
        .addClass('active')
        .closest(".sub-nav").show();
</script>
<style>
/* .back:hover{
    color: #3075b1;
    border: 1px solid #3075b1;
    background-color: #fff;

}
.back{
    color: #fff;
    background-color: #3075b1;
    border: 1px solid #fff;

    border-radius: 3px;
    padding: 5px;
    width: 100px;
    margin-left: 20px;
    text-align: center;
} */
</style>