<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<!-- <h3><%= datas[0].title %></h3>
				<div><%- datas[0].content %></div>	 -->
	<ul class="timeline">
        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-road"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">報名開始</h3>
              <p><span class="text-muted"><i class="glyphicon glyphicon-time"></i>2015/6/1(一)</span></p>
            </div>
            <div class="timeline-body">
              <!-- <img src="image/timeline/01.png" style="height:100%; width:100%"> -->
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">招生說明會 第一場</h3>
              <p><span class="text-muted"><i class="glyphicon glyphicon-time"></i>6/14(日) 12:30~16:30</span></p>
            </div>
            <div class="timeline-body">
              <a class="btn btn-warning" href="http://lnk.pics/7Nr" target="_blank">前往報名</a>
              <!-- <img src="image/timeline/02.png" style="height:100%; width:100%"> -->
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-info-sign"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">招生說明會 第二場</h3>
              <p><span class="text-muted"><i class="glyphicon glyphicon-time"></i>7/11(六) 12:30~16:30</span></p>
            </div>
            <div class="timeline-body">
              <!-- <img src="image/timeline/02.png" style="height:100%; width:100%"> -->
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-ban-circle"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">報名結束</h3>
              <p><span class="text-muted"><i class="glyphicon glyphicon-time"></i>2015/7/20(一) 23:59</span></p>
            </div>
            <div class="timeline-body">
              <!-- <img src="image/timeline/01.png" style="height:100%; width:100%"> -->
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-file"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">公告面試名單</h3>
              <p><span class="text-muted"><i class="glyphicon glyphicon-time"></i>2015/7/27(一)</span></p>
            </div>
            <div class="timeline-body">
              <!-- <img src="image/timeline/03.png" style="height:100%; width:100%"> -->
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
        　<div class="timeline-badge info"><i class="glyphicon glyphicon-user"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">面試</h3>
              <p><span class="text-muted"><i class="glyphicon glyphicon-time"></i>2015/8/1(六)</span></p>
            </div>
            <div class="timeline-body">
              <!-- <img src="image/timeline/04.png" style="height:100%; width:100%"> -->
            </div>
          </div>
        </li>
        <li>
        　<div class="timeline-badge"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">公告正取名單</h3>
              <p><span class="text-muted"><i class="glyphicon glyphicon-time"></i>2015/8/8(六)</span></p>
            </div>
           	<div class="timeline-body">
              <!-- <img src="image/timeline/05.png" style="height:100%; width:100%"> -->
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-heart"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">第十三屆資種培訓開始</h3>
              <p><span class="text-muted"><i class="glyphicon glyphicon-time"></i>2015/9</span></p>
            </div>
            <div class="timeline-body">
              <!-- <img src="image/timeline/06.png" style="height:100%; width:100%"> -->
            </div>
          </div>
        </li>
    </ul>	



























			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->