
<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userProfile.js"></script>


<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-trainingProgram" class="bg-white" id="profile">
   <!-- <div class=" sub-title mainTitle clearfix"> -->
    <div class="trainingProgram-main">
        <div class=" main-titles clearfix">
            <div></div>
            <div></div>
            <div></div>
            <div>培訓計畫內容</div>
        </div>
        <p>資訊種子培訓計畫，目的在於培養一群對於未來富有競爭力的種子們。</p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="trainingProgram-six">

            <div class="sub-title clearfix">
                <div></div>
                <div></div>
                <div></div>
                <div>六大專案</div>
            </div>
            <div class="trainingProgram-container">
                <ul class="row">
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content">
                            <p class="six-title">TUV專案</p>
                            <p class="six-description">Top Up Our Value</p>
                            <div class="six-link">
                                <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6  col-xs-12 ">
                        <div class="content">
                            <p class="six-title">TUV專案</p>
                            <p class="six-description">Top Up Our Value</p>
                            <div class="six-link">
                                <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content">
                            <p class="six-title">TUV專案</p>
                            <p class="six-description">Top Up Our Value</p>
                            <div class="six-link">
                                <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content">
                            <p class="six-title">TUV專案</p>
                            <p class="six-description">Top Up Our Value</p>
                            <div class="six-link">
                                <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content">
                            <p class="six-title">TUV專案</p>
                            <p class="six-description">Top Up Our Value</p>
                            <div class="six-link">
                                <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content">
                            <p class="six-title">TUV專案</p>
                            <p class="six-description">Top Up Our Value</p>
                            <div class="six-link">
                                <a href="#"><img src="/images/layout/musica-searcher.png" alt=""></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
    <div class="trainingProgram-courses">
            <div class="sub-title clearfix">
                <div></div>
                <div></div>
                <div></div>
                <div>講座課程</div>
            </div>
            <div class="trainingProgram-container">
                <ul class="row">
                    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div class="content">
                            <div class="learn-more">
                                <a href="#"><p>Learn more</p></a>
                                
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div class="content">

                        </div>
                    </li>
                    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div class="content">

                        </div>
                    </li>
                    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div class="content">

                        </div>
                    </li>
                    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div class="content">

                        </div>
                    </li>
                    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div class="content">

                        </div>
                    </li>                  
                </ul>
            </div>
    </div>  
    <div class="trainingProgram-enterprise">
            <div class="sub-title clearfix" style="margin-bottom: 20px;">
                <div></div>
                <div></div>
                <div></div>
                <div>企業參訪</div>
            </div>
            <div class="trainingProgram-enterprise-wrapper">
                <ul>
                    <li>
                        <div class="enterprise-name">
                            <p>蝦皮購物 shopee</p>
                        </div>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
    </div>


</section>

<style>
.section-trainingProgram li{
    list-style: none;
}
.trainingProgram-main .main-titles{
    margin-top: 33px;
}
.trainingProgram-main p{
    margin-top: 42px;
    margin-left: 72px;
    font-size: 20px;
    border: 1px #00a0e8 solid;
    border-radius: 2px;
    border-width: 3px;
    width: 50%;
    text-align: center;
    padding: 8px;
    margin-bottom: 100px;
}
.trainingProgram-main ul{
    display: flex;
    justify-content: space-around;
    padding: 0 42px;
    margin-bottom: 109px;
    flex-wrap: wrap;
    
}
.trainingProgram-main ul li {
    width: 26%;
    height: 0;
    padding-bottom: 26%;
    background-color: 	#ffcccc;
    border-radius:50%;
    list-style: none;
    min-width: 200px;
    min-height: 330px;
    margin-bottom: 30px;

}
.trainingProgram-main ul li:last-child{
    margin-bottom: 0;
}
/* 六大專案 */
.trainingProgram-container{
    margin-left: 5%;
    margin-right: 5%;
}
.trainingProgram-six{
    margin-bottom: 53px;
}


.trainingProgram-six ul li {
    list-style: none;
    padding:0 30px;
}
.trainingProgram-six .content{
    border: 1px #9B9833 solid;
    border-radius: 1px;
    position: relative;
    
    padding-left: 24px;
    padding-top: 20px;
    margin-top: 50px;
    min-height: 250px;
    /* min-width: 310px; */
}
.trainingProgram-six ul li {

    /* margin-left: 50px; */
}
.trainingProgram-six ul li:last-child{
    margin-bottom: 84px;
}
.six-title{
    font-family: PingFangTC-Regular;
    font-size: 4rem;
    line-height: 45px;
    color: #A09D3E;
}

.six-title::before{
    content:"";
    display: block;
    /* border: 1px solid #A09D3E; */
    background-color: #A09D3E;
    width: 4px;
    height: 30px;
    position: absolute;
    top: 28px;
    left: 10px;
}
.six-description{
    font-family: PingFangTC-Regular;
    font-size: 32px;
    color: #000000;
    margin-top: 20px;
}
.six-link{
    display: block;
    position: absolute;
    width: 8.4%;
    right: 21px;
    bottom: 17px;
}
.six-link a{
    display: block;
    width: 100%;
    height: 100%;
}
.six-link img{
    display: block;
    width: 100%;
    height: 100%;
}
.six-link:hover{
    right: 200px;

  transition-duration: 4s;
  transition-delay: 2s;
  /* font-size: 36px; */
}
@media screen and (max-width: 1200px){
    .trainingProgram-six-container .content{
        height: 180px;
    }
}
@media screen and (max-width: 900px){
    .trainingProgram-six-container .content{
        height: 200px;
    }
}
/* 課程 */
.trainingProgram-courses{
    margin-bottom: 100px;
}
.trainingProgram-courses .trainingProgram-container{
    margin-top: 20px;
}
.trainingProgram-courses ul li{
    padding: 10px;
    margin-top: 36px;
}
.trainingProgram-courses .content{
    width:100%;
    height:0;
    padding-bottom: 66%;
    /* background-color:red; */
    font-size: 2px;
    border: 1px solid #48697C;
    position: relative;
    border-radius: 3px;
}

.learn-more a:hover{
    background-color: #48697C;
    color: white;
}
.learn-more a{
    width: 100%;
    height: 100%;
    display: block;
    color: #48697C;
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #48697C;
    background-color: #fff;
}
/* 企業參訪 */
.trainingProgram-enterprise{
    margin-bottom: 100px;
}
.trainingProgram-enterprise-wrapper{
    width: 100%;
    height: 20vw;
    /* padding-bottom: 220px; */
    background-color: #D9E9D6;
}
.trainingProgram-enterprise-wrapper ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    overflow: scroll;
}
.trainingProgram-enterprise-wrapper ul li{
    width: 21%;
    height: 0;
    padding-bottom: 16.8%;
    background-color: red;
}

@media screen and (max-width: 600px){
    .trainingProgram-enterprise-wrapper{
        /* background-color: black; */
        height: 100%;
    }
    .trainingProgram-enterprise-wrapper ul{
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 20px;
        margin: 20px auto;
    }
    .trainingProgram-enterprise-wrapper ul li{
        width: 300px;
        height: 228px;
        margin-bottom: 20px;
        margin-right: 5px;
    }
}


/* .course-background .course-class{
    color: #8DC5E4;
    opacity: 0.59;
    position: absolute;
    font-size: 2.5vw;
    z-index: -999;
}
.course-background .course-number{
    color: #8DC5E4;
    opacity: 0.59;
    position: absolute;
    font-size: 10vw;
    top: 0;
    right: 0;
    top: 0;
    z-index: -999;
} */

</style>


<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->

