<% include ../header %>

<section class="section-tuv">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>TUV專案</h1>
  </div>
  <div class="six-hg-title">
    <div class="six-hg-le tuv">
        <span>「用心發現價值，以行動回饋社會。」</span>
    </div>
  </div>
  <div>
    <div class="program-4-title">
        <div>
          <span class="tuv-border">-專案宗旨-</span>
        </div>
    </div>
    <div class="text-xs-center project-content-style">
      <p>專案全名 — Top Up the Value。</p>
      <p>作為加入資種的第一個專案，提升學員整體規劃的思考脈絡及專案執行力，</p>
      <p>透過 Mentor制度讓每位夥伴感受到資種的大家庭意識，</p>
      <p>更期待讓每位小種子們相信自己擁有無限的力量，探索生活中蘊含的各種可能性。</p>
      <p>透過發想企劃並實際執行，相互協助一同讓彼此相信的價值最大化！</p>
    </div>
  <!--   <div class="program-4-title">
      <div>
        <span class="tuv-border">-我們要做的是-</span>
      </div>
    </div>
    <div class="tuv-bg" style="height: 200px; margin-top:50px;">

    </div> 
    -->
    <div class="program-4-title">
      <div>
        <span class="tuv-border">-專案內容-</span>
      </div>
    </div>
  <!--   <div class="six-pro-circle">
      <div class="tuv-bg">冷光</div>
      <div class="tuv-bg">成語劇</div>  
      <div class="tuv-bg">樂團</div>
      <div class="tuv-bg">舞蹈</div>
      <div class="tuv-bg">戲劇</div>
    </div>-->
    <div class="text-xs-center project-content-style">
      <p>從性別、教育、食農、銀髮與交通五大領域找出待解決的問題，</p>
      <p>在有限的時間與資源下，和同組的夥伴齊心透過社會創新的方式，</p>
      <p>培養思考脈絡，突破現有思維，並融入資訊、科技等方式，</p>
      <p>設計出一個可行的解決方案，實際執行並嘗試推廣其價值理念。</p>
    </div>
    <img src="/images/projects/project.png" class="project-last-pic" alt="">
  </div>
  <div class="top" style="margin: 0; padding-top: 5px; background-color:#6e6e6e;">
    <div><img src="/images/index/top.png"></div>
    Top
  </div>
</section>
<script src="/js/specifies/frontend/aboutNTCA.js"></script>

<% include ../footer %>