<% include ../header %>

<div class="sub-nav">
  <ul>
    <li><a href="/courseInfo">講座課程</a></li> |
    <li><a href="/businessVisit">企業參訪</a></li> |
    <li><a class="active" href="/tuv">六大專案</a></li>
  </ul>
</div>
<div class="six-project">
	<a href="/tuv">
	    <div class="m">
		      <p data-key="1" class="none-op">TUV</p>
		      <p class="op">TUV</p>
		      <div class="circles">
		        <svg class="circle-no">
		          <path d="M15 0 V13" stroke="#F7D975"/>
		          <circle fill="white" stroke="#F7D975" stroke-width="1" cx="15" cy="25" r="12"/>
		          <circle fill="#F7D975" cx="15" cy="25" r="5"/>
		        </svg>
		        <svg class="circle2">
		          <path d="M15 0 V13" stroke="#F7D975"/>
		          <circle fill="white" stroke="#F7D975" stroke-width="1" cx="15" cy="25" r="12"/>
		          <circle fill="#F7D975" cx="15" cy="25" r="5"/>
		        </svg>
		      </div>
	    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/spring">
	    <div class="m">
	      <p data-key="2" class="none-op">2</p>
	      <p class="op">春酒</p>
	      <div class="circles">
	        <svg class="circle-no">
          		<circle fill="grey" cx="15" cy="25" r="5"/>
        	</svg>
	        <svg class="circle2">
	          <path d="M15 0 V13" stroke="#ED8F8F"/>
	          <circle fill="white" stroke="#ED8F8F" stroke-width="1" cx="15" cy="25" r="12"/>
	          <circle fill="#ED8F8F" cx="15" cy="25" r="5"/>
	        </svg>
	      </div>
	    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/careers">
    <div class="m">
      <p data-key="3" class="none-op">3</p>
      <p class="op">職涯</p> 
      <div class="circles">
        <svg class="circle-no">
          <circle fill="grey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#8FBEED"/>
          <circle fill="white" stroke="#8FBEED" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#8FBEED" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/new">
    <div class="m">
      <p data-key="4" class="none-op">4</p>
      <p class="op">招生</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="grey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#9EE5CF"/>
          <circle fill="white" stroke="#9EE5CF" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#9EE5CF" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/overseaVisit">
    <div class="m">
      <p data-key="5" class="none-op">5</p>
      <p class="op">海參</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="grey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#A3E3F2"/>
          <circle fill="white" stroke="#A3E3F2" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#A3E3F2" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
    <div class="n">
      <div></div>
    </div>
    <a href="/end">
    <div class="m">
      <p data-key="6" class="none-op">6</p>
      <p class="op">結業</p>
      <div class="circles">
        <svg class="circle-no">
          <circle fill="grey" cx="15" cy="25" r="5"/>
        </svg>
        <svg class="circle2">
          <path d="M15 0 V13" stroke="#FFAF8B"/>
          <circle fill="white" stroke="#FFAF8B" stroke-width="1" cx="15" cy="25" r="12"/>
          <circle fill="#FFAF8B" cx="15" cy="25" r="5"/>
        </svg>
      </div>
    </div>
    </a>
  </div>
<script src="/js/specifies/frontend/sixproject.js"></script>

<div class="six-hg-title">
  <div class="six-hg-tit tuv">
      <span>01.TUV專案</span>
  </div>
  <div class="six-hg-le tuv">
      <span>「用心發現價值，以行動回饋社會。」</span>
  </div>
</div>
<div>
  <div class="program-4-title">
      <div>
        <span class="tuv-border">-專案宗旨-</span>
      </div>
  </div>
  <div class="text-xs-center project-content-style">
    <p>專案全名 — Top Up the Value。</p>
    <p>作為加入資種的第一個專案，提升學員整體規劃的思考脈絡及專案執行力，</p>
    <p>透過 Mentor制度讓每位夥伴感受到資種的大家庭意識，</p>
    <p>更期待讓每位小種子們相信自己擁有無限的力量，探索生活中蘊含的各種可能性。</p>
    <p>透過發想企劃並實際執行，相互協助一同讓彼此相信的價值最大化！</p>
  </div>
<!--   <div class="program-4-title">
    <div>
      <span class="tuv-border">-我們要做的是-</span>
    </div>
  </div>
  <div class="tuv-bg" style="height: 200px; margin-top:50px;">

  </div> 
   -->
  <div class="program-4-title">
    <div>
      <span class="tuv-border">-專案內容-</span>
    </div>
  </div>
<!--   <div class="six-pro-circle">
    <div class="tuv-bg">冷光</div>
    <div class="tuv-bg">成語劇</div>  
    <div class="tuv-bg">樂團</div>
    <div class="tuv-bg">舞蹈</div>
    <div class="tuv-bg">戲劇</div>
  </div>-->
  <div class="text-xs-center project-content-style">
    <p>從性別、教育、食農、銀髮與交通五大領域找出待解決的問題，</p>
    <p>在有限的時間與資源下，和同組的夥伴齊心透過社會創新的方式，</p>
    <p>培養思考脈絡，突破現有思維，並融入資訊、科技等方式，</p>
    <p>設計出一個可行的解決方案，實際執行並嘗試推廣其價值理念。</p>
  </div>
  <img src="/images/projects/project.png" class="project-last-pic" alt="">
</div>

<% include ../footer %>