<% include ../header %>

<section class="section-tuv">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>TUV專案</h1>
    <h2 class="sub-title double-line">「探索自身與生活中的各種可能性，藉由團隊協作將價值最大化」</h2>
  </div>

  <div class="six-project-container">
    <h3>專案宗旨</h3>
    <div class="content">
      <p>
        專案全名 — Top Up the Value<br>
        作為加入資種的第一個專案，提升學員整體規劃的思考脈絡及專案執行力，
        透過 Mentor制度讓每位夥伴感受到資種的大家庭意識，
        更期待讓每位小種子們相信自己擁有無限的力量，探索生活中蘊含的各種可能性，
        從發想企劃到實際執行，相互協助一同讓彼此相信的價值最大化！
      </p>
    </div>
    <h3>專案內容</h3>
    <div class="content">
      <p>
        從生活中感觸最深的社會議題找出待解決的問題，
        在有限的時間與資源下，和同組的夥伴齊心透過社會創新的方式，
        突破舊有思維，融入資訊、科技、人脈，並結合各大組織的資源，
        設計出一個可行的解決方案，實際執行並推廣其價值理念。
      </p>
    </div>
    <h3>成果展現</h3>
    <img class="padding-48" src="/images/projects/sixproject-tuv1.jpeg"></img>
    <h3 class="no-border">
       專案介紹 《浪浪回家吧》
    </h3>
    <div class="content">
      　　「零安樂死」導致收容所面臨飽和的狀態，疾病傳染及動物間攻擊受傷的情形增加，導致所內動物死亡率上升。此政策的推動，讓零安樂死變成「無期徒刑」，唯有「不棄養」及「認養代替購買」的觀念深植心中，才是根本的解決之道。 
　　專案團隊製作一部以第一人稱角度，呈現流浪狗流心境的微電影「浪浪回家吧」，以及RPG 遊戲「帶金奇遇記」呈現狗狗在街頭寫實的情景，最後設計提供領養管道及相關知識的遊戲「GoCha Dog」，讓民眾可以重視這個議題，並主動關懷流浪動物，向他人推動「領養，不棄養」，共同協助流浪狗找到真正的家。
    </div>
    <h3 class="no-border">
       學員心得 《浪浪回家吧》政治大學 資訊管理學系 三年級 陳莉羚 
    </h3>
    <div class="content">
  　　「浪浪回家吧」這個議題的初衷是希望可以讓流浪狗脫離冰冷的街道、擁擠環境不佳的收容所，找到溫暖的家。 一開始團隊苦惱著該如何為這個議題達到高效益，遇到很多的問題，導致永遠都在鬼打牆，找不到執行的方案。還好組員們鬼靈精怪，想法總能互相迸出許多特別有趣的火花。
    </div>
  　　<div class="content">
       &emsp; &emsp;在這專案，我學習到如何用有效率的方式與組員溝通，並執行專案管理，學習如何找出民眾痛點並剪輯影片，設計良好的使用者流程與劇情來製作遊戲，甚至是透過文案與設計，讓更多民眾可以了解零安樂死政策造成的影響，去關心浪浪的世界，共同協助流浪狗找到真正的家。專案邁向尾聲，我想在心中烙印的不是成果，取而代之的是不捨的心情，是與組員們相處的過程與感情。
      </div>
      
  </div>
</section>

<% include ../footer %>