<% include ../header %>

<section class="section-tuv">
  <% include ./sub-nav %>
  <div class="main-title-div">
    <div class="line-and-circle">
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <h1>報名系統尚未開啟，請等到6/1在開始報名</h1>
    <h2 class="sub-title double-line"></h2>
  </div>

  
</section>

<% include ../footer %>