<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userFiles.js"></script>

<!--HEADER-->
<% include ../header %>

<!--END HEADER-->
<section class="section-files" id="files">
	<% include ../pages/checkFile %>
	<div class="container">
		<div class="sub-title clearfix">
			<div></div>
			<div></div>
			<div></div>
			<div>檔案上傳</div>
		</div>
		<div class="row col-md-10 col-md-offset-1" style="margin-top: 5vh;">
			<label for="autobiography" class="col-sm-2 col-xs-12">個人履歷：</label>
			<div class="col-sm-8 col-xs-12">
				<form action="/uploadAut" method="post" enctype="multipart/form-data">
				<p class="formatInfo">
					最新版本:
					<%
						if(files.autobiographyUT == null)
							files.autobiographyUT = "";

						if(files.autobiography == null)
							var url = "";
						else{
							var url = files.autobiography;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%>
					<a href="<%= files.autobiography %>"><%= url %></a>

				<input type="file" name="autobiography">
				<button type="button" class="btn btn-default">選擇檔案</button>
				<button type="submit" style="color:white;" class="btn btn-purple">上傳</button>

				</p>
				
					<div class="applicant-file">
					<div>
						請以<b class="red">「pdf」</b>上傳限制大小為<b class="red"> 5MB</b><br>
					</div>
					<div>
						內容<br>
						1. 一頁以內<br>
						2. 建議內含：姓名、學歷、經歷、專長能力，及其他有利審查資料
					</div>
				

						
						檔案命名規則<b>「姓名_個人履歷」</b>。<br>
						(如：報名者 陳資種，則將檔案命名為
						<b>「陳資種_個人履歷」</b>)。
						<br><br>
						上傳方式：點選「選擇檔案」，完成選取檔案後，點選「上傳」<br>
						※ 可以重複上傳檔案<br>

					</div>

				</form>
				
			</div>
		</div>

		<div class="row col-md-10 col-md-offset-1">
			<label for="registration" class="col-sm-2 col-xs-12">學生證明：</label>
			<div class="col-sm-8 col-xs-12">
				<form action="/uploadReg" method="post" enctype="multipart/form-data">
				<p class="formatInfo">
					最新版本:
					<%
						if(files.registrationUT == null)
							files.registrationUT = "";

						if(files.registration == null)
							var url = "";
						else{
							var url = files.registration;
							var start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
							start = url.search("/") + 1;
							url = url.slice(start);
						}
					%>
					
					<a href="<%= files.registration %>"><%= url %></a>

				<input type="file" name="registration">
				<button type="button" class="btn btn-default">選擇檔案</button>
				<button type="submit" style="color:white;" class="btn btn-purple">上傳</button>					
				</p>
				
					<div class="applicant-file">
					<div>
						請以<b class="red">「pdf」</b>上傳限制大小為<b class="red"> 5MB</b><br>
					</div>
					<div>
						內容<br>
						1. 學生證正反面影本或照片、研究所錄取證明書影本或照片<br>
					</div>
				
						
						檔案命名規則<b>「姓名_學生證明」</b>。<br>
						(如：報名者 陳資種，則將檔案命名為
						<b>「陳資種_學生證明」</b>)。
						<br><br>
						上傳方式：點選「選擇檔案」，完成選取檔案後，點選「上傳」<br>
						※ 可以重複上傳檔案<br>

					</div>

				</form>
			</div>
		</div>
			<div class="col-xs-12 confirm-btn">
				<div class="text-xs-center">
					<button onclick="window.location.href='/profile'" class="btn-lg btn-default">上一步</button>
					<button onclick="window.location.href='/finish'" class="btn-lg btn-default">下一步</button>
				</div>
			</div>

	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
