<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="bg-white" id="disc">
	<div class="container">
		<div class="row col-md-10 col-md-offset-1">
			<ul class="nav nav-tabs">
				<li><a href="/profile">個人資料</a></li>
				<li class="active"><a href="/disc">DISC測驗</a></li>
				<li><a href="/files">書審資料</a></li>
			</ul>
		</div>
		<div class="row col-md-10 col-md-offset-1">
			<form action="/editDISC" method="post" class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-2 text-right">1.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q1" value="1" required="">走路較慢
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q1" value="2" required="">走路較快
					</label>				
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">2.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q2" value="1" required="">說話聲音比較輕柔
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q2" value="2" required="">說話聲音比較快而且響亮
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">3.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q3" value="1" required="">提意見時習慣用試探的語氣
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q3" value="2" required="">提意見時直接表達要求
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">4.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q4" value="1" required="">習慣用不確定的語氣
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q4" value="2" required="">習慣用確定的語氣
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">5.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q5" value="1" required="">比較正式
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q5" value="2" required="">不拘小節
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">6.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q6" value="1" required="">做事情有考慮再三的習慣
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q6" value="2" required="">想到立即去做
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">7.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q7" value="1" required="">眼神比較不與人正面接觸
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q7" value="2" required="">眼神比較敢與人正面接觸
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">8.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q8" value="1" required="">人際交往屬於被動型
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q8" value="2" required="">人際交往屬於主動型
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">9.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q9" value="1" required="">喜歡傾聽
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q9" value="2" required="">習慣主導說話
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">10.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q10" value="1" required="">思考較久
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q10" value="2" required="">果斷乾脆
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">11.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q11" value="1" required="">喜歡穩定，重視安全感
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q11" value="2" required="">喜歡冒險
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">12.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q12" value="1" required="">注重細節
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q12" value="2" required="">大而化之
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">13.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q13" value="1" required="">不會催促別人做決定
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q13" value="2" required="">會催促別人做決定
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">14.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q14" value="1" required="">比較嚴肅
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q14" value="2" required="">愛開玩笑
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">15.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q15" value="1" required="">做決定時理性、果斷
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q15" value="2" required="">做決定時常會猶豫不決，考量甚多

					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">16.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q16" value="1" required="">比較在乎事情對錯
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q16" value="2" required="">比較在乎對方的感覺
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">17.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q17" value="1" required="">比較在乎事情是否完成
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q17" value="2" required="">比較在乎工作環境的氣氛
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">18.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q18" value="1" required="">比較不喜歡與人閒聊
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q18" value="2" required="">比較喜歡與人閒聊
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">19.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q19" value="1" required="">休閒時穿著正式
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q19" value="2" required="">休閒時穿著輕鬆
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">20.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q20" value="1" required="">比較能控制感情的流露
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q20" value="2" required="">比較喜歡自然的流露感情
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">21.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q21" value="1" required="">正經、一板一眼
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q21" value="2" required="">親切、隨和
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">22.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q22" value="1" required="">懂得時間管理
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q22" value="2" required="">比較不會支配時間
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">23.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q23" value="1" required="">說話有條理
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q23" value="2" required="">說話比較隨性
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">24.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q24" value="1" required="">比較會精打細算
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q24" value="2" required="">比較不會精打細算
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">25.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q25" value="1" required="">做事情會先作計劃，按部就班
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q25" value="2" required="">想到做什麼就做什麼
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-2 text-right">26.</label>
					<label class="col-sm-5 col-xs-10">
						<input type="radio" name="q26" value="1" required="">比較獨自管理
					</label>
					<label class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-2">
						<input type="radio" name="q26" value="2" required="">比較樂於助人
					</label>
				</div>
				<div class="text-center">
					<hr>
					<button type="button" class="btn-lg btn-green">完成測驗</button>
				</div>
			</form>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
