<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userDisc.js"></script>

<!--HEADER-->
<% include ../header %>
<!--END HEADER-->


<section class="section-disc bg-white" id="disc">
	<% include ../pages/checkFile %>
	<div class="container disc-contain">
		<div class="sub-title clearfix">
			<div></div>
			<div></div>
			<div></div>
			<div>DISC 測驗</div>
		</div>		
		<% if( disc !=undefined ) {%>
		<% if( disc.finished == 1 ) {%>
		<div class="row col-md-10 col-md-offset-1 box1" style="font-size: 13pt;">
			<p style="text-align: center;">
				<span>本篇提供的四型人格分析，都是有心理學依據並被各大企業廣泛採納的。<br>透過此測驗，你可以更加了解你的行為方式、團隊合作、領導方式等。</span>
			</p>

		</div>
			<div class="rrow col-md-6 col-md-offset-1 DiscResutBoxAll" style="padding-left:4%">
				<p style="font-size: 36pt;color:black;">DISC測驗結果</p><hr class="linestyle" />
				<p style="font-size: 36px;"><%= disc.animal %></p>

				<%if(disc.animal=='無尾熊'){%>
				<p>(Steadiness，123型)</p>
			<div class="DiscResutBoxAll2">
				<div class="DiscResultBox1"><img src="https://case.ntu.edu.tw/blog/wp-content/uploads/2018/08/pic.jpg" class="Discimg"></div>
				<div class="DiscResultBox2">「具備高度耐心、敦厚隨和，行事冷靜自持，處變不驚的能力」，適宜當安定內
                    部的工作，在需要專業精密技巧的領域，或在氣氛和諧且不具趕迫時間表等的職
                    場環境中，他們最能發揮所長。</div>
            </div>

              <p class="roleman">資種十五屆代表人物：職涯專案召部</p>
              <div class="DiscResultBox3">　一步一腳印完成手邊所接到的任務，能冷靜地處理專案的內容、並且在團隊當中，能
                夠「長期」支援夥伴間的的合作，幫助團隊更快度過磨合期，仔細傾聽中每位夥伴的
                心聲、令專案能進行得更順利。
              </div>



				<% }%>
				<%if(disc.animal=='老虎'){%>
				<p>(Steadiness，123型)</p>
			<div class="DiscResutBoxAll2">
				<div class="DiscResultBox1"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1WAacGFK51quvnm1W0-thgkzbkTHbDVS_7LQJP1psNHtF3mQz" class="Discimg"></div>
				<div class="DiscResultBox2">「具備高支配型特質，競爭力強、好勝心盛，積極自信，是個有決斷力的組織者」。老虎型的人，胸懷大志、勇於冒險、分析敏銳，主動積極且具極為強烈的企圖心，只要認定目標就勇往直前，不畏反抗與攻訐，誓要取得標的物。</div>
			</div>


              <p class="roleman">資種十五屆代表人物：招生專案召部</p>
              <div class="DiscResultBox3">常常會帶領大家向前衝，會仔細觀察生活周遭事物，及探索市場可能性與開發機會， 在團隊溝通時也會積極的說出自己心中的意見，幫助專案順利地執行，且帶有強烈的 責任感，領導大家一起達到理想的目標，通常會團隊中的提振默契的核心人物。
              </div>

				<% }%>


				<%if(disc.animal=='孔雀'){%>
				<p>(Steadiness，123型)</p>
			<div class="DiscResutBoxAll2">
				<div class="DiscResultBox1"><img src="http://www.tanews.org.tw/sites/default/files/imce/admin/user39253/0620-4.jpg" class="Discimg"></div>
				<div class="DiscResultBox2">「具備樂觀與和善的性格，有真誠的同理心（Empathy）和感染他人的能力」 都是具有高度表達能力的人。他們的社交能力極強，有流暢無礙的口才和熱情幽默的風度，在團體或社群中容易廣結善緣。</div>
			</div>

              <p class="roleman">資種十五屆代表人物：幹部團隊</p>
              <div class="DiscResultBox3">常常會關心學員的狀況，喜歡與他人互動與學長姊交流，願意分享自己的內心話，在 團隊合作當中通常為協調者，仔細觀察組員彼此近況並給予鼓勵，此外在簡報與主持 活動上都能維持自己的風格，不易怯場，對自己對專案內容都非常有想法。
              </div>

				<% }%>


				<%if(disc.animal=='貓頭鷹'){%>
				<p>(Steadiness，123型)</p>
			<div class="DiscResutBoxAll2">
				<div class="DiscResultBox1"><img src="https://img.ltn.com.tw/Upload/liveNews/BigPic/600_phpfkXuM2.jpg" class="Discimg"></div>
				<div class="DiscResultBox2">「具備性格內歛特質、善於和數字溝通，行事講究條理分明、守紀律重承諾」 他們重視架構、事事求據，會將細節條例化，事事檢查以求正確無誤，追求一切 照章辦事的態度和求取完美的精神」</div>
			</div>


              <p class="roleman">資種十五屆代表人物：結業專案召部</p>
              <div class="DiscResultBox3">對於事物的看法非常理性，有時會幫助夥伴解決疑難雜症，此外，也能夠巧妙掌握專 案的時程與執行，並且能設想許多方案處理專案執行上的例外狀況，並會主動督促其 他夥伴的工作進度是否有達預期目標，能按夠部就班的完成工作，是一個非常注意細 節、有研究精神的角色。
              </div>

				<% }%>
				<div class="DiscResultBox3">「不滿意這個結果嗎？沒關係！這個結果會隨著時間以及每個人的成長而改變，歡迎你加入資種使自己學習成為善於在不同角色間轉換的『變色龍』，在任何情況下都能夠游刃有餘。」</div>
				<button onclick="window.location.href='/profile'" class="turnbtn">前往下個階段</button>
			</div>
		<% }else {%>

		<div class="row col-md-10 col-md-offset-1 box1" style="font-size: 13pt;">
			<p style="text-align: center;"><span><!-- DISC個性測驗是國外企業廣泛應用的一種人格測驗，我們期望透過這個測驗幫助你更加了解自己的行為方式、團隊合作、領導方式等等。 -->本篇提供的四型人格分析，都是有心理學依據並被各大企業廣泛採納的。<br>透過此測驗，你可以更加了解你的行為方式、團隊合作、領導方式等。</span></p>
			<!-- &emsp;&emsp;<span>此測驗<b>不影響徵選結果</b>，請選擇一個比較符合你人格特質的敘述，不需要太多思考，憑直覺就可以了！</span>
			<br></br> -->
		</div>
		<!-- <br></br><br></br><br></br><br> -->
		<div class=" row" id="start0">
		<div class="row col-md-6 col-md-offset-1 box2" style="padding-left: 4%">
			
			<p style="font-size: 28pt;color:black;">DISC</p><hr class="linestyle" /><span style="color: black;">此測驗<b>不影響徵選結果</b>，<br>請選擇一個比較符合你人格特質的敘述，<br>不需要太多思考，憑直覺就可以了！</span><br>
			<button class="turnbtn" id="turnbtn0">立即開始</button>	
		</div>
			
		</div>

		
			<form action="/editDisc" method="post" class="form-horizontal">
				<!-- 1 -->
				<div class=" row " id="start1" style="display: none;">
				<div class="row col-md-6 col-md-offset-1 box2" >
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question 1/10</span>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在同事（同學）眼中您是一位？</p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11">
					<% if (disc.q1 == 1) { %>
						<input type="radio" name="q1" value="1" required="" checked>積極、熱情、有行動力的人。
					<% } else { %>
						<input type="radio" name="q1" value="1" id="q1-1" required=""><label for="q1-1">積極、熱情、有行動力的人。</label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11  col-xs-11 ">
					<% if (disc.q1 == 2) { %>
						<input type="radio" name="q1" value="2" required="" checked>活潑、開朗、風趣幽默的人。 
					<% } else { %>
						<input type="radio" name="q1" value="2" id="q1-2" required=""><label for="q1-2">活潑、開朗、風趣幽默的人。</label> 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-10 ">
					<% if (disc.q1 == 3) { %>
						<input type="radio" name="q1" value="3" required="" checked>忠誠、隨和、容易相處的人。
					<% } else { %>
						<input type="radio" name="q1" value="3" id="q1-3" required=""><label for="q1-3">忠誠、隨和、容易相處的人。</label>
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q1 == 4) { %>
						<input type="radio" name="q1" value="4" required="" checked>謹慎、冷靜、注意細節的人。 

					<% } else { %>
						<input type="radio" name="q1" value="4" id="q1-4" required=""><label for="q1-4">謹慎、冷靜、注意細節的人。</label> 

					<% } %>
					</label>
					<!-- <button class="turnbtn" id="turnbtn1">Next</button>	 -->
					<input type="button" value="NEXT" id="turnbtn1">			
				</div>
				</div>
				<!-- <div class=" row">
				<div  class="col-sm-12 col-md-12 col-xs-12 "></div> -->
				<!-- 2 -->
				<div class=" row " id="start2" style="display: none;">
				<div class="row col-md-6 col-md-offset-1 box2 " > 
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question 2/10</span>
					<p>您喜歡看哪一類型的雜誌？  </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q2 == 1) { %>
						<input type="radio" name="q2" value="1" required="" checked>管理、財經、趨勢類。
					<% } else { %>
						<input type="radio" name="q2" value="1" id="q2-1" required=""><label for="q2-1">管理、財經、趨勢類。</label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q2 == 2) { %>
						<input type="radio" name="q2" value="2" required="" checked>旅遊、美食、時尚類。 
					<% } else { %>
						<input type="radio" name="q2" value="2" id="q2-2" required=""><label for="q2-2">旅遊、美食、時尚類。 </label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q2 == 3) { %>
						<input type="radio" name="q2" value="3" required="" checked>心靈、散文、家庭類。
					<% } else { %>
						<input type="radio" name="q2" value="3" id="q2-3" required=""><label for="q2-3">心靈、散文、家庭類。</label>
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q2 == 4) { %>
						<input type="radio" name="q2" value="4" required="" checked>科技、專業、藝術類。 

					<% } else { %>
						<input type="radio" name="q2" value="4" id="q2-4" required=""><label for="q2-4">科技、專業、藝術類。</label> 

					<% } %>
					</label>		
					<input type="button" value="NEXT" id="turnbtn2">				
				</div>
				</div>
				<!-- <div class=" row">
				<div  class="col-sm-12 col-md-12 col-xs-12 "></div> -->

				<!-- 3 -->

				<div class=" row  " id="start3" style="display: none;">
				<div class="row col-md-6 col-md-offset-1 box2 " >
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question 3/10</span>
					<p>您做決策的方式？ </p>
					<label class="col-sm-1 "></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q3 == 1) { %>
						<input type="radio" name="q3" value="1" required="" checked>希望能立即有效。
					<% } else { %>
						<input type="radio" name="q3" value="1" id="q3-1" required=""><label for="q3-1">希望能立即有效。 </label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q3 == 2) { %>
						<input type="radio" name="q3" value="2" required="" checked>感覺重於一切。 
					<% } else { %>
						<input type="radio" name="q3" value="2" id="q3-2" required=""><label for="q3-2">感覺重於一切。 </label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q3 == 3) { %>
						<input type="radio" name="q3" value="3" required="" checked>有一定的消費習慣，不太喜歡變化。
					<% } else { %>
						<input type="radio" name="q3" value="3" id="q3-3" required=""><label for="q3-3">有一定的消費習慣，不太喜歡變化。</label>
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q3 == 4) { %>
						<input type="radio" name="q3" value="4" required="" checked>較注意東西好不好，較有成本觀念。
					<% } else { %>
						<input type="radio" name="q3" value="4" id="q3-4" required=""><label for="q3-4">較注意東西好不好，較有成本觀念。</label>
					<% } %>
					</label>			
					<input type="button" value="NEXT" id="turnbtn3">			
				</div>
				</div>

				<!-- 4 -->

				<div class=" row " id="start4" style="display: none;">
				<div class="row col-md-6 col-md-offset-1 box2 " >
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question 4/10</span>
					<p>職務上哪種工作是我最擅長的？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q4 == 1) { %>
						<input type="radio" name="q4" value="1" required="" checked>以目標為導向，有不服輸的精神。
					<% } else { %>
						<input type="radio" name="q4" value="1" id="q4-1" required=""><label for="q4-1">以目標為導向，有不服輸的精神。</label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q4 == 2) { %>
						<input type="radio" name="q4" value="2" required="" checked>良好的口才，能主動的與人建立友善關係。
					<% } else { %>
						<input type="radio" name="q4" value="2" id="q4-2" required=""><label for="q4-2">良好的口才，能主動的與人建立友善關係。</label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q4 == 3) { %>
						<input type="radio" name="q4" value="3" required="" checked>能配合團隊，扮演忠誠的擁護者。
					<% } else { %>
						<input type="radio" name="q4" value="3" id="q4-3" required=""><label for="q4-3">能配合團隊，扮演忠誠的擁護者。</label>
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q3 == 4) { %>
						<input type="radio" name="q4" value="4" required="" checked>流程的掌握，注意到細節。
					<% } else { %>
						<input type="radio" name="q4" value="4" id="q4-4" required=""><label for="q4-4">流程的掌握，注意到細節。</label>
					<% } %>
					</label>			
					<input type="button" value="NEXT" id="turnbtn4">			
				</div>
				</div>

				<!-- 5 -->

				<div class=" row " id="start5" style="display: none;">
				<div class="row col-md-6 col-md-offset-1 box2 " >
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question 5/10</span>
					<p>當面對壓力時，您會？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q5 == 1) { %>
						<input type="radio" name="q5" value="1" required="" checked>用行動力去面對它，並且克服它。
					<% } else { %>
						<input type="radio" name="q5" value="1" id="q5-1" required=""><label for="q5-1">用行動力去面對它，並且克服它。</label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q5 == 2) { %>
						<input type="radio" name="q5" value="2" required="" checked>希望找人傾吐，獲得認同。
					<% } else { %>
						<input type="radio" name="q5" value="2" id="q5-2" required=""><label for="q5-2">希望找人傾吐，獲得認同。</label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q5 == 3) { %>
						<input type="radio" name="q5" value="3" required="" checked>逆來順受，儘量避免衝突。
					<% } else { %>
						<input type="radio" name="q5" value="3" id="q5-3" required=""><label for="q5-3">逆來順受，儘量避免衝突。</label>
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q5 == 4) { %>
						<input type="radio" name="q5" value="4" required="" checked>重新思考緣由，必要時做精細的解說。 

					<% } else { %>
						<input type="radio" name="q5" value="4" id="q5-4" required=""><label for="q5-4">重新思考緣由，必要時做精細的解說。 </label>

					<% } %>
					</label>			
					<input type="button" value="NEXT" id="turnbtn5">			
				</div>
				</div>

				<!-- 6 -->

				<div class=" row " id="start6" style="display: none;">
				<div class="row col-md-6 col-md-offset-1 box2 " >
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question 6/10</span>
					<p>與同事（同學）之間的相處？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q6 == 1) { %>
						<input type="radio" name="q6" value="1" required="" checked>以公事為主，很少談到個人生活。
					<% } else { %>
						<input type="radio" name="q6" value="1" id="q6-1" required=""><label for="q6-1">以公事為主，很少談到個人生活。</label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q6 == 2) { %>
						<input type="radio" name="q6" value="2" required="" checked>重視氣氛，能夠帶動團隊情趣。 

					<% } else { %>
						<input type="radio" name="q6" value="2" id="q6-2" required=""><label for="q6-2">重視氣氛，能夠帶動團隊情趣。</label> 

					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q6 == 3) { %>
						<input type="radio" name="q6" value="3" required="" checked>良好的傾聽者，對人態度溫和友善。
					<% } else { %>
						<input type="radio" name="q6" value="3" id="q6-3" required=""><label for="q6-3">良好的傾聽者，對人態度溫和友善。</label>
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q6 == 4) { %>
						<input type="radio" name="q6" value="4" required="" checked>被動，不會主動與人建立關係。 
					<% } else { %>
						<input type="radio" name="q6" value="4" id="q6-4" required=""><label for="q6-4">被動，不會主動與人建立關係。</label> 
					<% } %>
					</label>				
					<input type="button" value="NEXT" id="turnbtn6">		
				</div>
				</div>


				<!-- 7 -->

				<div class=" row " id="start7" style="display: none;">
				<div class="row col-md-6 col-md-offset-1 box2" >
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question 7/10</span>
					<p>您希望別人如何與您溝通？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q7 == 1) { %>
						<input type="radio" name="q7" value="1" required="" checked>直接講重點，不要拐彎抹角。 
					<% } else { %>
						<input type="radio" name="q7" value="1" id="q7-1" required=""><label for="q7-1">直接講重點，不要拐彎抹角。 </label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q7 == 2) { %>
						<input type="radio" name="q7" value="2" required="" checked>輕鬆，不要太嚴肅。 

					<% } else { %>
						<input type="radio" name="q7" value="2" id="q7-2" required=""><label for="q7-2">輕鬆，不要太嚴肅。 </label>

					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q7 == 3) { %>
						<input type="radio" name="q7" value="3" required="" checked>不要一次說太多，要給予明確的支持。
					<% } else { %>
						<input type="radio" name="q7" value="3" id="q7-3" required=""><label for="q7-3">不要一次說太多，要給予明確的支持。</label>
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q7 == 4) { %>
						<input type="radio" name="q7" value="4" required="" checked>凡是說清楚，講明白。 

					<% } else { %>
						<input type="radio" name="q7" value="4" id="q7-4" required=""><label for="q7-4">凡是說清楚，講明白。</label> 

					<% } %>
					</label>			
					<input type="button" value="NEXT" id="turnbtn7">			
				</div>
				</div>

				<!-- 8 -->

				<div class=" row " id="start8" style="display: none;">
				<div class="row col-md-6 col-md-offset-1 box2" >
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question 8/10</span>
					<p>要完成一件事情時，您最在意的部份是？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q8 == 1) { %>
						<input type="radio" name="q8" value="1" required="" checked>效果是否有達到。
					<% } else { %>
						<input type="radio" name="q8" value="1" id="q8-1" required=""><label for="q8-1">效果是否有達到。</label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q8 == 2) { %>
						<input type="radio" name="q8" value="2" required="" checked>過程是否快樂。
					<% } else { %>
						<input type="radio" name="q8" value="2" id="q8-2" required=""><label for="q8-2">過程是否快樂。</label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q8 == 3) { %>
						<input type="radio" name="q8" value="3" required="" checked>前後是否有改變。 

					<% } else { %>
						<input type="radio" name="q8" value="3" id="q8-3" required=""><label for="q8-3">前後是否有改變。</label> 

					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q8 == 4) { %>
						<input type="radio" name="q8" value="4" required="" checked>流程是否正確。 

					<% } else { %>
						<input type="radio" name="q8" value="4" id="q8-4" required=""><label for="q8-4">流程是否正確。 </label>

					<% } %>
					</label>		
					<input type="button" value="NEXT" id="turnbtn8">				
				</div>
				</div>

				<!-- 9 -->

				<div class=" row " id="start9" style="display: none;">
				<div class="row col-md-6 col-md-offset-1 box2" >
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question 9/10</span>
					<p>什麼事情會讓您恐懼？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q9 == 1) { %>
						<input type="radio" name="q9" value="1" required="" checked>呈現弱點，被人利用。 
					<% } else { %>
						<input type="radio" name="q9" value="1" id="q9-1" required=""><label for="q9-1">呈現弱點，被人利用。</label> 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q9 == 2) { %>
						<input type="radio" name="q9" value="2" required="" checked>失去認同，被人排擠。
					<% } else { %>
						<input type="radio" name="q9" value="2" id="q9-2" required=""><label for="q9-2">失去認同，被人排擠。</label>
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q9 == 3) { %>
						<input type="radio" name="q9" value="3" required="" checked>過度變動，讓人無所適從。
					<% } else { %>
						<input type="radio" name="q9" value="3" id="q9-3" required=""><label for="q9-3">過度變動，讓人無所適從。</label>
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q9 == 4) { %>
						<input type="radio" name="q9" value="4" required="" checked>制度不清，標準不一。 

					<% } else { %>
						<input type="radio" name="q9" value="4" id="q9-4" required=""><label for="q9-4">制度不清，標準不一。</label> 

					<% } %>
					</label>			
					<input type="button" value="NEXT" id="turnbtn9">			
				</div>
				</div>

				<!-- 10 -->

				<div class=" row " id="start10" style="display: none;">
				<div class="row col-md-6 col-md-offset-1 box2" >
					<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question 10/10</span>
					<p>哪些是您自覺的缺點？</p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q10 == 1) { %>
						<input type="radio" name="q10" value="1" required="" checked>沒有耐心。 
					<% } else { %>
						<input type="radio" name="q10" value="1" id="q10-1" required=""><label for="q10-1">沒有耐心。</label> 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q10 == 2) { %>
						<input type="radio" name="q10" value="2" required="" checked>欠缺細心。 
					<% } else { %>
						<input type="radio" name="q10" value="2" id="q10-2" required=""><label for="q10-2">欠缺細心。</label> 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q10 == 3) { %>
						<input type="radio" name="q10" value="3" required="" checked>沒有主見。 
					<% } else { %>
						<input type="radio" name="q10" value="3" id="q10-3" required=""><label for="q10-3">沒有主見。 </label>
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q10 == 4) { %>
						<input type="radio" name="q10" value="4" required="" checked>欠缺風趣。
					<% } else { %>
						<input type="radio" name="q10" value="4" id="q10-4" required=""><label for="q10-4">欠缺風趣。</label>
					<% } %>
					</label>
					<div class="text-center" style="padding-left: 10%">
					<hr>
					<button type="submit" class="turnbtn" onclick="discF()">結束測驗並查看結果</button>
					<script type="text/javascript">
						function discF(){
							confirm("若確定完成，請按下確認鍵");
						}
					</script>
				</div>					
				</div>
				</div>

				
			</form>
		<% } %>
		<% } else { %>
			<div class="row col-xs-12" style="text-align: center;">
				<p>DISC測驗系統異常，請私訊
				<a href="https://www.facebook.com/iloveitseed/?fref=ts" target="_blank">
					粉絲專頁
				</a>
				</p>	
			</div>
		<% } %>
	</div>
	<% if( disc.finished == 1 ) {%>
		<% include ./discResult %>
	<% } %>
</section>
<style type="text/css">
	.box1 {
  		margin-top: 2%;
	  	background-color: #BBD4DB;
	  	padding-top: 2%;
	  	padding-bottom: 2%;
	}
	.box2{
		margin-top: 6%;
		margin-bottom: 6%;
		margin-left: 24.9%;
		border: 1px solid #394B7A;
		border-radius: 12px;
		padding-top: 3.5%;
		padding-bottom: 3.5%;
		padding-right: 3.7%;
		box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.50);
		border-radius: 23.5px;
		font-size: 18pt;
		text-align: center;
		background: #FFFFFF;
		/*padding-left: 4%;*/
		/*width: 660px;
		height: 476px;*/
	}

	.box2 input[type="radio"]{
		display: none;
	}
	.box2 input[type="radio"]+label{
		border: 1px solid #394B7A;
		border-radius: 24.5px;
		width: 459px;
		height: 49px;
		font-size: 22px;
		font-family: PingFangTC-Regular;
	}
	.box2 input[type="radio"]:checked+label{
		background: #475882;
		color: #FFFFFF;
	}
	
	.box2>span{
		color: #144989;
		font-size: 22px;
		font-family: PingFangTC-Regular;
	}
	.box2 input[type="button"]{
		border: 1px solid #394B7A;
		border-radius: 24.5px;
		font-family: PingFangTC-Regular;
		font-size: 20px;
		color: #000000;
		text-align: center;
		width:86px;
		height: 35px;
		margin-top: 5%;
		margin-left:10%;
		padding-bottom: 7.5%;
	}
	.turnbtn{
		border: 1px solid #394B7A;
		border-radius: 24.5px;
		font-family: PingFangTC-Regular;
		font-size: 20px;
		color: #000000;
		text-align: center;
		width:459px;
		height: 49px;
		margin-top: 5%;
	}
	.box2 input[type="button"]:hover,input[type="radio"]+label:hover,button:hover{
		background-color: #475882;
		color: #FFFFFF;
	}
	/*包起整個結果*/
	.DiscResutBoxAll{
		margin-top: 6%;
		margin-bottom: 6%;
		margin-left: 24.9%;
		border: 1px solid #394B7A;
		border-radius: 12px;
		padding-top: 3.5%;
		padding-bottom: 3.5%;
		padding-right: 3.7%;
		box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.50);
		border-radius: 23.5px;
		text-align: center;
		background: #FFFFFF;
	}
	/*把圖片與文字（DiscResutBox1與DiscResutBox2）包起來做整理*/
	.DiscResutBoxAll2{
		margin: 5%;
	}
	/*圖片靠左*/
	.DiscResultBox1{
		width:25%;　
		padding:1%;
		border:1px black solid;
		margin-right:10%;
		float:left;
	}
	.Discimg{
		width: 100%;
		height: 100%;
		vertical-align : middle;
	}
	/*文字靠右*/
	.DiscResultBox2{
		width:60%;
		padding:1%;
		float:left;
		text-align: left;
	}
	/*下方文字*/
	.DiscResultBox3{
		margin-top: 3%;
		float:left;
		text-align: left;
	}
	/*代表人物*/
	.roleman{
		margin-left: -5%;
		border: 1px solid #394B7A;
		border-radius: 24.5px;
		margin-top: 50%;
		padding-bottom: 8%;
		width: 75%;
		height: 34px;
		font-size: 20px;
		text-align: center;
		background-color: #475882;
		color: #FFFFFF;
		font-family: PingFangTC-Regular;
	}
	.linestyle{
		border: 0;
	    height: 2px;
	    background: #394B7A;
	    background-image: linear-gradient(to right, #A5B6E3, #394B7A, #A5B6E3);
	}


</style>
<script>
var $currDiv = $( "#start0" );
$( "#turnbtn0" ).click(function() {
	$( "#start0" ).hide(0);
  	$( "#start1" ).show(0);
});

var x1  = $( "#start1" );
$( "#turnbtn1" ).click(function() {
  	$( "#start1" ).hide(0);
  	$( "#start2" ).show(0);
});

var x2  = $( "#start2" );
$( "#turnbtn2" ).click(function() {
  	$( "#start2" ).hide(0);
  	$( "#start3" ).show(0);
});

var x3  = $( "#start3" );
$( "#turnbtn3" ).click(function() {
  	$( "#start3" ).hide(0);
  	$( "#start4" ).show(0);
});

var x4  = $( "#start4" );
$( "#turnbtn4" ).click(function() {
  	$( "#start4" ).hide(0);
  	$( "#start5" ).show(0);
});

var x5  = $( "#start5" );
$( "#turnbtn5" ).click(function() {
  	$( "#start5" ).hide(0);
  	$( "#start6" ).show(0);
});

var x6  = $( "#start6" );
$( "#turnbtn6" ).click(function() {
  	$( "#start6" ).hide(0);
  	$( "#start7" ).show(0);
});

var x7  = $( "#start7" );
$( "#turnbtn7" ).click(function() {
  	$( "#start7" ).hide(0);
  	$( "#start8" ).show(0);
});

var x8  = $( "#start8" );
$( "#turnbtn8" ).click(function() {
  	$( "#start8" ).hide(0);
  	$( "#start9" ).show(0);
});

var x9  = $( "#start9" );
$( "#turnbtn9" ).click(function() {
  	$( "#start9" ).hide(0);
  	$( "#start10" ).show(0);
});
</script>
<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
