<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userDisc.js"></script>

<!--HEADER-->
<% include ../header %>
<!--END HEADER-->


<section class="section-disc bg-white" id="disc">
	<% include ../pages/checkFile %>
	<div class="container disc-contain">
		<div id="profile-nav"  class="row col-md-10 col-md-offset-1">
			<ul class="nav nav-tabs profile-ul">
				<li class="active"><a href="/disc">DISC測驗</a></li>
				<li><a href="/profile">個人資料</a></li>
				<li><a href="/files">書審資料</a></li>
			</ul>
		</div>
		<% if( disc !=undefined ) {%>
		<% if( disc.finished == 1 ) {%>
			<div class="row col-xs-12 disc-over">
				<p>
					恭喜您已完成DISC測驗，此測驗不影響徵選結果<br>
					測驗結果為：<%= disc.animal %>
				</p>
			</div>
		<% }else {%>
		<div class="row col-md-10 col-md-offset-1" style="font-size: 13pt;">
			<span>此測驗<b>不影響徵選結果</b>，請選擇一個比較符合你人格特質的敘述，不需要太多思考，憑直覺就可以了！</span>
		</div>
		<div class="row col-md-11  col-md-offset-1 col-xs-offset-0 disc-content">
		
			<form action="/editDisc" method="post" class="form-horizontal">
				<!-- 1 -->
				<div class=" row">
				<div  class="row  col-md-10 col-md-offset-1 col-xs-offset-0">
					<p> 一、在同事（同學）眼中您是一位？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11">
					<% if (disc.q1 == 1) { %>
						<input type="radio" name="q1" value="1" required="" checked>積極、熱情、有行動力的人。
					<% } else { %>
						<input type="radio" name="q1" value="1" required="">積極、熱情、有行動力的人。
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11  col-xs-11 ">
					<% if (disc.q1 == 2) { %>
						<input type="radio" name="q1" value="2" required="" checked>活潑、開朗、風趣幽默的人。 
					<% } else { %>
						<input type="radio" name="q1" value="2" required="">活潑、開朗、風趣幽默的人。 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-10 ">
					<% if (disc.q1 == 3) { %>
						<input type="radio" name="q1" value="3" required="" checked>忠誠、隨和、容易相處的人。
					<% } else { %>
						<input type="radio" name="q1" value="3" required="">忠誠、隨和、容易相處的人。
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q1 == 4) { %>
						<input type="radio" name="q1" value="4" required="" checked>謹慎、冷靜、注意細節的人。 

					<% } else { %>
						<input type="radio" name="q1" value="4" required="">謹慎、冷靜、注意細節的人。 

					<% } %>
					</label>					
				</div>
				</div>
				<!-- <div class=" row">
				<div  class="col-sm-12 col-md-12 col-xs-12 "></div> -->
				<!-- 2 -->
				<div class=" row">
				<div  class="row  col-md-10 col-md-offset-1 "> 
					<p>二、您喜歡看哪一類型的雜誌？  </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q2 == 1) { %>
						<input type="radio" name="q2" value="1" required="" checked>管理、財經、趨勢類。
					<% } else { %>
						<input type="radio" name="q2" value="1" required="">管理、財經、趨勢類。
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q2 == 2) { %>
						<input type="radio" name="q2" value="2" required="" checked>旅遊、美食、時尚類。 
					<% } else { %>
						<input type="radio" name="q2" value="2" required="">旅遊、美食、時尚類。 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q2 == 3) { %>
						<input type="radio" name="q2" value="3" required="" checked>心靈、散文、家庭類。
					<% } else { %>
						<input type="radio" name="q2" value="3" required="">心靈、散文、家庭類。
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q2 == 4) { %>
						<input type="radio" name="q2" value="4" required="" checked>科技、專業、藝術類。 

					<% } else { %>
						<input type="radio" name="q2" value="4" required="">科技、專業、藝術類。 

					<% } %>
					</label>					
				</div>
				</div>
				<!-- <div class=" row">
				<div  class="col-sm-12 col-md-12 col-xs-12 "></div> -->

				<!-- 3 -->

				<div class=" row">
				<div  class="row  col-md-10 col-md-offset-1">
					<p>三、您做決策的方式？ </p>
					<label class="col-sm-1 "></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q3 == 1) { %>
						<input type="radio" name="q3" value="1" required="" checked>希望能立即有效。
					<% } else { %>
						<input type="radio" name="q3" value="1" required="">希望能立即有效。 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q3 == 2) { %>
						<input type="radio" name="q3" value="2" required="" checked>感覺重於一切。 
					<% } else { %>
						<input type="radio" name="q3" value="2" required="">感覺重於一切。 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q3 == 3) { %>
						<input type="radio" name="q3" value="3" required="" checked>有一定的消費習慣，不太喜歡變化。
					<% } else { %>
						<input type="radio" name="q3" value="3" required="">有一定的消費習慣，不太喜歡變化。
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q3 == 4) { %>
						<input type="radio" name="q3" value="4" required="" checked>較注意東西好不好，較有成本觀念。
					<% } else { %>
						<input type="radio" name="q3" value="4" required="">較注意東西好不好，較有成本觀念。
					<% } %>
					</label>					
				</div>
				</div>

				<!-- 4 -->

				<div class=" row">
				<div  class="row  col-md-10 col-md-offset-1">
					<p>四、職務上哪種工作是我最擅長的？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q4 == 1) { %>
						<input type="radio" name="q4" value="1" required="" checked>以目標為導向，有不服輸的精神。
					<% } else { %>
						<input type="radio" name="q4" value="1" required="">以目標為導向，有不服輸的精神。
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q4 == 2) { %>
						<input type="radio" name="q4" value="2" required="" checked>良好的口才，能主動的與人建立友善關係。
					<% } else { %>
						<input type="radio" name="q4" value="2" required="">良好的口才，能主動的與人建立友善關係。
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q4 == 3) { %>
						<input type="radio" name="q4" value="3" required="" checked>能配合團隊，扮演忠誠的擁護者。
					<% } else { %>
						<input type="radio" name="q4" value="3" required="">能配合團隊，扮演忠誠的擁護者。
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q3 == 4) { %>
						<input type="radio" name="q4" value="4" required="" checked>流程的掌握，注意到細節。
					<% } else { %>
						<input type="radio" name="q4" value="4" required="">流程的掌握，注意到細節。
					<% } %>
					</label>					
				</div>
				</div>

				<!-- 5 -->

				<div class=" row">
				<div  class="row  col-md-10 col-md-offset-1">
					<p>五、當面對壓力時，您會？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q5 == 1) { %>
						<input type="radio" name="q5" value="1" required="" checked>用行動力去面對它，並且克服它。
					<% } else { %>
						<input type="radio" name="q5" value="1" required="">用行動力去面對它，並且克服它。
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q5 == 2) { %>
						<input type="radio" name="q5" value="2" required="" checked>希望找人傾吐，獲得認同。
					<% } else { %>
						<input type="radio" name="q5" value="2" required="">希望找人傾吐，獲得認同。
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q5 == 3) { %>
						<input type="radio" name="q5" value="3" required="" checked>逆來順受，儘量避免衝突。
					<% } else { %>
						<input type="radio" name="q5" value="3" required="">逆來順受，儘量避免衝突。
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q5 == 4) { %>
						<input type="radio" name="q5" value="4" required="" checked>重新思考緣由，必要時做精細的解說。 

					<% } else { %>
						<input type="radio" name="q5" value="4" required="">重新思考緣由，必要時做精細的解說。 

					<% } %>
					</label>					
				</div>
				</div>

				<!-- 6 -->

				<div class=" row">
				<div  class="row  col-md-10 col-md-offset-1">
					<p>六、與同事（同學）之間的相處？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q6 == 1) { %>
						<input type="radio" name="q6" value="1" required="" checked>以公事為主，很少談到個人生活。
					<% } else { %>
						<input type="radio" name="q6" value="1" required="">以公事為主，很少談到個人生活。	
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q6 == 2) { %>
						<input type="radio" name="q6" value="2" required="" checked>重視氣氛，能夠帶動團隊情趣。 

					<% } else { %>
						<input type="radio" name="q6" value="2" required="">重視氣氛，能夠帶動團隊情趣。 

					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q6 == 3) { %>
						<input type="radio" name="q6" value="3" required="" checked>良好的傾聽者，對人態度溫和友善。
					<% } else { %>
						<input type="radio" name="q6" value="3" required="">良好的傾聽者，對人態度溫和友善。
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q6 == 4) { %>
						<input type="radio" name="q6" value="4" required="" checked>被動，不會主動與人建立關係。 
					<% } else { %>
						<input type="radio" name="q6" value="4" required="">被動，不會主動與人建立關係。 
					<% } %>
					</label>					
				</div>
				</div>


				<!-- 7 -->

				<div class=" row">
				<div  class="row  col-md-10 col-md-offset-1">
					<p>七、您希望別人如何與您溝通？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q7 == 1) { %>
						<input type="radio" name="q7" value="1" required="" checked>直接講重點，不要拐彎抹角。 
					<% } else { %>
						<input type="radio" name="q7" value="1" required="">直接講重點，不要拐彎抹角。 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q7 == 2) { %>
						<input type="radio" name="q7" value="2" required="" checked>輕鬆，不要太嚴肅。 

					<% } else { %>
						<input type="radio" name="q7" value="2" required="">輕鬆，不要太嚴肅。 

					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q7 == 3) { %>
						<input type="radio" name="q7" value="3" required="" checked>不要一次說太多，要給予明確的支持。
					<% } else { %>
						<input type="radio" name="q7" value="3" required="">不要一次說太多，要給予明確的支持。
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q7 == 4) { %>
						<input type="radio" name="q7" value="4" required="" checked>凡是說清楚，講明白。 

					<% } else { %>
						<input type="radio" name="q7" value="4" required="">凡是說清楚，講明白。 

					<% } %>
					</label>					
				</div>
				</div>

				<!-- 8 -->

				<div class=" row">
				<div  class="row  col-md-10 col-md-offset-1">
					<p>八、要完成一件事情時，您最在意的部份是？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q8 == 1) { %>
						<input type="radio" name="q8" value="1" required="" checked>效果是否有達到。
					<% } else { %>
						<input type="radio" name="q8" value="1" required="">效果是否有達到。
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q8 == 2) { %>
						<input type="radio" name="q8" value="2" required="" checked>過程是否快樂。
					<% } else { %>
						<input type="radio" name="q8" value="2" required="">過程是否快樂。
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q8 == 3) { %>
						<input type="radio" name="q8" value="3" required="" checked>前後是否有改變。 

					<% } else { %>
						<input type="radio" name="q8" value="3" required="">前後是否有改變。 

					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q8 == 4) { %>
						<input type="radio" name="q8" value="4" required="" checked>流程是否正確。 

					<% } else { %>
						<input type="radio" name="q8" value="4" required="">流程是否正確。 

					<% } %>
					</label>					
				</div>
				</div>

				<!-- 9 -->

				<div class=" row">
				<div  class="row  col-md-10 col-md-offset-1">
					<p>九、什麼事情會讓您恐懼？ </p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q9 == 1) { %>
						<input type="radio" name="q9" value="1" required="" checked>呈現弱點，被人利用。 
					<% } else { %>
						<input type="radio" name="q9" value="1" required="">呈現弱點，被人利用。 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q9 == 2) { %>
						<input type="radio" name="q9" value="2" required="" checked>失去認同，被人排擠。
					<% } else { %>
						<input type="radio" name="q9" value="2" required="">失去認同，被人排擠。
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q9 == 3) { %>
						<input type="radio" name="q9" value="3" required="" checked>過度變動，讓人無所適從。
					<% } else { %>
						<input type="radio" name="q9" value="3" required="">過度變動，讓人無所適從。
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q9 == 4) { %>
						<input type="radio" name="q9" value="4" required="" checked>制度不清，標準不一。 

					<% } else { %>
						<input type="radio" name="q9" value="4" required="">制度不清，標準不一。 

					<% } %>
					</label>					
				</div>
				</div>

				<!-- 10 -->

				<div class=" row">
				<div  class="row  col-md-10 col-md-offset-1">
					<p>10.十、哪些是您自覺的缺點？</p>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q10 == 1) { %>
						<input type="radio" name="q10" value="1" required="" checked>沒有耐心。 
					<% } else { %>
						<input type="radio" name="q10" value="1" required="">沒有耐心。 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q10 == 2) { %>
						<input type="radio" name="q10" value="2" required="" checked>欠缺細心。 
					<% } else { %>
						<input type="radio" name="q10" value="2" required="">欠缺細心。 
					<% } %>
					</label>
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q10 == 3) { %>
						<input type="radio" name="q10" value="3" required="" checked>沒有主見。 
					<% } else { %>
						<input type="radio" name="q10" value="3" required="">沒有主見。 
					<% } %>
					</label>	
					<label class="col-sm-1 col-xs-1"></label>
					<label class="col-sm-11 col-xs-11 ">
					<% if (disc.q10 == 4) { %>
						<input type="radio" name="q10" value="4" required="" checked>欠缺風趣。
					<% } else { %>
						<input type="radio" name="q10" value="4" required="">欠缺風趣。
					<% } %>
					</label>					
				</div>
				</div>

				<div class="text-center">
					<hr>
					<button type="submit" class="btn-lg btn-blue" style="color:white;" onclick="discF()">完成測驗</button>
					<script type="text/javascript">
						function discF(){
							confirm("若確定完成，請按下確認鍵");
					
					</script>
				</div>
			</form>
		</div>
		<% } %>
		<% } else { %>
			<div class="row col-xs-12" style="text-align: center;">
				<p>DISC測驗系統異常，請私訊
				<a href="https://www.facebook.com/iloveitseed/?fref=ts" target="_blank">
					粉絲專頁
				</a>
				</p>	
			</div>
		<% } %>
	</div>
	<% if( disc.finished == 1 ) {%>
		<% include ./discResult %>
	<% } %>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
