<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/frontend/userFinish.js"></script>


<!--HEADER-->
<% include ../header %>

<!--END HEADER-->
<section class="section-files" id="files">
	<% include ../pages/checkFile %>
	<div class="container">
		<div class="sub-title clearfix">
			<div></div>
			<div></div>
			<div></div>
			<div>確認報名</div>
		</div>

			
				<div class="row col-md-10 col-md-offset-1" style="margin-top: 5vh;">
					<label for="autobiography" class="col-sm-2 col-xs-12">資料確認：</label>
					<form action="/confirm" method="post">
					<div class="col-sm-8 col-xs-12">
						<p class="formatInfo">
							<%if (req.session.finished != 1){ %>
							1. <a href="/profile">基本資料</a><br>
							2. <a href="/files">個人履歷 / 學生證明</a><br>
							3. <a href="/form">書審問題</a> <br>
							確定不再更改後，請按下此按鈕完成繳交的動作<br>
							<button onclick="finish();" type="button" class="btn btn-purple" style="color:white">完成書審資料</button>
							<% } else{ %>
								您已成功繳交第17屆資訊種子培訓計畫的書審資料
							<% } %>
						</p>
					</div>
					</form>
				</div>
		<!-- <div class="col-xs-12 confirm-btn">
			<form action="/confirm" method="post">
				<div class="text-xs-center">
					<p>當完成撰寫並上傳書審題目和基本資料</p>
					<p>且確定不再更改後，請按下此按鈕完成繳交的動作</p>
					<button type="submit" class="btn-lg btn-blue" style="color:white">完成書審資料</button>
				</div>
			</form>
		</div> -->

		<hr>
		<div class="row col-md-10 col-md-offset-1">
			<label for="autobiography" class="col-sm-2 col-xs-12">完成繳費：</label>
			<div class="col-sm-8 col-xs-12">
				<p class="formatInfo">
					完成資料填寫後，請至貝殼集器繳交100元報名費<br>
					繳交完畢後預計於三個工作天內回覆<br>
					若三天內未收到回覆，請來信至itseed17th@gmail.com詢問<br>
					<a  href=<%= process.env.payLink %> target="_blank">
						<img alt="backme.png" src="/images/index/backme.png" class="backme">
					</a><br>
					<button onclick="window.location.href='https://itseed17.backme.tw/shops/1038'" type="button" class="btn btn-purple" style="color:white">前往繳費</button>
				</p>
				<div class="text-xs-center">
					<!-- <a href=<%= process.env.payLink %> target="_blank"> -->
					<a href="/">
						<button class="btn-lg btn-default" style="font-size: 15px; margin-bottom: 5vh;">回首頁</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
