<script>
	function scroll_if_anchor(href) {
	 	href = typeof(href) == "string" ? href : $(this).attr("href");
	    var fromTop = 133;

	    if(href.indexOf("#") == 0) {
	    	var $target = $(href);
	    	
	        if($target.length) {
	        	$('html, body').animate({ scrollTop: $target.offset().top - fromTop });
	        	if(history && "pushState" in history) {
	        		history.pushState({}, document.title, window.location.pathname + href);
	        		return false;
	        	}
	        }
	    }
	}    
	$(function() {
		scroll_if_anchor(window.location.hash);
    });
</script>

<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<% for(var i = 0; i < datas.length; i++){ %>
	<% if(i%2 == 0){ %>
		<section class="bg-light-gray" id="<%= datas[i].id %>">
	<% } else{ %>
		<section class="bg-white" id="<%= datas[i].id %>">
	<% } %>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h3><%= datas[i].title %></h3>
						<div><%- datas[i].content %></div>	
					</div>
				</div>
			</div>
		</section>
<% } %>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->