<!--HEADER-->
<% include ../header %>
<!--END HEADER-->
<% include ./sub-nav %>
<div class="main-title-div">
	<div class="line-and-circle">
		<div class="line"></div>
		<div class="circle"></div>
	</div>
	<h1>活動資訊</h1>
</div>


<div class="wor">
		<section class="bg-light-gray article ">
				<div class="container">
					<div class="row sharing-content-pp">
						<div class="col-md-10 col-md-offset-1">
								<div class="seminar-word">
							<div class="rec">
								<div class="shtitle">招生說明會</div>
							</div>
							
							<div class="image">
								<img class="seminar-imgae" src="images/activity-seminar.jpg"></img>
							</div>
							
							
									<div class="rec">
											<div class="shtitle">活動時間和地點</div>
									</div>
			
								
								<p>
									政大場時間：6/08（五） 19：00 – 21：00  <br>
									地點：國立政治大學 綜合院館 204教室 <br>
									師大場時間：6/16（五） 19：00 – 21：00  <br>
									地點：臺灣師範大學校本部 正大樓101教室<br>
								</p>
								<div class="rec">
										<div class="shtitle">活動介紹</div>
								</div>	
								<p>
										自行創業？走進大公司？在人生的交叉路口上又要如何抉擇呢？我們嘗試著去突破自我，但對於未知的事物總是有些恐懼。我們被迫在職涯迷思中活出自我，同時也獨自在生涯中的關鍵轉戾點做選擇。資訊種子培訓計畫，15年來持續推動著學生與產業接軌，並指點學生找到自己的生涯方向。歡迎你，與我們一起探討，藉由前輩們的角度，找到適合自己的道路，活出屬於自己的人生。				
									</div>


				<div class="seminar-submit_btn">
					<a href="/apply2">馬上報名</a>
				</div>
			</div>
		</div>
	</div>
</section>
</div>

<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
