<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-workshop">
	<% include ./sub-nav %>
        <div class=" main-titles clearfix">
            <div></div>
            <div></div>
            <div></div>
            <div>活動資訊</div>
        </div>

	<div class="activity-container">
		<h2 class="title">提案作坊</h2>
		<div class="image-div">
			<img alt="workshop.jpg" class="activity-imgae" src="images/index/proposal_16.jpg"></img>
		</div>

		<h2 class="shtitle">活動時間和地點</h2>
		<p>
			<br> 時間：6/22（六） 14:00-16:00
			<br> 地點：國立臺灣大學 第二學生活動中心 704教室
		</p>
		<h2>活動簡介</h2>
		<p>
			商務提案內容建構 <br>
			曾任職於女人迷 BD 的潘怡安學姊，
			將和你分享一份好提案的必備要素，
			帶你逐步建構起提案的邏輯思維
		</p>
		<h2 class="shtitle">講者介紹</h2>
			<p>潘怡安</p>
			<p>- 曾任 吾思傳媒 (女人迷) 品牌開發主任</p>
			<p>- 曾任 寶利拾 Polydice（iCook 愛料理）業務代表</p>
			<p>- 第 10 屆資訊種子 學員 / 行政長</p>
			<p>- 現任第六屆資訊種子校友會會長</p>


		
		<!-- <a href="#"><button id="submit" >尚未解鎖</button></a> -->
			<a href="http://bit.ly/ITseedworkshop_0622"><button id="submit" style="color: black;">報名活動</button></a>
	</div>
</section>
</div>



<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
