<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-workshop">
	<% include ./sub-nav %>
	<div class="main-title-div">
		<div class="line-and-circle">
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<h1>活動資訊</h1>
	</div>

	<div class="activity-container">
		<h2 class="title">履歷面試工作坊</h2>
		<div class="image-div">
			<img alt="workshop.jpg" class="activity-imgae" src="images/activity-workshop.jpg"></img>
		</div>

		<h2 class="shtitle">活動時間和地點</h2>
		<p>
			第一場時間：6/17（日） 14：00 – 16：00
			<br> 第二場時間：6/24（日） 14：00 – 16：00
			<br> 地點：新北市電腦商業同業公會（台北市中山區民權西路 19 號 9 樓）
		</p>
		<h2>活動介紹</h2>
		<p>
			 永遠記得第一次寫履歷，在電腦前靜坐了一個小時，只打了自己的名字。如果可以回到那時候，真希望自己能有一位好教練，給我一些指導，讓我可以交出一份好的作品。但是，時間不能倒流，既然以前的我不夠好，那就讓現在的我來補救吧！這場履歷面試工作坊，將以投遞第十六屆資訊種子作為範例，但是心法是都有所相通的，歡迎各位朋友一起參與，和我一起學習履歷＆面試的小撇步吧！
		</p>
		
		<!-- <a href="#"><button id="submit" >尚未解鎖</button></a> -->
		<a href="/apply"><button>馬上報名</button></a>
	</div>
</section>
</div>



<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
