<!--HEADER-->
<% include ../header %>
<!--END HEADER-->

<section class="section-workshop">
	<% include ./sub-nav %>
	<div class="main-title-div">
		<div class="line-and-circle">
			<div class="line"></div>
			<div class="circle"></div>
		</div>
		<h1>活動資訊</h1>
	</div>

	<div class="activity-container">
		<h2 class="title">職涯工作坊</h2>
		<div class="image-div">
			<img alt="workshop.jpg" class="activity-imgae" src="images/activity-workshop_16.jpg"></img>
		</div>

		<h2 class="shtitle">活動時間和地點</h2>
		<p>
			<br> 時間：6/1（六）14:00-17:00
			<br> 地點：新北市電腦商業同業公會（台北市中山區民權西路 19 號 9 樓）
		</p>
		<h2>活動簡介</h2>
		<p>
			升大三了很迷茫嗎？大四履歷投了都沒下落嗎？碩士快畢業了卻不了解產業嗎？
		</p>
		<p>
			我們邀請到不同產業背景的資種校友，由這些職涯前輩們和你面對面，深聊產業、工作、職場，更了解現在產業脈動、工作環境！
		</p>
		<br>
		<p>1. 上半場_履歷要點</p>
		<p>
			將邀請Dcard人資彭睦潔來提點履歷小撇步
			報名成功即可獲得 #履歷健檢 的機會
		</p>
		<br>
		<p>2. 下半場_產業輪桌論壇</p>


		<p>對人資、設計、數位行銷或是軟體工程師想再深入了解嗎?</p>
		<p>還是對於新創、傳統大公司有所好奇呢?</p>

		<p>我們將邀請四種不同產業背景的資種校友，坐在你面前聊工作、產業脈動
		如果你有很多想問的，歡迎準備你的問題，來跟講師深入交流<p>
		<h2 class="shtitle">講者名單</h2>
		<p>#人力資源｜ Dcard 人資 陸睦潔 / Newegg 全球生活網 HR Specialist 何宸瑩</p>
		<p>#設計｜奇想創造 設計師 陳冠瑋</p>
		<p>#數位行銷｜數字科技｜518 事業部擔任行銷專員 薛翔文</p>
		<p>#軟體科技｜貝殼放大 / INSIDE 硬塞的網路趨勢觀察 共同創辦人 王佑哲</p>


		
		<!-- <a href="#"><button id="submit" >尚未解鎖</button></a> -->
			<a href="http://bit.ly/ITseedworkshop_0601"><button id="submit" >報名活動</button></a>
	</div>
</section>
</div>



<!--FOOTER-->
<% include ../footer %>
<!--END FOOTER-->
