<script id="Owl_Carousel-options" type="text/x-handlebars-template">
    <div class='form-group'>
        <label>播放間隔</label>
        <select class='form-control' name='autoPlay'>
            {{#select autoPlay}}
            <option value='false'>(手動換頁)</option>
            <option value='1000'>1秒</option>
            <option value='2000'>2秒</option>
            <option value='3000'>3秒</option>
            <option value='4000'>4秒</option>
            <option value='5000'>5秒</option>
            <option value='6000'>6秒</option>
            <option value='7000'>7秒</option>
            <option value='8000'>8秒</option>
            <option value='9000'>9秒</option>
            <option value='10000'>10秒</option>
            {{/select}}
        </select>
    </div>
    <div class='form-group'>
        <label>顯示圖片數</label>
        <select class='form-control' name='items'>
            {{#select items}}
            <option value='1'>1張</option>
            <option value='2'>2張</option>
            <option value='3'>3張</option>
            <option value='4'>4張</option>
            <option value='5'>5張</option>
            {{/select}}
        </select>
    </div>
</script>