<script id="Owl_Carousel-slider" type="text/x-handlebars-template">
    <div id='{{id}}' class='owl-carousel'>
        {{#each imgArr}}
            <div> {{{this}}} </div>
        {{/each}}
    </div>
</script>