/*
	CSS書寫順序
	1.位置屬性(position, top, right, z-index, display, float等)
	2.大小(width, height, padding, margin)
	3.文字系列(font, line-height, letter-spacing, color- text-align等)
	4.背景(background, border等)
	5.其他(animation, transition等)
*/

//全域元件

body {
    position: relative;
    /*padding-bottom: 90px;*/
    min-height: 100vh;
	font-family: '微軟正黑體';
}
.font-ms{
    font-family: '微軟正黑體';
}
p{
    font-family: '微軟正黑體';
}

.full-width {
    width: 100%;
}

.no-padding {
  padding: 0px !important;
}

.red {
    color: red;
}

.bg-white {
    background-color: white;
}

.bg-light-gray {
	background-color: @light-gray;
}

.btn-green {
    // color: white;
    background-color: @green;
    border: none;

    &:hover {
        // color: white;
        background-color: @dark-green;
    }
}

button:focus{
    outline:none
}

//頁首
@nav-fixed-height: 67px;
@nav-border-bottom-width: 3px;
@nav-padding: 15px;




body>header {
    // height: 25px;
    @media(max-width:767px) {
        height: @nav-fixed-height;
    }

	>nav.navbar-default {
        height: inherit;

	    /*border-bottom: solid @nav-border-bottom-width;
        border-bottom-color: @green;*/
	   // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        //background-color: white;
       
        >div.container {
            height: calc(@nav-fixed-height - @nav-border-bottom-width);
            margin-top: 20%;
            @media(max-width:767px) {
                background-color: inherit;
            }
            div.navbar-header {
                //margin-left: -30px;
                @media(max-width:767px) {
                    height: @nav-fixed-height;
                }
                padding: @nav-padding;

                .navbar-toggle {
                    float: left;
                    margin-right: 0px;
                    border: 0px;
                    background-color: @green;

                    .icon-bar {
                        background-color: #fff;
                    }
                }
                .navbar-brand {
                    padding: 0px;
                  
                    @media(max-width:767px) {
                        float: none;
                        line-height: calc(@nav-fixed-height - 2 * @nav-padding);
                    }

                    >img {
                        max-width: 100%;
                        max-height: 100%;

                        @media(max-width:767px) {
                            display: inline;
                            margin: 0 auto;
                        }
                    }
                }
            }
            div.navbar-collapse {
                margin-top: 10px;
                //margin-right: -50px;
                max-height: none;
                background-color: transparent;
                @media(max-width:767px) {
                    background-color: inherit;
                }

                .login-area{
                    float: right;

                    li a {
                        margin: 15px 0px 0px 10px;
                        padding: 10px 20px;
                        font-size: 16px;
                        color: #11D392;
                        background-color: transparent;
                        border: 2px solid #11D392;
                        transition: all 0.3s;

                        @media(max-width:767px) {
                            margin: 5px 10px;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: -1;
                            width: 0%;
                            height: 100%;
                            background: #11D392;
                            transition: all 0.3s;
                        }
                        &:hover{
                            // color: white;

                            &:after {
                              width: 100%;
                            }
                        }
                    }

                    @media(max-width:767px) {
                        float: none;
                        margin: 0px -15px;
                        text-align: center;

                        li {
                            display: block;

                            a {
                                color: white;
                                background: @green;

                                &:hover {
                                    // background: @dark-green;
                                }
                            }
                        }
                    }
                }

                .main-nav {
                    clear: both;

                    @media(max-width:767px) {
                        margin: 0px -15px;
                    }

                    >li>a {
                        top: 0px;
                        color: white;
                        border-width: 0px 1px 0px 1px;
                        border-radius: 4px 4px 0px 0px;
                        border-color: @green;
                        border-style: solid;
                        background: @light-green;
                        box-shadow: 0 3px @green;
                        transition: all 0.1s;

                        &:hover, &[aria-expanded="true"] {
                            top: -3px;
                            color: @green;
                            background-color: @light-yellow;
                        }

                        @media(max-width:767px) {
                            border-width: 0px 1px 2px 1px;
                        }
                    }
                    >li.active>a {
                        top: -3px;
                        color: @green;
                        background-color: @light-yellow;
                    }
                    ul.dropdown-menu {
                        padding: 0px 0px 3px 0px;
                        width: 100%;
                        min-width: 0px;
                        background-color: @green;

                        >li>a {
                            color: white;
                            border-width: 1px 1px 0px 1px;
                            border-color: @green;
                            border-style: solid;
                            background: @light-green;

                            @media(max-width:767px) {
                                border-width: 0px 1px 1px 1px;
                                color: @green;
                                background-color: white;
                            }

                            &:hover, &:focus {
                                // color: @green;
                                // background-color: @light-yellow;
                            }
                        }
                    }
                }
            }
            >button {
                @media(min-width:768px) {
                    display: none;
                }

                float: right;
                margin-top: -1px;
                margin-right: -15px;
            }
        }
	}
}

//主內容
body>section {
    padding-top: 30px;
    padding-bottom: 30px;

    &#index, &#newsList {
        tbody>tr {
            a {
                color: #6BC1B8;
            }
        }
        tbody>tr:hover {
            background-color: @light-yellow;

            a:hover {
                // color: #2D6F67;
                text-decoration: none;
            }
        }
    }
    &#businessVisitList {
      padding-bottom: 0px;
    }

    &#profile, &#disc, &#files, &#memberList, &#project, &#instructor {
        ul {
            font-weight: bold;

            li>a {
                color: @green;

                &:hover {
                    background-color: @light-yellow;
                }
            }
            li.active>a {
                color: #555;
            }
        }
    }
}

//頁尾

body > footer {
/*    position: absolute;*/
    bottom: 0px;
    padding: 40px 0;
    width: 100%;
    text-align: center;
    color: #a2a2a2;
    // background-color: @dark-gray;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    span.copyright {
        line-height: 40px;
    }
}

.article img {
  padding: 5px;
  border: solid 1px #F0F0F0;
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

.backend-login {
    color: gray;
}

#signin , #account-profile,#signout{
  margin-top: 5px;
  margin-left: 3px;
  padding: 0;
  border: solid;
  border-color: #6BC1B8;
  border-radius: 7px,0px,0px,7px;
  a {
    color: #6BC1B8;
    font-size: 16px;
  }
  &:hover, &:focus {
    a {
      color: white;

    }
    background-color: #6BC1B8;
    text-decoration: none;
    -o-transition: background-color .20s linear;
    -webkit-transition: background-color .20s linear;
    -moz-transition: background-color .20s linear;
    transition:  background-color .20s linear;
  }
}

.page-title {
  color: @main-green;
}

.title-underline {
  color: @main-green;
}

.subtitle {
  color: @deep-green;
}

.comma {
  color: @bright-green;
}

.circle-shape {
  line-height: 80px;
}

.flowcircle > .flownumber {
  line-height:80px;
  color:white;
}

.flowbody {
  background-color: @background-green;
}

.flowbody-content {
  line-height: 30px;
}

.text-xs-center{
    text-align: center;
}

.main-title{
    margin: 0 auto;
    background-color: #CAE7D6;
    width: 160px;
    text-align: center;
    font-size: 16pt;
}

.program-title{
    text-align: center;
    >h2{
        position: relative;
        display: inline-block;
        >b{
            &:after{
                background: #CAE7D6;
                content:'';
                width: 140px;
                height: 30px;
                position: absolute;
                top: 10px;
                left: -40px;
                z-index:-1;
            }
        }
    }
}
.program-4-title{
    text-align: center;
    >h2{
        position: relative;
        display: inline-block;
        >b{
            &:after{
                background: #CAE7D6;
                content:'';
                width: 140px;
                height: 30px;
                position: absolute;
                top: 10px;
                left: -10px;
                z-index:-1;
            }
        }
    }
}

.program-4-title{
    margin-top: 70px;
    div{
        text-align: center;
        margin: 30px 0 30px 0;
        span{
            padding: 5px 10px;
            // border: 1px solid ;
            border-width: 1px;
            border-style: solid;
            font-size: 16pt;
        }
    }
    p{
        text-align: center;
    }
}

.title-title{
    text-align: center;
    margin: 30px 0 30px 0;
    span{
        padding: 5px 10px;
        // border: 1px solid ;
        border-width: 1px;
        border-style: solid;
        font-size: 16pt;
    }
}

.word-12pt{
    font-size: 12pt;
}
.word-18pt{
    font-size: 18pt;    
}
.project-content-style{
    margin-right:5%;
    margin-left: 5%;
    line-height: 30px;
    font-size: 13pt;
}
@media screen and (min-width: 0px) and (max-width: 730px) {
    .project-content-style{
        font-size: 12pt;
    }
}

@main-color: #78C8C1;
.main-color{
    color: @main-color;
}
.main-color-br{
    border-color: @main-color;
}

@faq:#76C197;
.faq-br{
    border-color:@faq;
}

@aboutITSeed:#f09192;
.aboutITSeed-br{
    border-color:@aboutITSeed;
}

@aboutNTCA:#FFCC33;
.aboutNTCA-br{
    border-color:@aboutNTCA;
}

@regInfo:rgb(0,133,194);
.regInfo-color{
    color:@regInfo;
}

@memberList:rgb(199,221,245);
.member-color{
    color: @memberList;
}
.member-color-br{
    border-color: @memberList;
}
.member-color-bg{
    background-color: @memberList;
}

