<script>
    $(function() {
        $('.summernote').summernote();
        $("#page-wrapper").css("height", window.innerHeight-50);
        $(".note-editable").css("height", window.innerHeight-50-64-43-20);
        $(".note-codable").css("height", window.innerHeight-50-64-43-20);
        $("#setting").css("height", window.innerHeight-50-64);
        $(".note-editor").css("height", window.innerHeight-50-64);
        
        $(".preview").click(function() {
            function submit(action, method, values) {
                var form = $("<form/>", {
                    action: action,
                    method: method,
                    target: "_blank"
                });
                $.each(values, function() {
                    form.append($("<input/>", {
                        type: "hidden",
                        name: this.name,
                        value: this.value
                    }));    
                });
                form.appendTo('body').submit();
            }

            submit("/preview", "POST", [
                { name: "method", value: "post" },
                { name: "url", value: "/cms/previewVideo" },
                { name: 'title', value: $("input.title").val() },
                { name: "content", value: $('.summernote').code() }
            ]);
        });
    });
</script>
<div id="wrapper">
    <!--HEADER-->
    <% include ../header %>
    <!--END HEADER-->

    <div id="page-wrapper" class="no-padding">
        <header class="editor-header">
            <form>
                <input type="text" class="form-control title" placeholder="文章標題">
                <span>
                    <button type="button" class="btn btn-default">發佈/更新</button>
                    <button type="button" class="btn btn-default">儲存/還原為草稿</button>
                    <button type="button" class="btn btn-default preview" target="_blank">預覽</button>
                    <button type="button" class="btn btn-default">關閉</button>
                </span>
            </form>
        </header>

        <!--ASIDE-->
        <% include ../editor-setting %>
        <!--END ASIDE-->
        
        <div class="summernote">
        </div>
    </div>
</div>