<script src="/js/specifies/jquery.validate.min.js"></script>
<script src="/js/specifies/messages_zh_TW.min.js"></script>
<script src="/js/specifies/backend/login.js"></script>

<div class="login-part" style="margin-top: 100px;">
    <div class="title-title">
        <span class="main-color-br">- 後台登入 -</span>
    </div>
    <div class="login-main">
        <form action="/backend/login" method="post">
            <div>
                <span>
                    <img alt="" src="/images/layout/ACCOUNT.png"> 帳號：</span>
                <input class="btn-block" autofocus="autofocus" name="email" placeholder="電子信箱" type="email">
            </div>
            <div>
                <span>
                    <img alt="" src="/images/layout/LOCK.png"> 密碼：</span>
                <input class="btn-block" name="pwd" placeholder="密碼" type="password">
            </div>
            <div>
                <input class="login-btn" id="login-btn" type="submit" value="登入">
            </div>
        </form>
    </div>
</div>