<script>
    $(function() {
        $("#page-wrapper").css("height", window.innerHeight-100);

        $("input[type=radio][name=device]").change(function() {
            if (this.value == "desktop") {
                $("#page").css("width", "992px");
            }
            else if (this.value == "tablet") {
                $("#page").css("width", "768px");
            }
            else{
                $("#page").css("width", "320px");
            }          
        });
    });
</script>

<div id="wrapper">
    <!--HEADER-->
    <% include ../header %>
    <!--END HEADER-->
    <div class="device-selector">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active">
                <input type="radio" name="device" value="desktop">電腦
            </label>
            <label class="btn btn-default">
                <input type="radio" name="device" value="tablet">平板
            </label>
            <label class="btn btn-default">
                <input type="radio" name="device" value="phone">手機
            </label>
        </div>
    </div>
    <div class="preview" id="page-wrapper">
        <div class="frame">
            <iframe id="page" src="<%= url%>"></iframe>
        </div>
    </div>
</div>
