.program-intro-title{
    text-align: center;
    font-family: '微軟正黑體';
    >h2{
        position: relative;
        display: inline-block;
        >b{
            &:after{
                background: rgb(252,228,228);
                content:'';
                width: 140px;
                height: 30px;
                position: absolute;
                top: 10px;
                left: -10px;
                z-index:-1;
            }
        }
    }
}
.mid-banner{
    margin-top:30px;
    background:rgb(240,145,146);
    color:white;
    height:100px;
        .banner-content{
            text-align: center;
            font-size:2.5rem;
            padding-top:36px;
            // margin: auto 0;
            display: inline-block;
        }
}
@media screen and (min-width: 1px) and (max-width: 768px) {
    .mid-banner{
        text-align: center;
        .banner-content{
            width: 23%;
            font-size: 2rem;
        }
    }
}
@media screen and (min-width: 1px) and (max-width: 494px) {
    .mid-banner{
        height: 164px;
        .banner-content{
            width: 40%;
            font-size: 2rem;
        }
    }
}

.four-big{
    margin-top:60px;
    margin-bottom:60px;
    text-align: center;
    .col-sm-3{
        text-align: left;
        hr{
            border-color: grey;
        }
        .four-big-title{
            font-size: 15pt;
           span{
                font-size: 24pt;
            }
        }
        >div{
            background-color: #FBE0E0;
            // border:solid 1px rgb(240,145,146);
            margin:10px 10px;
            height:180px;
            padding:15px 5px;

        }
    }
    @media screen and (min-width: 1px) and (max-width: 768px) {
        .row{
            >div{
                vertical-align: top;
                margin: 0;
                width: 49%;
                display: inline-block;
                span{
                    // font-size: 12pt;
                }
                >div{
                    height: 190px;
                }
            }
        }
    }
    @media screen and (min-width: 1px) and (max-width: 450px) {
        margin-top:40px;
        .row{
            >div{
                vertical-align: top;
                margin: 0;
                width: 100%;
                display: inline-block;
                span{
                    // font-size: 12pt;
                }
                >div{
                    height: 190px;
                }
            }
        }
    }
}
