<aside>
	<div id="menu" class="accordion">
        <h3>文章管理</h3>
        <ul>
            <li class="has-sub" id="news"><a href="#"><span>最新消息</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/news/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/news/draft"><span>草稿</span></a></li>
                    <li class="schedule"><a href="/cms/list/news/schedule"><span>已排程</span></a></li>
                    <li class="publish"><a href="/cms/list/news/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="super"><a><span>關於資種</span></a></li>
            <li class="sub has-sub" id="aboutNTCA"><a href="#"><span>公會簡介</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/aboutNTCA/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/aboutNTCA/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/aboutNTCA/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="sub has-sub" id="aboutITSeed"><a href="#"><span>計畫簡介</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/aboutITSeed/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/aboutITSeed/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/aboutITSeed/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="sub has-sub" id="memberList"><a href="#"><span>歷屆名單</span></a>
                <ul class="text-right"> 
                    <li class="all"><a href="/cms/list/memberList/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/memberList/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/memberList/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="sub has-sub" id="courseList"><a href="#"><span>歷屆課程</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/courseList/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/courseList/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/courseList/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="super"><a><span>培訓內容</span></a></li>
            <li class="sub has-sub" id="courseInfo"><a href="#"><span>講座課程</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/courseInfo/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/courseInfo/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/courseInfo/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="sub has-sub" id="businessVisit"><a href="#"><span>企業參訪</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/businessVisit/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/businessVisit/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/businessVisit/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="sub has-sub" id="project"><a href="#"><span>專案實作</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/project/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/project/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/project/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="sub has-sub" id="overseaVisit"><a href="#"><span>海外參訪</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/overseaVisit/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/overseaVisit/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/overseaVisit/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="has-sub" id="instructor"><a href="#"><span>講師介紹</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/instructor/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/instructor/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/instructor/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="has-sub" id="sharing"><a href="#"><span>經驗分享</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/sharing/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/sharing/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/sharing/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="super"><a><span>招生訊息</span></a></li>
            <li class="sub has-sub" id="regInfo"><a href="#"><span>報名資訊</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/regInfo/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/regInfo/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/regInfo/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="sub has-sub" id="regFile"><a href="#"><span>書審資料</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/regFile/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/regFile/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/regFile/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="sub has-sub" id="timeline"><a href="#"><span>重要時程</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/timeline/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/timeline/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/timeline/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="has-sub" id="faq"><a href="#"><span>常見問題</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/faq/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/faq/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/faq/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class="has-sub" id="video"><a href="#"><span>影音專區</span></a>
                <ul class="text-right">
                    <li class="all"><a href="/cms/list/video/all"><span>全部</span></a></li>
                    <li class="draft"><a href="/cms/list/video/draft"><span>草稿</span></a></li>
                    <li class="publish"><a href="/cms/list/video/publish"><span>已發佈</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>