<script>
    ( function( $ ) {
        $( document ).ready(function() {
            $('#setting li.has-sub>a').on('click', function(){
                $(this).removeAttr('href');
                var element = $(this).parent('li');
                if (element.hasClass('open')) {
                    element.removeClass('open');
                    element.find('li').removeClass('open');
                    element.find('div.settings').slideUp();
                }
                else {
                    element.addClass('open');
                    element.children('div.settings').slideDown();
                    element.siblings('li').children('div').slideUp();
                    element.siblings('li').removeClass('open');
                    element.siblings('li').find('li').removeClass('open');
                    element.siblings('li').find('ul').slideUp();
                }
            });
        });
    } )( jQuery );
</script>


<aside>
	<div id="setting" class="accordion">
		<div class="title">文章設定</div>
        <ul>
        	<li class='has-sub'>
        		<a href='#'><i class="fa fa-tag fa-fw"></i><span>標籤</span></a>
        		<div class="settings">
        			<form action="">
        				<textarea name="" id="" cols="30" rows="10"></textarea>
        				<p>以逗號區隔標籤</p>
        				<p>
        					夏天, 是, 地表第一, 大, 帥哥
        				</p>
        				<button type="submit" class="btn btn-default">完成</button>
        			</form>
        		</div>
        	</li>
        	<li class='has-sub last'>
        		<a href='#'><i class="fa fa-calendar fa-fw"></i><span>日期和時間</span></a>
        		<div class="settings">
        			<form action="">
        				<div class="radio">
        					<label>
        						<input type="radio" name="time" value="auto" checked>
								自動
        					</label>
        				</div>
        				<div class="radio">
        					<label>
        						<input type="radio" name="time" value="manual">
        						設定日期及時間
        					</label>
        				</div>
        				<button type="submit" class="btn btn-default">完成</button>
        			</form>
        		</div>
        	</li>
        </ul>
    </div>
</aside>