<header>
<!-- 導覽列 -->
	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            
            <ul class="main-nav nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="/cms">資訊種子招生網站 後台管理系統 v1.0</a>
                </li>
            <% if(req.session.authorized.systemSetting) { %>
                <li>
                    <a href="/systemSetting">系統設定</a>
                </li>
            <% } %>
            <% if(req.session.authorized.cms) { %>
                <li>
                    <a href="/cms">文章管理</a>
                </li>
            <% } %>
                <li>
                    <a href="/cms/accounts">帳戶管理</a>
                </li>
                <li>
                    <a href="/cms/applicants">報名者資料</a>
                </li>
            </ul>
            <ul class="login-area nav navbar-nav navbar-right">
                <li><a href="/">回到首頁</a></li>
                <li><a href="/backend/profile">我的帳戶</a></li>
                <li><a href="/logout">登出</a></li>
            </ul>
        </div>
    </nav>
</header>
<link rel="stylesheet" href="/styles/backend/plugins/jquery.datetimepicker.css">
<link rel="stylesheet" href="/styles/backend/plugins/owl.carousel.css">
<link rel="stylesheet" href="/styles/backend/plugins/owl.theme.css">
<link rel="stylesheet" href="/styles/backend/plugins/owl.transitions.css">
<link rel="stylesheet" href="/styles/dependencies/summernote.css">
<link rel="stylesheet" href="/styles/dependencies/timeline.css">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">

<script src="/js/dependencies/summernote.min.js"></script>
<script src="/js/handlebars-v3.0.3.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/summernote-zh-TW.js"></script>