<script>
    ( function( $ ) {
        $( document ).ready(function() {
            $('#sidebar li.has-sub>a').on('click', function(){
                $(this).removeAttr('href');
                var element = $(this).parent('li');
                if (element.hasClass('open')) {
                    element.removeClass('open');
                    element.find('li').removeClass('open');
                    element.find('ul').slideUp();
                }
                else {
                    element.addClass('open');
                    element.children('ul').slideDown();
                    element.siblings('li').children('ul').slideUp();
                    element.siblings('li').removeClass('open');
                    element.siblings('li').find('li').removeClass('open');
                    element.siblings('li').find('ul').slideUp();
                }
            });

            $('#sidebar>ul>li.has-sub>a').append('<span class="holder"></span>');
        });
    } )( jQuery );
</script>

<aside>
	<div id="menu">
        <ul>
            <li><a href='#'><span>首頁</span></a></li>
            <li class='has-sub'><a href='#'><span>最新消息</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li><a href='#'><span>已排程()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li><a href='#'><span>關於資種</span></a></li>
            <li class='sub has-sub'><a href='#'><span>公會簡介</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='sub has-sub'><a href='#'><span>計畫簡介</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='sub has-sub'><a href='#'><span>歷屆名單</span></a>
                <ul class="text-right"> 
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='sub has-sub'><a href='#'><span>歷屆課程</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li><a href='#'><span>培訓內容</span></a></li>
            <li class='sub has-sub'><a href='#'><span>講座課程</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='sub has-sub'><a href='#'><span>企業參訪</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='sub has-sub'><a href='#'><span>專案實作</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='sub has-sub'><a href='#'><span>海外參訪</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='has-sub'><a href='#'><span>講師介紹</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='has-sub'><a href='#'><span>經驗分享</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li><a href='#'><span>招生訊息</span></a></li>
            <li class='sub has-sub'><a href='#'><span>報名資訊</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='sub has-sub'><a href='#'><span>書審資料</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='sub has-sub'><a href='#'><span>重要時程</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='has-sub'><a href='#'><span>常見問題</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
            <li class='has-sub'><a href='#'><span>影音專區</span></a>
                <ul class="text-right">
                    <li><a href='#'><span>全部()</span></a></li>
                    <li><a href='#'><span>草稿()</span></a></li>
                    <li class='last'><a href='#'><span>已發佈</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</aside>