.logo{
	display: inline-block;
	border:1px solid black;
	/*width: 200px;*/
	/*height: 30px;*/
}
.bar{
	// float: right;
	margin-top: 14px;
	display: inline-block;
	list-style-type: none;
	font-size: 16px;
	>li{
		display: inline-block;
		// display: block;
		width: 80px;
		position: relative;
		a{
			color:#95989A;
		}
		a:hover{
			text-decoration: none;
			padding-bottom:3px;
			// border-bottom: 4px solid green;
			cursor: pointer;
		}
		ul{
			// display: inline;
			width: 80px;
			position: absolute;
			// margin-left: -20px;
			background-color: transparent;
			// border: 1px solid black;
			box-shadow: none;
			-webkit-box-shadow:none;
			left: 0;
			margin-top: 5px;
			padding:10px 5px;
			background-color: white;
			border: 1px solid #95989A;
			li{
				// display: inline-block;
				padding-top: 2px;
				margin: 0 2px;
				// padding: 0;
				a{
					padding:0;
					margin: 0;
					padding-bottom: 1px;
				}
				a:hover{
					padding:0;
					border-bottom: 1px solid #95989A;
				}
			}
			li:hover{
				padding-bottom: 0;
				
			}
		}
	}
	#signin{
		width:75px;
		background-color: green;
		padding:3px 5px;
		border: 0px;
		border-radius: 10px;
		a{
			color: white;

		}
	}
}
.bar{
	// display: inline-block;
	// ul{
	// 	padding-left:0;
	// 	li{
	// 		display: inline-block;
	// 		list-style-type: none;
	// 		width: 60px;
	// 		text-align: center;
	// 		a{
	// 			color:black;
	// 		}
	// 		a:hover{
	// 			text-decoration: none;
	// 			ul{
	// 				display: block;
	// 			}
	// 		}
	// 	}
	// 	li>ul{
	// 		display: none;
	// 	}
	// }
}



// footer


.fb{
	img{
		width: 40px;
	}
	color: #a2a2a2;
}
.fb:hover{
	text-decoration: none;
	color: #a2a2a2;
}
.ntca{
	margin-left:20%;
	text-align: left;
	a{
		display: inline;
	}
	img{
		width: 80px;
		margin: 0;
	}
}