.section-careerSharingContent .careerSharingContent-container{
    width:65%;
    margin:0 auto;
    color: #000;
    .share-in-title{
        font-size: 36px;
        font-weight: 500;
        line-height: 2;
        letter-spacing: 1.2px;
        color: #000;
    }
    .mentor-name{
        font-size: 20px;
        letter-spacing: 0.7px;
        margin-bottom:20px;
    }
    .content{
        width:80%;
        margin:0 auto;
        margin-bottom:100px;
        .foreword{
            margin:48px 0;
            font-size: 20px;
            line-height: 1.71;
            letter-spacing: 0.7px;
            color: @main-light-blue;
        }
        .share-part{
            margin:28px 0;
            h3{
                font-size: 20px;
                font-weight: bold;
                line-height: 2;
                letter-spacing: 0.7px;
                margin:28px 0;
            }
            img{
                display: block;
                width:auto;
                margin:0px auto;
                max-width:90%;
            }
            p{
                font-size: 18px;
                line-height: 2;
                letter-spacing: 0.6px;
                margin:20px 0;
            }
        }
    }
    @media screen and (max-width:991px){
        width:80%;
        .share-in-title{
            font-size: 32px;
        }
    }
    @media screen and (max-width:600px){
        width:90%;
        .share-in-title{
            font-size: 28px;
        }
        .content{
            .share-part{
                h3{
                    font-size:18px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    @media screen and (max-width:600px){
        width:90%;
        .share-in-title{
            font-size: 20px;
        }
        .content{
            h3{
                font-size:16px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}