.careerSharing-section{
    .container{
        position: relative;
        width: 70%;
    }

    .clearfix {
        // overflow: auto;
        clear: both;
    }

    .col-4{
        width: 40%;
        float: left;
        padding:10px 40px;
        
    }

    .col-4 img{
        // width: 100%;
        // height: auto;
        // margin-top: 10px;
        // margin-bottom: 10px;
        width: 222px;
        height: 86px;
        margin: auto auto;
    }

    p{
        font-size: 18px;
        padding-top: 30px;
    }

    .white{
        width: 900px;
        height: 218px;
        background-color: #ffffff;
        box-shadow: 2px 3px 6px 0 #9b9b9b;
    }

    .col-4 .title{
        font-size: 25px;
        line-height: 15px;  
        text-align: center !important;
        margin: 0 auto;
    }

    .text-xs-center back-to-share{
        padding-top: 50px;
    }

    .col-8{
        width: 50%;
        float: left;  
    }
    .col-8 p{
        width: 528px;
        height: 72px;
        font-family: NotoSansCJKtc;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.5px;
        text-align: left;
        color: #4a4a4a;
    }
    .title{
        width: 525px;
        height: 36px;
        font-family: NotoSansCJKtc;
        font-size: 21px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 0.7px;
        text-align: left;
        color: #000000;
    }

}