.section-courseInfo{
    margin-bottom:100px;
    .course-container{
        width:55%;
        margin:0 auto;
        h2{
            line-height: 50px;
            text-align: right;
            font-size: 36px;
            font-weight: 600;
            letter-spacing: 1.2px;
            color: @main-blue;
        }
        h3{
            display: inline-block;
            color: @main-light-blue;
            padding:10px 40px;
            border:1px solid @main-light-blue;
            font-size:20px;
            margin:20px 0;
            transform: translateX(-50%);
        }
        img{
            margin:20px 0;
            width:100%;
        }
        p{
            margin:16px 0;
            font-size:18px;
            letter-spacing: 0.6px;
        }
        ul{
            margin:16px 0;
            li{
                font-size: 18px;
                list-style-type: none;
                margin:0px;
                &:nth-child(odd):before{
                    content:'';
                    display:inline-block;
                    margin-right:36px;
                    height:9px;
                    width:9px;
                    background-color:@main-light-blue;
                    transform: rotate(45deg);
                }
                &:nth-child(even):before{
                    content:'';
                    display:inline-block;
                    margin-right:36px;
                    height:9px;
                    width:9px;
                    border: 1px solid @main-light-blue;
                    transform: rotate(45deg);
                }
            }
        }
        .back-to-course{
            margin:30px auto;
            a{
                padding:8px 16px;
                color:@main-light-blue;
                border: 1px solid @main-light-blue;
                border-radius: 4px;
                &:hover{
                    background-color: @main-light-blue;
                    color: white;
                }
            }
        }
        @media screen and (min-width:551px)and (max-width:990px){
            width:75%;
            h3{
                transform: none;
            }
            ul,p,img{
                padding-left:36px;
            }
        }
        @media screen and (max-width:550px){
            width:90%;
            h3{
                transform: none;
            }
            ul,p,img{
                padding-left:36px;
            }
        }
    }
}