section#faq {
	div.faq {
		margin: 10px 0px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	}
	a.faq-heading {
		display: block;
		padding: 10px 15px;
		color: white;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;

		
		
	}
	a.faq-normal{
		background-color: #6EC2B9;
	}
	a.faq-reg{
		background-color: #70C8D9;
	}
	div.faq-body {
		padding: 15px;
		background-color: white;
	}
}