section#faq {
	div.faq {
		margin: 10px 0px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	}
	a.faq-heading {
		display: block;
		padding: 10px 15px;
		color: white;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		background-color: @green;
	}
	div.faq-body {
		padding: 15px;
		background-color: white;
	}
}