// 藍色子標題
.sub-title{
    display: block;
    clear: both;
    font-size: 36px;  
    div{
        float: left;
        background: #83B9D5;
        height: 66px;
    }
    div:first-child{
        width: 11px;
        opacity: 0.29;
    }
    div:nth-child(2){
        margin-left: 5px;
        opacity: 0.6;
        width: 19px;
    }
    div:nth-child(3){
        margin-left: 5px;
        opacity: 0.9;
        width: 27px;
    }
    div:nth-child(4){
        line-height: 66px;
        color: #ffffff;
        margin-left: 5px;
        opacity: 1;
        width: 173px;
        text-align: center;
    }
}
// 藍色主標題
.main-titles{
    display: block;
    clear: both;
    font-size: 48px;    
    div{
        float: left;
        background: #83B9D5;
        height: 78px;   
    }
    div:first-child{
        width: 11px;
        opacity: 0.29;
    }
    div:nth-child(2){
        margin-left: 5px;
        opacity: 0.6;
        width: 19px;
    }
    div:nth-child(3){
        margin-left: 5px;
        opacity: 0.9;
        width: 27px;
    }
    div:nth-child(4){
        color: #ffffff;
        margin-left: 5px;
        opacity: 1;
        width: 320px;
        line-height: 78px;
        text-align: center;
    }
}
// 
