/*
  CSS書寫順序
  1.位置屬性(position, top, right, z-index, display, float等)
  2.大小(width, height, padding, margin)
  3.文字系列(font, line-height, letter-spacing, color- text-align等)
  4.背景(background, border等)
  5.其他(animation, transition等)
*/

.d-line{
    margin-top:0;
    display: block;
    width: 30%;
    border-top: 3px solid #CAE7D6;
}

.main{
    width: 100%;
    margin:5% 0;
    position: relative;
    img{
        position: relative;
        width:100%;
    }
    .circle{
        width:50%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        overflow: hidden;
        background-color: white;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
        border-radius: 100%;
        &:before{
            content: "";
            display: block;
            padding-top: 100%; 	/* initial ratio of 1:1*/
        }
    }
    .content{
        width:100%;
        position:  absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        h2{
            font-size:28px;
            color:@main-blue;
            line-height: 40px;
        }
        div{
            padding:8px;
            p{
                line-height:20px;
                font-size:16px;
            }
        }
        @media screen and (min-width: 860px) and (max-width: 1024px) {
            h2{
                font-size:20px;
                color:@main-blue;
                line-height: 32px;
            }
            div{
                padding:4px;
                p{
                    line-height:16px;
                    font-size:14px;
                }
            }
        }
    }
}
@media screen and (min-width: 1px) and (max-width: 859px) {
    .main{
        img,.circle{
            display: none;
        }
        .content{
            position: static;
            transform: initial;
        }
    }
}

.fourDiv{
    >div{
        margin:5% 0;
        text-align: center;
        .tilteDiv{
            width:100%;
            .imgDiv{
                display:flex;
                justify-content: center;
                align-items: center;
                margin:0 auto;
                width:30%;
                height:100px;
                img{
                    width:100%;
                }
            }
            p{
                font-size: 20px;
                line-height: 36px;
                color:@main-blue;
            }
        }
        p{
            font-size: 14px;
            line-height:12px;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    .fourDiv{
        >div{
            .tilteDiv{
                .imgDiv{
                    width:35%;
                    height:150px;
                }
            }
        }
    }
}
@media screen and (min-width: 1px) and (max-width: 767px) {
    .container-no-pad{
        padding:0;
    }
    .fourDiv{
        >div{
            .tilteDiv{
                .imgDiv{
                    width:15%;
                    height:150px;
                }
            }
        }
    }
}


.attend{
    // display: block;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 14pt;
    button{
        margin:5% 0;
        width: 160px;
        height: 50px;
        border-radius: 40px;
        border: 2px solid @main-blue;
        transition: 0.3s;
        background-color: transparent;
        box-shadow: 1px 1px 2px grey;
        a{
            color: @main-blue;
            font-size: 20px;
            text-decoration: none;
        }
    }
    button:hover{
        background-color: @main-blue;
        box-shadow: 1px 1px 2px lightgrey;
        a{
            color:white;
        }
    }
}

.section-index{
    .landing-img{
        width:100%;
        margin-top:-2%;
    }
}

// div#indexCarousel {
//     .carousel-inner{
//         overflow: hidden;
//         max-height:calc(~'100% - 67px');
//         .mark-pic{
//             display: inline-block;
//             position: relative;
//             top:50%;
//             transform:translateY(-50%);
//             >img{
//                 width: 25px;
//                 height: 30px;
//             }
//         }
//     }
// }

.fourtitle{
    color: @main-blue;
    text-align: center;
    line-height: 36px;
    font-size: 28px;
}
@media screen and (min-width: 1px) and (max-width: 550px) {
    .fourtitle{
        font-size: 24px;
    }
}


.sign{
  margin-top: 50px;
  margin-bottom: 30px;
}


/* Harry */
/******************************************/

.data{
    overflow: hidden;
    height:600px;
    position: relative;
    .whatyouget,.counter{
        position: relative;
        display:flex;
        justify-content: space-around;
        align-items: center;
        width:60%;
        margin: 50px 0;
        transition: 1.5s;
        .number{
            text-align: center;
            color: #FFFFFF;
            .number1{
                font-size: 28px;
                font-weight: bold;
            }
            .number2{
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .whatyouget{
        transform: translateX(-100%);
        height:150px;
        border-radius:0 75px 75px 0px;
        background: linear-gradient(to left,#F8BA00,#F27200);
        &.scroll{
            transform: translateX(0);
        }
    }
    .counter{
        float:right;
        transform: translateX(100%);
        height:150px;
        border-radius:75px 0 0 75px;
        background: linear-gradient(to right,#F8BA00,#F27200);
        &.scroll{
            transform: translateX(0);
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .data{
        .whatyouget,.counter{
            width:80%;
        }
    }
}


@media screen and (min-width: 1px) and (max-width: 768px) {
    .data{
        .whatyouget,.counter{
            width:100%;
        }
    }
}
