/*
  CSS書寫順序
  1.位置屬性(position, top, right, z-index, display, float等)
  2.大小(width, height, padding, margin)
  3.文字系列(font, line-height, letter-spacing, color- text-align等)
  4.背景(background, border等)
  5.其他(animation, transition等)
*/

.d-line{
    margin-top:0;
    display: block;
    width: 30%;
    border-top: 3px solid #CAE7D6;
}

.threeReason{
    padding: 0 40px;
    >div{
        text-align: center;
        >div{
            height: 200px;
            width: 200px;
            border-radius: 100%;
            border: 2px solid #CAE7D6;
            border: 2px solid #A4DAEC;
            margin: 30px auto 10px;
            // background-image: url("/images/index/test-bg.png");
            img{
                margin-top:15%;
                width: 55%;
            }
            p{
                padding-top: 6px;
                font-size: 14pt;
            }
        }
        >p{
            font-size: 12pt;
        }
    }
}
@media screen and (min-width: 1px) and (max-width: 550px) {
    .container-no-pad{
        padding:0;
    }
    .threeReason{
        margin-right:0;
        margin-left:0;
        padding: 0px;
        >div{
            padding: 0;
            >div{
                height: 120px;
                width: 120px;
                img{
                    width: 40%;
                }
                p{
                    font-size: 12pt;
                }
            }
        }
    }
}
.whatyouget{
    margin: 0 20%;
    border: 3px solid #CAE7D6;
    border-radius: 10px;
    background: url(/images/layout/inbg.png) fixed  no-repeat center center;
    .center{
        margin:0 auto;
        width:220px;
        .line{
            width:100%;
            color:rgb(74, 84, 94);
            text-align: left;
            span{
                display: inline-block;
                line-height:128px;
            }
            span:nth-child(1){
                font-weight: 900;
                font-size:40px;
                &::after{
                    content:'　';
                    font-size:20px;
                }
            }
            span.sort{
                &::before{
                    content:'　';
                    font-size:24px;
                }
            }
            span:nth-child(2){
                font-size:28px;
            }
        }
    }
}

@media screen and (min-width: 1px) and (max-width: 750px) {
    .whatyouget{
        margin: auto 5%;
        background: url(/images/layout/inbg.png);
        p{
            span{
                line-height:100px;
            }
            span:nth-child(1){
                font-size: 36px;
            }
            span:nth-child(2){
                font-size: 20px;
            }
            
        }
    }
}

.attend{
    // display: block;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 14pt;
    button{
        width: 160px;
        height: 50px;
        border: 0px;
        border-radius: 40px;
        background-color: #FFBB00;
        box-shadow: 1px 1px 2px grey;
        a{
            color:white;
            font-size: 16pt;
            text-decoration: none;
        }
    }
    button:hover{
        background-color: #FFD306;
        box-shadow: 1px 1px 2px lightgrey;
    }
}

.section-index{
    .landing-img{
        width:100%;
        margin-top:-2%;
    }
}
// div#indexCarousel {
//     .carousel-inner{
//         overflow: hidden;
//         max-height:calc(~'100% - 67px');
//         .mark-pic{
//             display: inline-block;
//             position: relative;
//             top:50%;
//             transform:translateY(-50%);
//             >img{
//                 width: 25px;
//                 height: 30px;
//             }
//         }
//     }
// }

.fourtitle{
    color: #6BC1B8;
    text-align: center;
    line-height: 40px;
    font-size: 32px;
}


.fourdiv{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    p{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1px) and (max-width: 550px) {
    .fourtitle{
        font-size: 24px;
    }
    .fourdiv{
        margin-top: 10px;
        margin-bottom: 20px;
        p{
            font-size: 16px;
            line-height: 24px;
        }
    }
}


.sign{
  margin-top: 50px;
  margin-bottom: 30px;
}


/* Harry */
/******************************************/

.counter{
    background-color:#6BC1B8;
    margin: 80px 0;
    .number{
        height: 100%;
        margin: 20% 0% 10% 0%;
        text-align: center;
        vertical-align: middle;
        color: #FFFFFF;
        *{
            margin: 0% 0%;
            font-weight: bold;
        }
    }
    .number1{
        font-size: 44px;
    }
    .number2{
        font-size: 30px;
    }
    .number3{
        font-size: 24px;
        color: #027F67;
    }
}










