
.project-background{
    height: 700px;
    background-image: url( ' ../images/ruleIntro/projectBack.jpg ' );
    background-position:top;
    background-repeat: no-repeat;
    padding-left: 5%;
    text-align: center;
}
.intro-Image{

}


.section-projectIntro{
    text-align-last: left;
    margin-bottom:100px;
    .project-background{
        height: 700px;
        background-image: url( ' ../images/ruleIntro/projectBack.jpg ' );
        background-position:top;
        background-repeat: no-repeat;
        background-size:100%;
        padding-left: 5%;
        text-align: center;
        .intro-Image{
            position: absolute;
            width:600px;
            height: 600px;
            left: 0;
            right: 0;
            margin:auto;
            border: none;
            -moz-box-shadow: 1px 1px 5px #999;
            -webkit-box-shadow: 1px 1px 5px #999;
            text-align: center;
            border-radius: 50%;
            box-shadow: 8px 8px 25px;
            background-color: white;
            img{
                position: absolute;
                width: 80%;
                height: 80%;
                border: none;
                left:10%;
                top:0%;
                box-shadow: 0 0 0 0;
            }
        }
        @media screen and (min-width: 0px) and (max-width: 840px) {
            height:400px;
            background-size:200%;
            .intro-Image{
                width:350px;
                height: 350px;
            }
        }
    }
    .intro-container{
        width:100%;
        .projectIntro{
            width:80%;
            margin:0 auto;
            .title{
                display: inline-block;
                padding: 0 15px;
                margin: 32px 0;
                font-size: 28px;
                line-height: 54px;
                text-align: center;
                border: 1px solid @main-light-blue;
                color: @main-light-blue;
            }
            .subtitle{
                color: @main-yellow;
                font-size: 18px;
                line-height:2em;
            }
            span{
                color: @main-yellow;
                font-size:14px;
            }
            .content{
                color: #999;
                font-size: 16px;
                margin-left:32px;
            }
            @media screen and (min-width: 0px) and (max-width: 840px) {
                .title{
                    font-size:24px;
                }
                .subtitle{
                    font-size:16px;
                }
                span{
                    font-size:10px;
                }
                .content{
                    font-size: 14px;
                    margin-left:28px;
                }
            }
        }
    }
}