.seminar-section{
    background-color: #00a9;
}

.sharing-content-pp > div .image img.seminar-imgae{
    width:80%;
}
@media screen and (max-width: 620px) and (min-width: 1px){
    .sharing-content-pp > div .image img.seminar-imgae {
        width: 80%;
    }
}


.seminar-word p{
    font-size: 18px;
    line-height: 35px;
}

.seminar-word{
    margin: 0 auto;
    width:80%;
}

.seminar-submit_btn{
    width: 160px;
    height: 50px;
    border: 0px;
    border-radius: 40px;
    background-color: #FFBB00;
    box-shadow: 1px 1px 2px grey;
    text-align: center;
    margin:30px auto;
    a{
        color:white;
        font-size: 16pt;
        text-decoration: none;
        line-height: 50px;
    }
}
.seminar-submit_btn:hover{
    background-color: #FFD306;
    box-shadow: 1px 1px 2px lightgrey;
}